<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Liste des Constats d'audit</h4>
                        </div>
                        <div class="col-sm-6 col-md-6 text-right" style="margin-right: -2.5%;">
                            <div class="user-list-files d-flex align-items-center overflow-hidden">
                                <a routerLink="/addConstatAudit" class="bg1">
                                    <i class="fas fa-plus" style="margin-right: 10px;"></i> Nouvel élément
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row ">
                            <div class="col-4">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-search" style="font-size: 1rem;"></i>
                                        </span>
                                    </div>
                                    <input style="height: 45px;" type="text" class="form-control form-control-sm"
                                        placeholder="Chercher" [(ngModel)]="searchQuery">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm" (click)="resetSearchQuery()">Effacer
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-3">
                                <form [formGroup]="myForm">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                        </div>
                                        <select id="site" name="site" formControlName="site" class="custom-select"
                                            required (change)="filterConstatBySite()">
                                            <option value="">All sites</option>
                                            <option *ngFor="let site of site$ | async" [value]="site.id">{{
                                                site.site_nom }}
                                            </option>

                                        </select>
                                        <div class="input-group-append">
                                            <!-- Reset Site Filter Button -->
                                            <button class="btn btn-secondary " (click)="resetSiteFilters()">
                                                <i class="fas fa-undo"></i>
                                                <!-- Replace "fa-undo" with the desired reset icon class -->
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="input-group" style="max-width: 240px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-filter"></i>
                                    </span>
                                </div>
                                <select (change)="filterConstatByType(selectedType)" id="typeFilter" name="typeFilter"
                                    class="custom-select" [(ngModel)]="selectedType">
                                    <option value="">All Types</option>
                                    <option *ngFor="let const of displayedConstats" [value]="const.type_constat">{{
                                        const.type_constat }}</option>
                                </select>
                                <div class="input-group-append">
                                    <!-- Reset Site Filter Button -->
                                    <button class="btn btn-secondary " (click)="resetFilters()">
                                        <i class="fas fa-undo"></i>
                                        <!-- Replace "fa-undo" with the desired reset icon class -->
                                    </button>
                                </div>
                            </div>

                        </div>



                        <div class="row justify-content-between ">
                            <div class="col-4">
                                <button (click)="exportToExcel()" class="mt-3 btn btn-outline-success waves-effect">
                                    <i class="fas fa-file-excel mr-1"></i> Export Excel
                                </button>
                            </div>





                            <div class="d-flex justify-content-end mt-5">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Afficher {{ itemsPerPage }} résultats par page
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="itemsPerPageDropdown">
                                        <a class="dropdown-item" style="cursor: pointer;"
                                            *ngFor="let option of itemsPerPageOptions"
                                            (click)="onItemsPerPageChange(option)"
                                            [ngClass]="{'selected': option === itemsPerPage}">
                                            <span>{{ option }}</span>
                                            <i style="margin-left: 1%;" class="fas fa-check"
                                                *ngIf="option === itemsPerPage"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">


                            <table class="table rounded   mt-2" aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 10%">Processus</th>
                                        <th class="text-center" style="width: 20%">Intitulé du constat</th>
                                        <th class="text-center" style="width: 10%">Type de constat</th>
                                        <th class="text-center" style="width: 10%">Audit associé</th>
                                        <th class="text-center" style="width: 10%">Site</th>
                                        <th class="text-center" style="width: 15%">Responsable du traitement</th>
                                        <th class="text-center" style="width: 10%">Date de réponse</th>
                                        <th class="text-center" style="width: 10%">Localisation</th>
                                        <th class="text-center" style="width: 10%">Type d'audit</th>
                                        <th class="text-center" style="width: 10%">Rapport d'audit</th>
                                        <th class="text-center" style="width: 5%">Action</th>
                                    </tr>
                                </thead>


                                <ng-container *ngFor="let process of processuss">
                                    <tbody class="ligth-body">
                                        <td style="word-wrap: break-word;" data-column="name">
                                            <div class="row align-items-center">
                                                <div class="col-auto pr-2">
                                                    <a href="javascript:void(0);" class="toggle-icon"
                                                        (click)="process.expanded = !process.expanded">
                                                        <i class="fa fa-chevron-right" *ngIf="!process.expanded"></i>
                                                        <i class="fa fa-chevron-down" *ngIf="process.expanded"></i>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a href="javascript:void(0);" class="text-nowrap">{{
                                                        process.intitule }}</a>
                                                </div>
                                            </div>
                                        </td>

                                        <ng-container *ngIf="process.expanded ">


                                            <ng-container
                                                *ngFor="let const of displayedConstats | filter: searchQuery   let i = index ">
                                                <tr *ngIf="(const)?.length === 0">
                                                    <td colspan="11">Aucune demande trouvé </td>
                                                </tr>

                                                <tr *ngIf="const.processus == process.id"
                                                    [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                                                    <td></td>
                                                    <td style="word-wrap: break-word;"><a
                                                            routerLink="/infoconstat/{{const.id}}">{{const.intitule_constat}}</a>
                                                    </td>
                                                    <td style="word-wrap: break-word;">{{const.type_constat}}</td>
                                                    <td style="word-wrap: break-word;">{{const.audit_associe}}</td>
                                                    <td style="word-wrap: break-word;">{{const.site_}}</td>
                                                    <td style="word-wrap: break-word;">
                                                        <ng-container *ngFor="let utilisateur of utilisateurs">
                                                            <ng-container
                                                                *ngIf="const.responsable_traitement.includes(utilisateur.id)">
                                                                <a href="javascript:void(0);"
                                                                    (click)="openUtilisateurModal(utilisateur)">{{
                                                                    utilisateur?.nom }}</a><br>
                                                            </ng-container>
                                                        </ng-container>
                                                    </td>
                                                    <td style="word-wrap: break-word;">{{const.date_reponse}}</td>
                                                    <td style="word-wrap: break-word;">{{const.localisation}}</td>
                                                    <td style="word-wrap: break-word;">{{const.type_audit}}</td>
                                                    <td style="white-space: nowrap;;">
                                                        <a class="btn fa fa-download mr-3"
                                                            href="{{ const.rapport_audit }}" download>
                                                            {{ const.rapport_audit ?
                                                            const.rapport_audit.split('/').pop() : 'Aucun fichier joint'
                                                            }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="d-flex justify-content-start align-items-center list-action">
                                                            <!-- <a class="badge btn-sm bg-primary" data-toggle="modal"
                                                                data-target="#update" data-placement="top" title="Edit"
                                                                (click)="getCAData(const.id, const.intitule_constat, const.type_constat, const.audit_associe, const.site, const.responsable_traitement, const.processus, const.date_reponse, const.localisation, const.type_audit , const.description_constat)">
                                                                <i class="ri-pencil-line mr-0"></i>
                                                            </a>
                                                            <span class="spacer"></span>
                                                            <a class="badge btn-sm bg-danger" style="cursor: pointer;"
                                                                data-toggle="tooltip"
                                                                (click)="openDeleteModal(const.id)" data-placement="top"
                                                                title="Delete">
                                                                <i class="ri-delete-bin-line mr-0"></i>
                                                            </a> -->

                                                            <a style="cursor: pointer;"
                                                                class="btn btn-sm btn-update mr-2 " data-toggle="modal"
                                                                data-target="#update" data-placement="top" title="Edit"
                                                                (click)="getCAData(const.id, const.intitule_constat, const.type_constat, const.audit_associe, const.site, const.responsable_traitement, const.processus, const.date_reponse, const.localisation, const.type_audit , const.description_constat)"
                                                                queryParamsHandling="merge"><i style="color: white;"
                                                                    class="fas fa-pencil-alt mr-0"></i></a>
                                                            <a style="cursor: pointer;"
                                                                class="btn btn-sm btn-delete mr-2" data-toggle="tooltip"
                                                                (click)="openDeleteModal(const.id)" data-placement="top"
                                                                title="Delete"><i style="color: white;"
                                                                    class="ri-delete-bin-line mr-0"></i></a>
                                                        </div>

                                                    </td>
                                                </tr>


                                            </ng-container>
                                        </ng-container>
                                </ng-container>

                            </table>
                        </div>
                        <div class="pagination-container"
                            style="display: flex; justify-content: space-between; margin-top: 10px;">
                            <div>
                                <span class="entry-info">
                                    {{ getDisplayedRange() }}
                                </span>
                            </div>
                            <div style="display: flex;justify-content: flex-end;">
                                <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                                <div class="page-info">
                                    <span class="page-numbers">
                                        <button class="btn page-number" *ngFor="let page of getPageNumbers()"
                                            [disabled]="p === page" (click)="p = page"
                                            [ngClass]="{'selected': p === page}">{{ page }}</button>
                                    </span>
                                </div>
                                <button class="btn" [disabled]="p === totalPages" (click)="p = p + 1">Suivant</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header delete-header ">
                <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Attention , cette action est irréversible !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-delete-modal" (click)="delete()"><i
                        class="fas fa-trash"></i>Supprimer</button>
                <button type="button" class="btn btn-light" data-dismiss="modal"><i
                        class="fas fa-times"></i>Fermer</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Update-->

<!-- Modal -->
<div class="modal fade" [class.show]="updateModalVisible" id="update" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <div class="modal-header update-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier un constat d'audit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <form [formGroup]="form">

                        <div class="row">
                            <div class="col">
                                <label for="intitule_constat" class="form-label">Demande de conseils : </label>

                                <input type="text" class="form-control" placeholder="Entrer intitulé"
                                    id="intitule_constat" name="intitule_constat" formControlName="intitule_constat"
                                    value="{{intitule_constat}}" [(ngModel)]="intitule_constat">
                            </div>
                            <div class="col">
                                <label for="type_constat" class="form-label">Type de constat : </label>

                                <input type="text" class="form-control" placeholder="Entrer le type du constat"
                                    id="type_constat" name="type_constat" formControlName="type_constat"
                                    value="{{type_constat}}" [(ngModel)]="type_constat">
                            </div>
                            <div class="col">
                                <label for="audit_associe" class="form-label">Audit associé : </label>

                                <input type="text" class="form-control" placeholder="Entrer l'audit associé "
                                    id="audit_associe" name="audit_associe" formControlName="audit_associe"
                                    value="{{audit_associe}}" [(ngModel)]="audit_associe">
                            </div>
                        </div>
                        <div class=" mt row">

                            <div class="col">
                                <label for="Site" class="form-label">Site : </label>
                                <select [(ngModel)]="site" id="site" name="site" formControlName="site"
                                    class="custom-select" data-style="py-0">
                                    <option *ngFor="let site of site$ | async" [value]="site.id">
                                        {{ site.site_nom }}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="processus" class="form-label">Processus : </label>
                                <select [(ngModel)]="processus" id="processus" name="processus"
                                    formControlName="processus" class="custom-select" data-style="py-0">
                                    <option *ngFor="let processus of processuss " [value]="processus.id">
                                        {{ processus.intitule }}</option>
                                </select>
                            </div>


                            <div class="col">
                                <label for="date_reponse" class="form-label">Date de réponse : </label>

                                <input type="date" class="form-control" placeholder="Entrer la date de réponse "
                                    id="date_reponse" name="date_reponse" formControlName="date_reponse"
                                    value="{{date_reponse}}" [(ngModel)]="date_reponse">
                            </div>
                        </div>


                        <div class="row mt">
                            <div class="col">
                                <label for="localisation" class="form-label">Localisation</label>
                                <input type="date" class="form-control" placeholder="Entrer la  localisation "
                                    id="localisation" name="localisation" formControlName="localisation"
                                    value="{{localisation}}" [(ngModel)]="localisation">
                            </div>

                            <div class="col">
                                <label for="type_audit" class="form-label">Type d'audit : </label>

                                <!-- <input type="text" class="form-control" placeholder="Entrer l'audit associé "
                                    id="type_audit" name="type_audit" formControlName="type_audit"
                                    value="{{type_audit}}" [(ngModel)]="type_audit"> -->

                                <select [(ngModel)]="type_audit" id="type_audit" name="type_audit"
                                    formControlName="type_audit" class="custom-select" data-style="py-0">
                                    <option value="Audit 5Ss">Audit 5S</option>
                                    <option value="Observation terrain">Observation terrain</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="responsable_traitement" class="form-label">Responsable du traitement :
                                </label>
                                <div class="checkbox-list">
                                    <div class="checkbox-item"
                                        *ngFor="let responsable_traitement of utilisateurs.slice(0, 5); let i = index">
                                        <label>
                                            <input type="checkbox"
                                                [checked]="isResponsableSelected(responsable_traitement.id)"
                                                formControlName="responsable_traitement"
                                                (change)="toggleResponsable(responsable_traitement.id)" required>
                                            {{ responsable_traitement?.nom }}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mtx">
                            <div class="col">
                                <label>Description du constat</label>
                                <textarea rows="2" class="form-control" placeholder="Entrer le description d'audit"
                                    id="description_constat" name="description_constat"
                                    formControlName="description_constat" value="{{description_constat}}"
                                    [(ngModel)]="description_constat"></textarea>

                            </div>
                        </div>

                        <div class="row mtx">




                            <div class="col">
                                <label for="rapport_audit" class="form-label">Rapport d'audit :
                                </label>
                                <div class="custom-file">
                                    <input (change)="updateFile($event)" [(ngModel)]="rapport_audit"
                                        formControlName="rapport_audit" type="file" class="custom-file-input"
                                        id="customFile">
                                    <label class="custom-file-label" for="customFile">{{ getSelectedFileName()
                                        }}</label>
                                </div>
                                <!-- <div *ngIf="existingFileUrl" class="mt-2">
                                    <p class="d-inline">Fichier existant:</p>
                                    <a [href]="existingFileUrl" target="_blank" class="ml-2">{{
                                        getFileNameFromUrl(existingFileUrl) }}</a>
                                </div> -->
                            </div>
                        </div>

                        <br>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-update-modal" (click)="updateConstatAudit()"><i
                        class="fas fa-pencil-alt"></i>
                    Modifier</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i>
                    Fermer</button>
            </div>
        </div>
    </div>
</div>


<!-- Page end  : succes update Modal -->
<ng-template #successModal>
    <div class="modal-header update-header">
        <h4 class="modal-title">Succès</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Le constat a été modifié avec succès.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-update-modal" (click)="closeModal()"><i
                class="fas fa-times"></i>Fermer</button>
    </div>
</ng-template>

<!-- Utilisateur Modal -->
<ng-template #utilisateurModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Responsable traitement Informations</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModalutilisateur()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p><strong>Compte :</strong> {{ selectedUtilisateur?.compte }}</p>
        <p><strong>Nom:</strong> {{ selectedUtilisateur?.nom }}</p>
        <p><strong>Courrier électronique:</strong> {{ selectedUtilisateur?.courrier }}</p>
        <p><strong>Numéro de téléphone mobile:</strong> {{ selectedUtilisateur?.numero_tel }}</p>
        <p><strong>Je me présente:</strong> {{ selectedUtilisateur?.presente_vous }}</p>
        <p><strong>Image: </strong><img class="rounded img-fluid avatar-15" [src]="selectedUtilisateur?.image"
                alt="Image"></p>
        <p><strong>Service:</strong> {{ selectedUtilisateur?.fonction }}</p>
        <p><strong>Adresse SIP:</strong> {{ selectedUtilisateur?.adresse_sip }}</p>
        <p><strong>OtherMail:</strong> {{ selectedUtilisateur?.othermail }}</p>
    </div>

</ng-template>