<div class="content-page">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Ajouter un Secteur</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form  (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="secteur_nom">Nom du Secteur</label>
                                        <input type="text" class="form-control" placeholder="Entrer le nom du secteur" formControlName="secteur_nom" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
                            <button type="reset" class="btn btn-danger">Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>
