<div class="content-page custom-background">
  <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            <div style="display: flex; flex-direction: column;">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4>Ajouter une exigence</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form [formGroup]="form" data-toggle="validator">
                        <div class="row">
                          <div class="col-md-4">                      
                            <div class="form-group">
                                <label>Partie intéressée <span style="color: red;">*</span></label>
                                <select [(ngModel)]="exigencef.partieinteresses" id="partieinteresses" name="partieinteresses" formControlName="partieinteresses" class="form-control" class="custom-select" required>
                                 <option *ngFor="let partieinteresses of partieinteressess" [value]="partieinteresses.id">{{ partieinteresses.partieinteresse }}</option>
                                </select>
                            </div>
                        </div>
                            <div class="col-md-4">                      
                                <div class="form-group">
                                      <label>Intitulé <span style="color: red;">*</span></label>
                                    <input [(ngModel)]="exigencef.intitule" type="text" formControlName="intitule" class="form-control" data-errors="Please Enter Name." id="intitule" required>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['intitule'].invalid">
                                      <div *ngIf="f['intitule'].errors && f['intitule'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                                      <div *ngIf="f['intitule'].errors && f['intitule'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                                      <div *ngIf="f['intitule'].errors && f['intitule'].errors['duplicate']"><i class="fas fa-exclamation-circle"></i> Cet intitulé existe déjà !</div>
                                  </div>
                                       <div class="help-block with-errors"></div>
                                </div>
                                </div>
                                <div class="col-md-4">                      
                                  <div class="form-group">
                                     <label>Type d'exigence </label>
                                     <input [(ngModel)]="exigencef.type_exigence" type="text" formControlName="type_exigence" class="form-control" data-errors="Please Enter Name." id="type_exigence" >
                                     <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['type_exigence'].invalid">
                                       <div *ngIf="f['type_exigence'].errors && f['type_exigence'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                                       <div *ngIf="f['type_exigence'].errors && f['type_exigence'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                                   </div>
                                     <div class="help-block with-errors"></div>
                                 </div>
                                 </div>
                                   <div class="col-md-6">                      
                                     <div class="form-group">
                                    <label>Description</label>
                                        <textarea [(ngModel)]="exigencef.description" type="text" formControlName="description" class="form-control"  data-errors="Please Enter Name." id="description" rows="3"></textarea>
                                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['description'].invalid">
                                          <div *ngIf="f['description'].errors && f['description'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                                          <div *ngIf="f['description'].errors && f['description'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                                      </div>
                                         <div class="help-block with-errors"></div>
                                         </div>
                                         </div>
                                        <div class="col-md-6">                      
                                       <div class="form-group">
                                     <label>Commentaire</label>
                                    <textarea [(ngModel)]="exigencef.commentaire" type="text" formControlName="commentaire" class="form-control" data-errors="Please Enter Name." id="commentaire"  rows="3"></textarea>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['commentaire'].invalid">
                                      <div *ngIf="f['commentaire'].errors && f['commentaire'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                                      <div *ngIf="f['commentaire'].errors && f['commentaire'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                                  </div>
                                 <div class="help-block with-errors"></div>
                                 </div>
                                 </div>
                               <div class="col-md-6">                      
                              <div class="form-group">
                              <label>Action à mener</label>
                              <select [(ngModel)]="exigencef.action" id="action" formControlName="action" class="selectpicker form-control" data-style="py-0">
                                <option value="">Choisir une option</option>
                                <option [ngValue]="true">Oui</option>
                                <option [ngValue]="false">Non</option>
                            </select>                                  
                            <div class="help-block with-errors"></div>
                                  </div>
                                  </div>
                                  <div class="col-md-6">                      
                                    <div class="form-group">
                                          <label>Evaluation de la maitrise</label>
                                         <input [(ngModel)]="exigencef.evaluation_maitrise" type="text" formControlName="evaluation_maitrise" class="form-control" data-errors="Please Enter Name." id="evaluation_maitrise" >
                                         <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['evaluation_maitrise'].invalid">
                                          <div *ngIf="f['evaluation_maitrise'].errors && f['evaluation_maitrise'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                                          <div *ngIf="f['evaluation_maitrise'].errors && f['evaluation_maitrise'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                                      </div>
                                         </div>
                                         </div>
                                        <div class="help-block with-errors"></div>
                                         </div>
                                    </form>
       <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-end">
        <button style="margin-bottom: 1%;" [disabled]="form.invalid" (click)="createExigence()" type="submit" class="btn btn-primary mb-2 mb-sm-0"><i class="fas fa-plus"></i>Enregistrer</button>
        <button style="margin-bottom: 1%;" type="reset" routerLink="/exigence-list" class="btn btn-warning mb-2 mb-sm-0"><i class="fas fa-times"></i>Annuler</button>
      </div>
      
       </div>
       </div>
<!-- Page end  -->
<ng-template #successModal>
    <div class="modal-header success-header">
      <h4 class="modal-title">Succès</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      L'exigence a été ajoutée avec succès.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="closeModal()"><i class="fas fa-times"></i>Fermer</button>
    </div>
  </ng-template>





