.btn-primary {
    background-color: #FF731D;
    border-color: #FF731D;
  }
  .btn-warning{
    background-color: #089bd7;
    border-color: #089bd7;
  }
  
  .btn-danger{
    background-color: #FFB200;
    border-color: #FFB200;
    color: #fff; 
  }
  
  button + button {
    margin-left: 10px;
  }
  thead {
    background-color: #ffd140
    
    
  }
  th {
  color: rgb(255, 255, 255);
  
  }
  #user-list-table {
    width: 100%;
  }
  
  