<div class="content-page custom-background">
  <div class="container-fluid add-form-list">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div *ngIf="!passwordResetSuccess">
            <h1>Réinitialisation du mot de passe</h1>
            <form [formGroup]="passwordResetForm">
              <input type="password" formControlName="newPassword" placeholder="Nouveau mot de passe" required>
              <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" required>
              <button (click)="resetPassword()">Réinitialiser</button>
            </form>
          </div>

          <div *ngIf="passwordResetSuccess">
            <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
            <button (click)="redirectToLogin()">Se connecter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
