<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            <div style="display: flex; flex-direction: column;">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Ajouter une partie intéressée</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form [formGroup]="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-8">                      
                                <div class="form-group">
                                    <label>Type partie <label style="color: red;">*</label></label>
                                    <select [(ngModel)]="partief.typepartie" id="typepartie" name="typepartie" formControlName="typepartie" class="form-control" class="custom-select" required>
                                     <option *ngFor="let typepartie of typeparties" [value]="typepartie.id">{{ typepartie.nom }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Processus <label style="color: red;">*</label></label>
                                <div class="checkbox-list">
                                <div *ngFor="let processus of processuss.slice(0.5);let i=index">
                                  <label>
                                    <input type="checkbox" [checked]="partief.processus.includes(processus.id)" formControlName="processus" (change)="toggleProcessus(processus.id)" required>
                                    {{ processus.intitule }}
                                  </label>
                                </div>
                              </div>
                              </div>
                            </div>
                                                   
                        <div class="col-md-4">                      
                             <div class="form-group">
                                <label>Partie intéressée </label>
                                <input [(ngModel)]="partief.partieinteresse" type="text" formControlName="partieinteresse" class="form-control" data-errors="Please Enter Name." id="partieinteresse" >
                                <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['partieinteresse'].touched && f['partieinteresse'].invalid">
                                    <div *ngIf="f['partieinteresse'].errors && f['partieinteresse'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            </div>
                            <div class="col-md-4">                      
                              <div class="form-group">
                                <label>Importance</label>
                                <input [(ngModel)]="partief.importance" type="number" formControlName="importance" class="form-control" id="importance">                               
                                <div class="flag-icons">
                                  <div class="flag-label-row">
                                    <span class="flag-label success">0-5 :</span>
                                    <i class="flag-icon fas fa-flag text-success" [ngClass]="{'active': +partief.importance >= 0 && +partief.importance <= 5}"></i>
                                  </div>
                                  <div class="flag-label-row">
                                    <span class="flag-label warning">5-10 :</span>
                                    <i class="flag-icon fas fa-flag text-warning" [ngClass]="{'active': +partief.importance > 5 && +partief.importance <= 10}"></i>
                                  </div>
                                  <div class="flag-label-row">
                                    <span class="flag-label danger">10 ou plus :</span>
                                    <i class="flag-icon fas fa-flag text-danger" [ngClass]="{'active': +partief.importance > 10}"></i>
                                  </div>
                                </div>                          
                              </div>
                            </div>
                            
                            
                             <div class="col-md-4">                      
                                <div class="form-group">
                                      <label>Nature de la partie intéressée</label>
                                      <select [(ngModel)]="partief.nature" id="nature" formControlName="nature" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une nature</option>
                                        <option>Interne</option>
                                        <option>Externe</option>
                                    </select>                                   <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['nature'].touched && f['nature'].invalid">
                                         <div *ngIf="f['nature'].errors && f['nature'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                     </div>
                                     </div>
                                     </div>
                                    <div class="help-block with-errors"></div>
                                   <div class="col-md-4">                      
                                     <div class="form-group">
                                    <label>Enjeux associés</label>
                                        <input [(ngModel)]="partief.enjeux" type="text" formControlName="enjeux" class="form-control"  data-errors="Please Enter Name." id="enjeux" >
                                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['enjeux'].touched && f['enjeux'].invalid">
                                             <div *ngIf="f['enjeux'].errors && f['enjeux'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                       </div>
                                         <div class="help-block with-errors"></div>
                                         </div>
                                         </div>
                                        <div class="col-md-4">                      
                                       <div class="form-group">
                                     <label>Besoin,attente,exigence de la partie intéressée</label>
                                    <input [(ngModel)]="partief.besoin" type="text" formControlName="besoin" class="form-control" data-errors="Please Enter Name." id="besoin" >
                                  <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['besoin'].touched && f['besoin'].invalid">
                                  <div *ngIf="f['besoin'].errors && f['besoin'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                     </div>
                                 <div class="help-block with-errors"></div>
                                 </div>
                                 </div>
                                 <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Impact sur le client final</label>
                                    <input [(ngModel)]="partief.impactfinal" type="number" formControlName="impactfinal" class="form-control" id="impactfinal">
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['impactfinal'].valid && (f['impactfinal'].dirty || f['impactfinal'].touched)">
                                      Impact sur le client final valide.
                                    </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['impactfinal'].touched">
                                      <div *ngIf="f['impactfinal'].errors && f['impactfinal'].errors['pattern']">Doit contenir des chiffres seulement!</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Impact sur notre entreprise</label>
                                    <input [(ngModel)]="partief.impactentreprise" type="number" formControlName="impactentreprise" class="form-control" id="impactentreprise">
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['impactentreprise'].valid && (f['impactentreprise'].dirty || f['impactentreprise'].touched)">
                                      Impact sur notre entreprise valide.
                                    </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['impactentreprise'].touched">
                                      <div *ngIf="f['impactentreprise'].errors && f['impactentreprise'].errors['pattern']">Doit contenir des chiffres seulement!</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Cotation</label>
                                    <input [(ngModel)]="partief.cotation" type="number" formControlName="cotation" class="form-control" id="cotation">
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['cotation'].valid && (f['cotation'].dirty || f['cotation'].touched)">
                                      Cotation valide.
                                    </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['cotation'].touched">
                                      <div *ngIf="f['cotation'].errors && f['cotation'].errors['pattern']">Doit contenir des chiffres seulement!</div>
                                    </div>
                                  </div>
                                </div>
                                
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Impact</label>
                                            <input [(ngModel)]="partief.impact" formControlName="impact" class="form-control" id="impact" name="impact" >
                                            <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['impact'].touched && f['impact'].invalid">
                                                <div *ngIf="f['impact'].errors && f['impact'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                            </div>
                                        </div>
                                </div>
                                         </div>
                                    </form>
       <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-center">
        <button style="margin-bottom: 1%;" [disabled]="form.invalid" (click)="createPartie()" type="submit" class="btn btn-primary mr-2 mb-2 mb-sm-0"><i class="fas fa-plus"></i>Enregistrer</button>
        <button style="margin-bottom: 1%;" type="reset" routerLink="/partie-list" class="btn btn-danger mb-2 mb-sm-0"><i class="fas fa-times"></i>Annuler</button>
      </div>
      
       </div>
       </div>
<!-- Page end  -->
<ng-template #successModal>
    <div class="modal-header">
      <h4 class="modal-title">Succès</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      La partie intéressée a été ajoutée avec succès.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
    </div>
  </ng-template>





