<div class="content-page custom-background">
  <div class="container-fluid">
    <div class="card">
       <div class="row">
           <div class="col-lg-12">
            <div class="card-header d-flex justify-content-between ">
              <div class="header-title">
                <h4 class="card-title">Liste des fournisseurs</h4>
              </div>
              <div class="col-sm-6 col-md-6 text-right" style="margin-right: -2.5%;">
                <div class="user-list-files d-flex align-items-center overflow-hidden">
                    <a routerLink="/add-fournisseurs" class="bg1">
                        <i class="fas fa-plus" style="margin-right: 10px;"></i> Nouvel élément
                    </a>               
            </div>
           </div>
  
          </div>
          <div class="card-body">
          <div class="row justify-content-start">
            <div class="input-group  col-md-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-search" style="font-size: 1rem;"></i>
                </span>
              </div>
              <input  style="height: 45px;"  type="text" class="form-control form-control-sm" placeholder="Rechercher" [(ngModel)]="searchQuery" >
              <div class="input-group-append">
                <button class="btn btn-light btn-sm" (click)="resetSearchQuery()">Effacer 
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          
            <div class="dropdown">
              <button style="margin-top: -2%;" class="btn btn-lg btn-outline-primary waves-effect dropdown-toggle " type="button" id="filterDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" data-offset="0,5">
                <i class="fas fa-filter"></i>Filtrer par
              </button>
              <div class="dropdown-menu" aria-labelledby="filterDropdown">
                <a class="dropdown-item" (click)="filterByField('nom')" style="cursor: pointer;">Nom</a>
                <a class="dropdown-item" (click)="filterByField('numerodesiret')" style="cursor: pointer;">Numéro Désiret</a>
                <a class="dropdown-item" (click)="filterByField('type_de_prestation')" style="cursor: pointer;">Type de préstation</a>
                <a class="dropdown-item" (click)="filterByField('numero_de_recepisse_de_declaration_prefectorale')" style="cursor: pointer;">Numéro de récipissé de déclaration préfactorale</a>
              </div>
              <div class="dropdown dropright">
                <div class="popover" role="tooltip" [ngStyle]="{ display: showPopover ? 'block' : 'none' }" data-placement="right"  >
                  <div class="arrow"></div>
                  <button type="button" class="close" aria-label="Close" (click)="closePopover()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="popover-body" style="width: 500px; max-width: 100%;">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="fieldSearchQuery" (input)="applyFieldFilter()">
                    </div>
                  
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <div class="alert alert-info" role="alert" *ngIf="filterField && filteredFournisseurs.length === 0">
                          Aucun résultat.
                        </div>
                      </div>
                    </div>
                  
                    <div class="row justify-content-end">
                      <div class="col-md-4">
                        <button class="btn" (click)="handleReset()">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
            </div>
          </div>                    

          <!-- <div>
            <div class="containers">
              <button class="toggle-button" (click)="toggleWindow()">
                <i class="fas fa-angle-double-left"></i>
              </button>
              <div class="window" [ngClass]="{ 'open': isOpen }">
                <button (click)="increaseTextSize()">
                  <i class="fas fa-search-plus"></i>
                </button>
                <button (click)="decreaseTextSize($event)">
                  <i class="fas fa-search-minus"></i>
                </button>
                <button (click)="resetTextSize()">
                  <i class="fas fa-sync"></i>
                </button>
                <button (click)="closeWindow()">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div> -->

            <div class=" mt-3 d-flex  justify-content-between">
            <div class="settings-dropdown" (click)="onDropdownClick($event)">
              <div class="dropdown">
                <button class="settings-icon" id="settingsDropdown" (click)="toggleDropdown()">
                  <i class="toggle-icon fas" [class.fa-chevron-up]="!autoCloseDropdown" [class.fa-chevron-down]="autoCloseDropdown"></i>
                </button>
                
                <div class="dropdown-menu dropdown-checkboxes" aria-labelledby="settingsDropdown" [ngClass]="{'show': !autoCloseDropdown}">
                  <label class="dropdown-item">Afficher / masquer les colonnes</label>
                  <label class="dropdown-item">
                    <input type="checkbox" [(ngModel)]="fieldsVisible['siret']" (change)="saveSettingsToLocalStorage()" /> N de siret
                  </label>
                  <label class="dropdown-item">
                    <input type="checkbox" [(ngModel)]="fieldsVisible['prestation']" (change)="saveSettingsToLocalStorage()" /> Type de prestation
                  </label>
                  <label class="dropdown-item">
                    <input type="checkbox" [(ngModel)]="fieldsVisible['postal']" (change)="saveSettingsToLocalStorage()" /> Code postal
                  </label>
                  <label class="dropdown-item">
                    <input type="checkbox" [(ngModel)]="fieldsVisible['web']" (change)="saveSettingsToLocalStorage()" /> Page web
                  </label>
                  <label class="dropdown-item">
                    <input type="checkbox" [(ngModel)]="fieldsVisible['adresse']" (change)="saveSettingsToLocalStorage()" /> Adresse
                  </label>
                </div>
              </div>
            </div>  
            <div class="dropdown" style="margin-bottom: -3%;">
              <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Afficher {{ itemsPerPage }} résultats par page
              </button>
              <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
                <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of itemsPerPageOptions" (click)="onItemsPerPageChange(option)"
                  [ngClass]="{'selected': option === itemsPerPage}">
                  <span>{{ option }}</span>
                  <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === itemsPerPage"></i>
                </a>
              </div>
            </div>
          </div>   

            
            <div class="col-lg-12">
              <div class="table-responsive rounded mb-3">
                <table id="tree-table-3" class="data-tables table mb-0 tbl-server-info  tree">
                  <thead>
                    <tr>
                      <th scope="col">
                        <a href="javascript:void(0);" (click)="sortByReverseAlphabet()" class="mr-1">Nom du fournisseur</a>
                        <i class="fa fa-sort" *ngIf="!isReverseSorting"></i>
                        <i class="fa fa-sort-amount-down-alt" *ngIf="isReverseSorting"></i>
                      </th> 
                      <ng-container *ngIf="fieldsVisible['siret']">
                        <th scope="col">N de siret</th>
                      </ng-container>
                      <ng-container *ngIf="fieldsVisible['prestation']">
                        <th scope="col">Type de prestation</th>
                      </ng-container>
                      <th scope="col" title="Numéro de récipissé de déclaration préfactorale">NRDP</th>
                      <ng-container *ngIf="fieldsVisible['web']">
                      <th scope="col">Page web</th>
                    </ng-container>
                      <th scope="col">Téléphone</th>
                      <th scope="col">Numéro de télécopie</th>
                      <ng-container *ngIf="fieldsVisible['adresse']">
                      <th scope="col">Adresse</th>
                      </ng-container>
                      <ng-container *ngIf="fieldsVisible['postal']">
                      <th scope="col">Code postal</th>
                    </ng-container>
                      <th scope="col">Ville</th>
                      <th scope="col">Pays</th>
                      <th scope="col">Nom,Prénom</th>
                      <th scope="col">Adresse de courrier</th>
                      <th scope="col">Fonction</th>
                      <th scope="col">Numéro de télephone</th>
                      <th scope="col">Téléphone personnel</th>
                      <th scope="col">Actions</th>
                      <th scope="col">Supprimer les lignes</th>

                    </tr>
                  </thead>
                  <tbody class="ligth-body">
                    <tr *ngFor="let fournisseur of displayedFournisseurs | filter: searchQuery let i = index"
                      [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                      <td>{{ fournisseur.nom }}</td>
                      <td *ngIf="fieldsVisible['siret']">{{fournisseur.numerodesiret}}</td>
                      <td *ngIf="fieldsVisible['prestation']">{{fournisseur.type_de_prestation}}</td>
                      <td>{{fournisseur.numero_de_recepisse_de_declaration_prefectorale}}</td>
                      <td *ngIf="fieldsVisible['web']">{{fournisseur.pageweb}}</td>
                      <td>{{fournisseur.telephone}}</td>
                      <td>{{fournisseur.numerodetelecopie}}</td>
                      <td *ngIf="fieldsVisible['adresse']">{{fournisseur.adresse}}</td>
                      <td *ngIf="fieldsVisible['postal']">{{fournisseur.codepostal}}</td>
                      <td>{{fournisseur.ville}}</td>
                      <td>{{fournisseur.pays}}</td>
                      <td>{{fournisseur.nometprenom}}</td>
                      <td>{{fournisseur.adressedecourier}}</td>
                      <td>{{fournisseur.fonction}}</td>
                      <td>{{fournisseur.numerodetelephone}}</td>
                      <td>{{fournisseur.telephonepersonnel}}</td>
                      <td>
                        <div class="d-flex justify-content-start align-items-center list-action">
                          <a class="btn btn-sm btn-update mr-2" style="cursor: pointer;" (click)="getFournisseurData(fournisseur.id, fournisseur.nom, fournisseur.numerodesiret, fournisseur.type_de_prestation, fournisseur.numero_de_recepisse_de_declaration_prefectorale, fournisseur.pageweb, fournisseur.telephone, fournisseur.numerodetelecopie, fournisseur.adresse, fournisseur.codepostal, fournisseur.ville, fournisseur.pays, fournisseur.nometprenom, fournisseur.adressedecourier, fournisseur.fonction, fournisseur.numerodetelephone, fournisseur.telephonepersonnel)" data-toggle="modal" data-target="#update" data-placement="top" title="" data-original-title="Edit">
                            <i class="ri-pencil-line mr-0" style="color: white;"></i>
                          </a>
                          <a class="btn btn-sm btn-delete mr-2" style="cursor: pointer;" data-toggle="tooltip" (click)="openDeleteModal(fournisseur.id)" data-placement="top" title="" data-original-title="Delete">
                            <i class="ri-delete-bin-line mr-0" style="color: white;"></i>
                          </a>
                        </div>
                      </td>
                      <td>
                        <input type="checkbox" [checked]="selectedFournisseurs.includes(fournisseur)" (change)="toggleSelection(fournisseur)">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination-container" style="display: flex; justify-content: space-between;">
                <div>
                  <span class="entry-info">
                    {{ getDisplayedRange() }}
                  </span>
                </div>
                <div style="display: flex;justify-content: flex-end;">
                  <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                  <div class="page-info">
                    <span class="page-numbers">
                      <button class="btn page-number" *ngFor="let page of getPageNumbers()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                    </span>
                  </div>
                  <button class="btn" [disabled]="p === totalPages" (click)="p = p + 1">Suivant</button>
                </div>
              </div>           
            </div>
            </div>
            </div>
            
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header delete-header">
      <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Attention , cette action est irréversible !
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-delete-modal" (click)="deleteItem()">
        <i class="fas fa-trash"></i> Supprimer
      </button>
      <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" [class.show]="updateModalVisible" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier un fournisseur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <form [formGroup]="form" data-toggle="validator">
            <div class="row">
                <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Nom du fournisseur </label>
                        <input [(ngModel)]="nom" type="text" value="{{nom}}" formControlName="nom" class="form-control" data-errors="Please Enter Name." id="nom" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['nom'].invalid">
                          <div *ngIf="f['nom'].errors && f['nom'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['nom'].errors && f['nom'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>N du siret </label>
                        <input [(ngModel)]="numerodesiret" value="{{numerodesiret}}" type="number" formControlName="numerodesiret" class="form-control" data-errors="Please Enter Name." id="numerodesiret" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['numerodesiret'].valid && (f['numerodesiret'].dirty || f['numerodesiret'].touched)"><i class="fas fa-check-circle"></i> 
                          Numero de siret valide.
                        </div>  
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Type de prestation </label>
                        <input [(ngModel)]="type_de_prestation" value="{{type_de_prestation}}"  type="text" formControlName="type_de_prestation" class="form-control"  data-errors="Please Enter Name." id="type_de_prestation" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['type_de_prestation'].invalid">
                          <div *ngIf="f['type_de_prestation'].errors && f['type_de_prestation'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['type_de_prestation'].errors && f['type_de_prestation'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Numero de récépsissé de </label>
                        <input [(ngModel)]="numero_de_recepisse_de_declaration_prefectorale" value="{{numero_de_recepisse_de_declaration_prefectorale}}" type="number" formControlName="numero_de_recepisse_de_declaration_prefectorale" class="form-control"  data-errors="Please Enter Name." id="numero_de_recepisse_de_declaration_prefectorale" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['numero_de_recepisse_de_declaration_prefectorale'].valid && (f['numero_de_recepisse_de_declaration_prefectorale'].dirty || f['numero_de_recepisse_de_declaration_prefectorale'].touched)"><i class="fas fa-check-circle"></i> 
                          Numero de récépsissé de déclaration préfectorale valide.
                        </div>
                     </div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Page web </label>
                        <input [(ngModel)]="pageweb" type="text" value="{{pageweb}}" formControlName="pageweb" class="form-control" data-errors="Please Enter Name." id="pageweb" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['pageweb'].invalid">
                          <div *ngIf="f['pageweb'].errors && f['pageweb'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['pageweb'].errors && f['pageweb'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                     </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Téléphone</label>
                        <input [(ngModel)]="telephone" type="text" value="{{telephone}}" formControlName="telephone" class="form-control"  data-errors="Please Enter Name." id="telephone" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['telephone'].valid && (f['telephone'].dirty || f['telephone'].touched)"><i class="fas fa-check-circle"></i> 
                          Numéro de téléphone valide.
                        </div>
                      <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['telephone'].invalid ">
                      <div *ngIf="f['telephone'].errors && f['telephone'].errors['pattern']"><i class="fas fa-exclamation-circle"></i> Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                   </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Numéro de télécopie</label>
                        <input [(ngModel)]="numerodetelecopie" type="number" value="{{numerodetelecopie}}" formControlName="numerodetelecopie" class="form-control"  data-errors="Please Enter Name." id="numerodetelecopie" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['numerodetelecopie'].valid && (f['numerodetelecopie'].dirty || f['numerodetelecopie'].touched)"><i class="fas fa-check-circle"></i> 
                          Numéro de télécopie valide.
                        </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Adresse</label>
                        <input [(ngModel)]="adresse" type="text" value="{{adresse}}" formControlName="adresse" class="form-control"  data-errors="Please Enter Name." id="adresse" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['adresse'].invalid">
                          <div *ngIf="f['adresse'].errors && f['adresse'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['adresse'].errors && f['adresse'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Code postal</label>
                        <input [(ngModel)]="codepostal" type="number" value="{{codepostal}}" formControlName="codepostal" class="form-control"  data-errors="Please Enter Name." id="codepostal" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['codepostal'].valid && (f['codepostal'].dirty || f['codepostal'].touched)"><i class="fas fa-check-circle"></i> 
                          Code postal valide.
                        </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Ville</label>
                        <input [(ngModel)]="ville" type="text" value="{{ville}}" formControlName="ville" class="form-control"  data-errors="Please Enter Name." id="ville" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['ville'].invalid">
                          <div *ngIf="f['ville'].errors && f['ville'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['ville'].errors && f['ville'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Pays</label>
                        <select [(ngModel)]="pays" type="text" formControlName="pays" id="pays" class="custom-select" data-style="py-0">
                          <option value="" disabled>Choisir un pays </option>
                          <option value="États-Unis">États-Unis</option>
                          <option value="Canada">Canada</option>
                          <option value="Albanie">Albanie</option>
                          <option value="Algérie">Algérie</option>
                          <option value="Samoa américaines">Samoa américaines</option>
                          <option value="Andorre">Andorre</option>
                          <option value="Angola">Angola</option>
                          <option value="Anguilla">Anguilla</option>
                          <option value="Antarctique">Antarctique</option>
                          <option value="Antigua">Antigua</option>
                          <option value="Argentine">Argentine</option>
                          <option value="Arménie">Arménie</option>
                          <option value="Aruba">Aruba</option>
                          <option value="Australie">Australie</option>
                          <option value="Autriche">Autriche</option>
                          <option value="Azerbaïdjan">Azerbaïdjan</option>
                          <option value="Bahamas">Bahamas</option>
                          <option value="Bahreïn">Bahreïn</option>
                          <option value="Bangladesh">Bangladesh</option>
                          <option value="Barbade">Barbade</option>
                          <option value="Bélarus">Bélarus</option>
                          <option value="Belgique">Belgique</option>
                          <option value="Belize">Belize</option>
                          <option value="Bénin">Bénin</option>
                          <option value="Bermudes">Bermudes</option>
                          <option value="Bhoutan">Bhoutan</option>
                          <option value="Bolivie">Bolivie</option>
                          <option value="Bosnie-Herzégovine">Bosnie-Herzégovine</option>
                          <option value="Botswana">Botswana</option>
                          <option value="Île Bouvet">Île Bouvet</option>
                          <option value="Brésil">Brésil</option>
                          <option value="Territoire britannique de l'océan Indien">Territoire britannique de l'océan Indien</option>
                          <option value="Bolivie">Bolivie</option>
                          <option value="Bosnie-Herzégovine">Bosnie-Herzégovine</option>
                          <option value="Botswana">Botswana</option>
                          <option value="Île Bouvet">Île Bouvet</option>
                          <option value="Brésil">Brésil</option>
                          <option value="Territoire britannique de l'océan Indien">Territoire britannique de l'océan Indien</option>
                          <option value="Tchad">Tchad</option>
                          <option value="Chili">Chili</option>
                          <option value="Chine">Chine</option>
                          <option value="Île Christmas">Île Christmas</option>
                          <option value="Îles Cocos">Îles Cocos</option>
                          <option value="Colombie">Colombie</option>
                          <option value="Comores">Comores</option>
                          <option value="Congo">Congo</option>
                          <option value="Îles Cook">Îles Cook</option>
                          <option value="Costa Rica">Costa Rica</option>
                          <option value="Croatie">Croatie</option>
                          <option value="Chypre">Chypre</option>
                          <option value="République tchèque">République tchèque</option>
                          <option value="Danemark">Danemark</option>
                          <option value="Djibouti">Djibouti</option>
                          <option value="Dominique">Dominique</option>
                          <option value="République dominicaine">République dominicaine</option>
                          <option value="Timor oriental">Timor oriental</option>
                          <option value="Équateur">Équateur</option>
                          <option value="Égypte">Égypte</option>
                          <option value="El Salvador">El Salvador</option>
                          <option value="Guinée équatoriale">Guinée équatoriale</option>
                          <option value="Érythrée">Érythrée</option>
                          <option value="Estonie">Estonie</option>
                          <option value="Éthiopie">Éthiopie</option>
                          <option value="Îles Féroé">Îles Féroé</option>
                          <option value="Îles Falkland">Îles Falkland</option>
                          <option value="Fidji">Fidji</option>
                          <option value="Finlande">Finlande</option>
                          <option value="France">France</option>
                          <option value="Guyane française">Guyane française</option>
                          <option value="Polynésie française">Polynésie française</option>
                          <option value="Terres australes françaises">Terres australes françaises</option>
                          <option value="Gabon">Gabon</option>
                          <option value="Gambia">Gambia</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Germany">Germany</option>
                          <option value="Ghana">Ghana</option>
                          <option value="Gibraltar">Gibraltar</option>
                          <option value="Greece">Greece</option>
                          <option value="Greenland">Greenland</option>
                          <option value="Grenada">Grenada</option>
                          <option value="Guadeloupe">Guadeloupe</option>
                          <option value="Guam">Guam</option>
                          <option value="Guatemala">Guatemala</option>
                          <option value="Guinea">Guinea</option>
                          <option value="Guinea-Bissau">Guinea-Bissau</option>
                          <option value="Guyana">Guyana</option>
                          <option value="Haiti">Haiti</option>
                          <option value="Heard">Heard</option>
                          <option value="Honduras">Honduras</option>
                          <option value="Hong Kong">Hong Kong</option>
                          <option value="Hongrie">Hongrie</option>
                          <option value="Islande">Islande</option>
                          <option value="Inde">Inde</option>
                          <option value="Indonésie">Indonésie</option>
                          <option value="Irlande">Irlande</option>
                          <option value="Israël">Israël</option>
                          <option value="Italie">Italie</option>
                          <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                          <option value="Jamaïque">Jamaïque</option>
                          <option value="Japon">Japon</option>
                          <option value="Jordanie">Jordanie</option>
                          <option value="Kazakhstan">Kazakhstan</option>
                          <option value="Kenya">Kenya</option>
                          <option value="Kiribati">Kiribati</option>
                          <option value="Koweït">Koweït</option>
                          <option value="Kirghizistan">Kirghizistan</option>
                          <option value="Laos">Laos</option>
                          <option value="Lettonie">Lettonie</option>
                          <option value="Liban">Liban</option>
                          <option value="Lesotho">Lesotho</option>
                          <option value="Liberia">Liberia</option>
                          <option value="Liechtenstein">Liechtenstein</option>
                          <option value="Lituanie">Lituanie</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Macao">Macao</option>
                          <option value="Macédoine">Macédoine</option>
                          <option value="Madagascar">Madagascar</option>
                          <option value="Malawi">Malawi</option>
                          <option value="Malaisie">Malaisie</option>
                          <option value="Maldives">Maldives</option>
                          <option value="Mali">Mali</option>
                          <option value="Malte">Malte</option>
                          <option value="Îles Marshall">Îles Marshall</option>
                          <option value="Martinique">Martinique</option>
                          <option value="Mauritanie">Mauritanie</option>
                          <option value="Maurice">Maurice</option>
                          <option value="Mayotte">Mayotte</option>
                          <option value="Mexique">Mexique</option>
                          <option value="Micronésie">Micronésie</option>
                          <option value="MNP">MNP</option>
                          <option value="Moldavie">Moldavie</option>
                          <option value="Monaco">Monaco</option>
                          <option value="Mongolie">Mongolie</option>
                          <option value="Montserrat">Montserrat</option>
                          <option value="Maroc">Maroc</option>
                          <option value="Mozambique">Mozambique</option>
                          <option value="Myanmar">Myanmar</option>
                          <option value="Namibie">Namibie</option>
                          <option value="Nauru">Nauru</option>
                          <option value="Népal">Népal</option>
                          <option value="NER">NER</option>
                          <option value="Pays-Bas">Pays-Bas</option>
                          <option value="Zone neutre">Zone neutre</option>
                          <option value="Nouvelle-Calédonie">Nouvelle-Calédonie</option>
                          <option value="Nouvelle-Zélande">Nouvelle-Zélande</option>
                          <option value="Nicaragua">Nicaragua</option>
                          <option value="Nigeria">Nigeria</option>
                          <option value="Niue">Niue</option>
                          <option value="Île Norfolk">Île Norfolk</option>
                          <option value="Corée du Nord">Corée du Nord</option>
                          <option value="Norvège">Norvège</option>
                          <option value="Oman">Oman</option>
                          <option value="Pakistan">Pakistan</option>
                          <option value="Palaos">Palaos</option>
                          <option value="Panama">Panama</option>
                          <option value="Papouasie-Nouvelle-Guinée">Papouasie-Nouvelle-Guinée</option>
                          <option value="Paraguay">Paraguay</option>
                          <option value="Pérou">Pérou</option>
                          <option value="Philippines">Philippines</option>
                          <option value="Îles Pitcairn">Îles Pitcairn</option>
                          <option value="Pologne">Pologne</option>
                          <option value="Portugal">Portugal</option>
                          <option value="Porto Rico">Porto Rico</option>
                          <option value="Qatar">Qatar</option>
                          <option value="Réunion">Réunion</option>
                          <option value="Roumanie">Roumanie</option>
                          <option value="Russie">Russie</option>
                          <option value="Rwanda">Rwanda</option>
                          <option value="Sainte-Hélène">Sainte-Hélène</option>
                          <option value="Sainte-Lucie">Sainte-Lucie</option>
                          <option value="Saint-Pierre">Saint-Pierre</option>
                          <option value="Saint-Vincent">Saint-Vincent</option>
                          <option value="Samoa">Samoa</option>
                          <option value="Saint-Marin">Saint-Marin</option>
                          <option value="Arabie saoudite">Arabie saoudite</option>
                          <option value="Ecosse">Ecosse</option>
                          <option value="Sénégal">Sénégal</option>
                          <option value="Seychelles">Seychelles</option>
                          <option value="Sierra Leone">Sierra Leone</option>
                          <option value="Singapour">Singapour</option>
                          <option value="République slovaque">République slovaque</option>
                          <option value="Slovénie">Slovénie</option>
                          <option value="Îles Salomon">Îles Salomon</option>
                          <option value="Somalie">Somalie</option>
                          <option value="Afrique du Sud">Afrique du Sud</option>
                          <option value="Géorgie du Sud">Géorgie du Sud</option>
                          <option value="Corée du Sud">Corée du Sud</option>
                          <option value="Espagne">Espagne</option>
                          <option value="Sri Lanka">Sri Lanka</option>
                          <option value="Saint-Kitts-et-Nevis">Saint-Kitts-et-Nevis</option>
                          <option value="STP">STP</option>
                          <option value="Suriname">Suriname</option>
                          <option value="Svalbard">Svalbard</option>
                          <option value="Swaziland">Swaziland</option>
                          <option value="Suède">Suède</option>
                          <option value="Suisse">Suisse</option>
                          <option value="Syrie">Syrie</option>
                          <option value="Taïwan">Taïwan</option>
                          <option value="Tadjikistan">Tadjikistan</option>
                          <option value="Tanzanie">Tanzanie</option>
                          <option value="TCA">TCA</option>
                          <option value="Thaïlande">Thaïlande</option>
                          <option value="Togo">Togo</option>
                          <option value="Togolais">Togolais</option>
                          <option value="Tokélaou">Tokélaou</option>
                          <option value="Tonga">Tonga</option>
                          <option value="Trinité-et-Tobago">Trinité-et-Tobago</option>
                          <option value="Tunisie">Tunisie</option>
                          <option value="Turquie">Turquie</option>
                          <option value="Turkménistan">Turkménistan</option>
                          <option value="Tuvalu">Tuvalu</option>
                          <option value="Ouganda">Ouganda</option>
                          <option value="Ukraine">Ukraine</option>
                          <option value="Émirats arabes">Émirats arabes</option>
                          <option value="Royaume-Uni">Royaume-Uni</option>
                          <option value="Haute-Volta">Haute-Volta</option>
                          <option value="Uruguay">Uruguay</option>
                          <option value="Ouzbékistan">Ouzbékistan</option>
                          <option value="Vanuatu">Vanuatu</option>
                          <option value="Vatican">Vatican</option>
                          <option value="Venezuela">Venezuela</option>
                          <option value="VI, britannique">VI, britannique</option>
                          <option value="Viet Nam">Vietnam</option>
                          <option value="Îles Vierges, États-Unis">Îles Vierges, États-Unis</option>
                          <option value="Sahara occidental">Sahara occidental</option>
                          <option value="WLF">WLF</option>
                          <option value="Yémen">Yémen</option>
                          <option value="Yougoslavie">Yougoslavie</option>
                          <option value="Zaïre">Zaïre</option>
                          <option value="Zambie">Zambie</option>
                          <option value="Zimbabwe">Zimbabwe</option>
                      </select>                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Nom,prénom</label>
                        <input [(ngModel)]="nometprenom" type="text" value="{{nometprenom}}" formControlName="nometprenom" class="form-control"  data-errors="Please Enter Name." id="nometprenom" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['nometprenom'].invalid">
                          <div *ngIf="f['nometprenom'].errors && f['nometprenom'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['nometprenom'].errors && f['nometprenom'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Adresse de courier</label>
                        <input [(ngModel)]="adressedecourier" type="text" value="{{adressedecourier}}" formControlName="adressedecourier" class="form-control"  data-errors="Please Enter Name." id="adressedecourier" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['adressedecourier'].valid && (f['adressedecourier'].dirty || f['adressedecourier'].touched)"><i class="fas fa-check-circle"></i> 
                          Adresse e-mail valide.
                        </div>
                      <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['adressedecourier'].invalid">
                          <div *ngIf="f['adressedecourier'].errors && f['adressedecourier'].errors['pattern']"><i class="fas fa-exclamation-circle"></i> L'adresse e-mail doit être au format: example@domain.com.
                          </div>                                 
                      </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Fonction</label>
                        <input [(ngModel)]="fonction" type="text" value="{{fonction}}" formControlName="fonction" class="form-control"  data-errors="Please Enter Name." id="fonction" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['fonction'].invalid">
                          <div *ngIf="f['fonction'].errors && f['fonction'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['fonction'].errors && f['fonction'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Numéro de téléphone</label>
                        <input [(ngModel)]="numerodetelephone" value="{{numerodetelephone}}" type="text" formControlName="numerodetelephone" class="form-control"  data-errors="Please Enter Name." id="numerodetelephone" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['numerodetelephone'].valid && (f['numerodetelephone'].dirty || f['numerodetelephone'].touched)"><i class="fas fa-check-circle"></i> 
                          Numéro de téléphone valide.
                        </div>
                      <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['numerodetelephone'].invalid">
                          <div *ngIf="f['numerodetelephone'].errors && f['numerodetelephone'].errors['pattern']"><i class="fas fa-exclamation-circle"></i> Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                       </div>
                     </div>
                 </div>
                 <div class="col-md-3">                      
                    <div class="form-group">
                        <label>Téléphone personnel</label>
                        <input [(ngModel)]="telephonepersonnel" value="{{telephonepersonnel}}" type="text" formControlName="telephonepersonnel" class="form-control" data-errors="Please Enter Name." id="telephonepersonnel" >
                        <div style="color: green; margin-top: 10px;" *ngIf="f['telephonepersonnel'].valid && (f['telephonepersonnel'].dirty || f['telephonepersonnel'].touched)"><i class="fas fa-check-circle"></i> 
                          Numéro de téléphone valide.
                        </div>
                      <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['telephonepersonnel'].invalid ">
                          <div *ngIf="f['telephonepersonnel'].errors && f['telephonepersonnel'].errors['pattern']"><i class="fas fa-exclamation-circle"></i> Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                       </div>
                     </div>
                 </div>
                 </div>
            
        </form>
                              </div>
                              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="updateFournisseur()"><i class="fas fa-pencil-alt"></i> Modifier</button> 
          <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
<!-- Page end  -->
<ng-template #successModal>
  <div class="modal-header update-header">
    <h4 class="modal-title">Succès</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Le fournisseur a été modifié avec succès.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-update-modal" (click)="closeModal()"><i class="fas fa-times"></i>Fermer</button>
  </div>
</ng-template>