<div class="content-page custom-background">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4 >Modifier Processus</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form  data-toggle="validator" [formGroup]="processusForm" (ngSubmit)="onSubmit()">
                        <div class="row">                                  
                              
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Intitulé <label style="color: red;">*</label></label>
                                    <input type="text" class="form-control" placeholder="Entrer intitulé" required id="intitule" name="intitule" formControlName="intitule" maxlength="40">
                                    <div
                                    class="help-block with-errors"
                                    *ngIf="processusForm.get('intitule')?.errors && (processusForm.get('intitule')?.dirty || processusForm.get('intitule')?.touched)"
                                  >
                                    <p *ngIf="processusForm.get('intitule')?.hasError('required')" class="text-danger">
                                      Veuillez entrer l'intitule de processus.
                                    </p>
                                    <p *ngIf="processusForm.get('intitule')?.hasError('minlength')" class="text-danger">
                                      Le intitule de processus doit contenir au moins 3 caractères.
                                    </p>
                                    <p *ngIf="processusForm.get('intitule')?.hasError('maxlength')" class="text-danger">
                                      Le intitule de processus ne peut pas dépasser 40 caractères.
                                    </p>
                                    
                                  </div>                                    </div>
                            </div> 
                            
                         <div class="col-md-6">
                             <div class="form-group">
                                 <label>Sigle <label style="color: red;">*</label></label>
                                 <input type="text" class="form-control" placeholder="Entrer sigle" required id="sigle" name="sigle" formControlName="sigle" maxlength="40">
                                 <div
                                    class="help-block with-errors"
                                    *ngIf="processusForm.get('sigle')?.errors && (processusForm.get('sigle')?.dirty || processusForm.get('sigle')?.touched)"
                                  >
                                    <p *ngIf="processusForm.get('sigle')?.hasError('required')" class="text-danger">
                                      Veuillez entrer le sigle de processus.
                                    </p>
                                    <p *ngIf="processusForm.get('sigle')?.hasError('minlength')" class="text-danger">
                                      Le sigle de processus doit contenir au moins 3 caractères.
                                    </p>
                                    <p *ngIf="processusForm.get('sigle')?.hasError('maxlength')" class="text-danger">
                                      Le sigle de processus ne peut pas dépasser 40 caractères.
                                    </p>
                                    <p *ngIf="processusForm.get('sigle')?.hasError('pattern')" class="text-danger">
                                      Le sigle de processus ne peut contenir que des lettres et espaces.
                                    </p>
                                  </div>                                 </div>
                         </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Typologie<label style="color: red;">*</label></label>
                                    <select class="selectpicker form-control" data-style="py-0" id="typologie" name="typologie" formControlName="typologie" >
                                        <option>Management</option>
                                        <option>Opérationnel</option>
                                        <option>Support</option>
                                        <option>Aucune</option>
                                    </select>
                                </div> 
                            </div>  
                            <div class="col-md-6">
                             <div class="form-group">
                                 
                                 <label>Finalité<label style="color: red;">*</label></label>
                                      <textarea class="form-control" rows="4"
                                         placeholder="Entrez la finalité" id="finalite" name="finalite" formControlName="finalite" required></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('finalite')?.errors && (processusForm.get('finalite')?.dirty || processusForm.get('finalite')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('finalite')?.hasError('required')" class="text-danger">
                                           Veuillez entrer la finalite de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('finalite')?.hasError('maxlength')" class="text-danger">
                                           Le finalite de processus ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                       </div>
                               
                             </div>
                             <div class="col-md-6">
                             <div class="form-group">
                                 <label>Pilote <label style="color: red;">*</label></label>
                                 <select id="pilote" name="pilote" formControlName="pilote" class="custom-select" data-style="py-0" required>
                                     <option *ngFor="let personnel of personnel$ | async" [value]="personnel.id">{{ personnel.nom }}</option>
                                    </select>
                             </div> 
                             </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                                     
                                     <label>Acteurs<label style="color: red;">*</label></label>
                                          <textarea class="form-control"  rows="4"
                                             placeholder="Entrez les acteurs" id="acteurs" name="acteurs" formControlName="acteurs" required></textarea>
                                             <div
                                             class="help-block with-errors"
                                             *ngIf="processusForm.get('acteurs')?.errors && (processusForm.get('acteurs')?.dirty || processusForm.get('acteurs')?.touched)"
                                           >
                                             <p *ngIf="processusForm.get('acteurs')?.hasError('required')" class="text-danger">
                                               Veuillez entrer les acteurs de processus.
                                             </p>
                                           
                                             <p *ngIf="processusForm.get('acteurs')?.hasError('maxlength')" class="text-danger">
                                               Le acteurs de processus ne peut pas dépasser 250 caractères.
                                             </p>
                                            
                                           </div>  
                                 </div>
                                   
                                 </div>
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         
                                         <label>Donnée Entrée<label style="color: red;">*</label></label>
                                              <textarea class="form-control"  rows="4"
                                                 placeholder="Données entrées" id="donnee_entree" name="donnee_entree" formControlName="donnee_entree" required></textarea>
                                                 <div
                                                 class="help-block with-errors"
                                                 *ngIf="processusForm.get('donnee_entree')?.errors && (processusForm.get('donnee_entree')?.dirty || processusForm.get('donnee_entree')?.touched)"
                                               >
                                                 <p *ngIf="processusForm.get('donnee_entree')?.hasError('required')" class="text-danger">
                                                   Veuillez entrer les données entrées de processus.
                                                 </p>
                                               
                                                 <p *ngIf="processusForm.get('donnee_entree')?.hasError('maxlength')" class="text-danger">
                                                   Le  données entrées de processus ne peut pas dépasser 250 caractères.
                                                 </p>
                                                
                                               </div>                                                </div>
                                       
                                     </div>
                            <div class="col-md-6">
                             <div class="form-group">
                                         
                                 <label>Activités<label style="color: red;">*</label></label>
                                      <textarea class="form-control"rows="4"
                                         placeholder="Entrez les activités"id="activites" name="activites" formControlName="activites" required></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('activites')?.errors && (processusForm.get('activites')?.dirty || processusForm.get('activites')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('activites')?.hasError('required')" class="text-danger">
                                           Veuillez entrer les activités de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('activites')?.hasError('maxlength')" class="text-danger">
                                           Ce champs ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                        </div>
                            </div>
                            <div class="col-md-6"> 
                             <div class="form-group">
                                         
                                 <label>Donnée Sortie <label style="color: red;">*</label></label>
                                      <textarea class="form-control" id="donnee_sortie" rows="4"
                                         placeholder="Donnée sortie " name="donnee_sortie" formControlName="donnee_sortie" required></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('donnee_sortie')?.errors && (processusForm.get('donnee_sortie')?.dirty || processusForm.get('donnee_sortie')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('donnee_sortie')?.hasError('required')" class="text-danger">
                                           Veuillez entrer les données sorties de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('donnee_sortie')?.hasError('maxlength')" class="text-danger">
                                           Ce champs ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                        </div>
                            </div> 
                            <div class="col-md-6"> 
                             <div class="form-group">
                                         
                                 <label>Ressource Tech Org <label style="color: red;">*</label></label>
                                      <textarea class="form-control" id="ressources_tech_org" rows="4"
                                         placeholder="Ressource Tech Org" name="ressources_tech_org" formControlName="ressources_tech_org" required></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('ressources_tech_org')?.errors && (processusForm.get('ressources_tech_org')?.dirty || processusForm.get('ressources_tech_org')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('ressources_tech_org')?.hasError('required')" class="text-danger">
                                           Veuillez entrer les ressources  de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('ressources_tech_org')?.hasError('maxlength')" class="text-danger">
                                           Ce champs ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                      </div>
                            </div> 
                            <div class="col-md-6"> 
                             <div class="form-group">
                                         
                                 <label>Objectifs et indicateurs<label style="color: red;">*</label></label>
                                      <textarea class="form-control" id="objectifs_ind" rows="4"
                                         placeholder="Objectifs et indicateurs" name="objectifs_ind" formControlName="objectifs_ind" required></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('objectifs_ind')?.errors && (processusForm.get('objectifs_ind')?.dirty || processusForm.get('objectifs_ind')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('objectifs_ind')?.hasError('required')" class="text-danger">
                                           Veuillez entrer les objectifs  de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('objectifs_ind')?.hasError('maxlength')" class="text-danger">
                                           Ce champs ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                       </div>
                            </div>  
                            <div class="col-md-6"> 
                             <div class="form-group">
                                         
                                 <label>Outils de surveillance<label style="color: red;">*</label></label>
                                      <textarea class="form-control" id="outils_surveil" rows="4"
                                         placeholder="Outils de surveillance" name="outils_surveil" formControlName="outils_surveil" required ></textarea>
                                         <div
                                         class="help-block with-errors"
                                         *ngIf="processusForm.get('outils_surveil')?.errors && (processusForm.get('outils_surveil')?.dirty || processusForm.get('outils_surveil')?.touched)"
                                       >
                                         <p *ngIf="processusForm.get('outils_surveil')?.hasError('required')" class="text-danger">
                                           Veuillez entrer les outils surveillance  de processus.
                                         </p>
                                       
                                         <p *ngIf="processusForm.get('outils_surveil')?.hasError('maxlength')" class="text-danger">
                                           Ce champs ne peut pas dépasser 250 caractères.
                                         </p>
                                        
                                       </div>                                        </div>
                            </div>  
                        </div>
                           <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">                        
                           <button type="submit" class="btn btn-primary mr-2" > <i class="fas fa-pencil-alt"></i>Modifier</button>
                           <button type="reset" class="btn btn-danger" routerLink="/listProcessus">  <i class="fas fa-times"></i>Annuler</button>
                        </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  -->
   </div>
     </div>
     <ng-template #successModal>
        <div class="modal-header update-header">
          <h4 class="modal-title">Succès</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Le processus a été modifiée avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-update-modal" (click)="closeModal()">Fermer</button>
        </div>
      </ng-template>