.bg-danger{
    background-color: #ffd140;
    border-color: #ffd140;
}
.bg{
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff; 
  }
  thead {
    background-color: #17469d;
    color:#fff
    
  }
  th {
    color: rgb(255, 255, 255);
    min-width: 200px;
    
  }
  .bg-warning{
    background-color: #e56b6f;
    border-color: #e56b6f;
    color: #fff; 
  }
  .btn-danger{
    background-color: #e56b6f;
    border-color: #e56b6f;
    color: #fff; 
  }