<head>

    <script>
      function refreshPage() {
        location.reload();
      }
    </script>
  </head>
<div class="iq-top-navbar" style="background-color: #089bd7; opacity: 1;width: 100%; padding-left: 92.5%;" *ngIf="showNavbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                <i class="ri-menu-line wrapper-menu"></i>
                <a routerLink="/home" class="header-logo">
                    <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="logo" />
                    <h5 class="logo-title ml-3">Portail QHSE</h5>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                        <li class="nav-item nav-icon dropdown">
                          

                        </li>
                        <li class="nav-item nav-icon dropdown">
                            <a href="#" class="search-toggle dropdown-toggle" style="color:white;" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-bell">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg>
                                <span class="bg-primary"></span>
                            </a>
                            
                        </li>
                        <li class="nav-item nav-icon dropdown caption-content">
                          <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="user?.image" class="img-fluid rounded" alt="user" />
                          </a>
                          <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="card shadow-none m-0">
                              <div class="card-body p-0 text-center">
                                <div class="media-body profile-detail text-center">
                                  <img src="../assets/images/page-img/07.jpg" alt="profile-bg"
                                    class="rounded-top img-fluid mb-4" />
                                  <img [src]="user?.image" alt="profile-img"
                                    class="rounded profile-img img-fluid avatar-70" />
                                </div>
                                <div class="p-3">
                                  <h5 class="mb-1" *ngIf="user">{{ user.nom_complet }}</h5>
                                  <p class="mb-0" *ngIf="user">{{ user.email }}</p>
                                  <div class="d-flex align-items-center justify-content-center mt-3">
                                    <!-- <a routerLink="/profile" class="btn border mr-2">Profile</a> -->
                                    <a (click)="onLogout()" class="btn border">Sign Out</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        
                        
                          
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>