

<!doctype html>
<html lang="en">
  <head>
    </head>
  <body class="  ">
    
    <!-- Wrapper Start -->
    <div class="wrapper">
      
        
      <div class="content-page custom-background">
      <div class="container-fluid">
         <div class="twelve">
            <h1>Modifier profile</h1>
          </div>

<br>

      
     <div class="row m-sm-0 px-3 justify-content-center">            
      <div class="container">
         <div class="row gutters">
         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
         <div class="card h-100">
            <div class="card-body">
               <div class="account-settings">
                  <div class="user-profile">
                     <div class="image-container">
                        <img [src]="currentId?.image" alt="profile-img" class="rounded profile-img img-fluid avatar-70" id="profile-pic" />
                        <i class="las la-pen upload-button" onclick="document.getElementById('file-upload').click()"></i>
                      </div>
                      
                      <input
                        id="file-upload"
                        class="file-upload"
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        onchange="document.getElementById('profile-pic').src = window.URL.createObjectURL(this.files[0])"
                        (change)="onImageChange($event)"
                        formControlName="image"
                      />
                      
                             
                     <h4 class="mb-1">{{ currentId.nom }}</h4>
                     <p>
                        {{currentId.email}}
                     </p>                  </div>
                  <div class="about">
                     <h5>Présentez-vous</h5>
                     <p> {{currentId.presente_vous}}</p>
                  </div>
                  <button class="btn btn-primary"  (click)="openChangePasswordModal(changePasswordModal)">Modifier mot de passe</button>

               </div>
            </div>
         </div>
         </div>
         <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
         <div class="card h-100">
            <div class="card-body">
               <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                     <h6 class="mb-2 text-primary">Utilisateur Details</h6>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for="nom">Nom complet</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Entrez nom complet" [(ngModel)]="currentId.nom">
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Entrez l'adresse email " [(ngModel)]="currentId.email"  [disabled]="true">
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for="numero_tel">Numéro Téléphone</label>
                        <input type="number" class="form-control" id="numero_tel" placeholder="Entrez le numéro de téléphone" [(ngModel)]="currentId.numero_tel">
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for="adresse_sip">Adresse Sip</label>
                        <input type="text" class="form-control" id="adresse_sip" placeholder="Adresse Sip" [(ngModel)]="currentId.adresse_sip">
                     </div>
                  </div>
               </div>
               <div class="row gutters">
                  
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for="fonction">Fonction</label>
                        <input type="name" class="form-control" id="fonction" placeholder="Entrez la fonction" [(ngModel)]="currentId.fonction">
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                     <div class="form-group">
                        <label for=" othermail">Autre adresse email</label>
                        <input type="email" class="form-control" id="othermail" placeholder="Other mail" [(ngModel)]="currentId. othermail">
                     </div>
                  </div>
                  
                  
               </div>
               <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                     <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary" (click)="cancelModification()">Annuler</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="onSubmit()">Modifier</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         </div>
         </div>
</div>
            
       
      </div>
      </div>
      
    </div>
    <!-- Wrapper End-->
   
   
  </body>
</html>


<ng-template #successModal>
   <div class="modal-header update-header">
     <h4 class="modal-title ">Succès</h4>
     <button type="button" class="close" aria-label="Close" (click)="closeModal()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Le profile a été modifé avec succès.
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-update-modal" (click)="closeModal()">Fermer</button>
   </div>
 </ng-template>
 <ng-template #changePasswordModal>
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Changer le mot de passe</h4>
         <button type="button" class="close" aria-label="Close" (click)="passwordChangeModalRef.hide()">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form  (ngSubmit)="onSubmitChangePasswordForm()"  >
           <div class="form-group">
             <label for="oldPassword">Ancien mot de passe</label>
             <input type="password" class="form-control" id="oldPassword" name="oldPassword" required [(ngModel)]="oldPassword">
             <div *ngIf="errorMessageLast" class="error-message" class="text-danger">
               {{ errorMessageLast }}
             </div>
           </div>
           <div class="form-group">
             <label for="newPassword">Nouveau mot de passe</label>
             <input type="password" class="form-control" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
           
             <div *ngIf="errorMessagePassword" class="error-message text-danger">
               {{ errorMessagePassword }}
             </div>
           </div>
           <div class="form-group">
             <label for="confirmPassword">Confirmez le mot de passe</label>
             <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword">
             <div *ngIf="errorMessageConfirm" class="error-message" class="text-danger">
               {{ errorMessageConfirm }}
             </div>
           </div>
           <button type="submit" class="btn btn-primary">Valider</button>
           <button type="reset" class="btn btn-secondary" (click)="passwordChangeModalRef.hide()">Annuler</button>
         </form>
       </div>
     </div>
   
 </ng-template>
 <ng-template #updateModal>
   <div class="modal-header success-header ">
     <h4 class="modal-title">Succès</h4>
     <button type="button" class="close" aria-label="Close" (click)="closeModal()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     le mot de passe a été modifé avec succès.
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-success" (click)="closePasswordChangeModal()">Fermer</button>
   </div>
 </ng-template>