

<!doctype html>
<html lang="en">
  <head>
    </head>
  <body class="  ">
    
    <!-- Wrapper Start -->
    <div class="wrapper">
      
        
      <div class="content-page custom-background">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-4">
               <div class="card car-transparent">
                  <div class="card-body p-0">
                     <div class="profile-image position-relative">
                     </div>
                  </div>
               </div>
            </div>
         </div>
     <div class="row m-sm-0 px-3">            
            <div class="col-lg-6 card-profile">
               <div class="card card-block card-stretch card-height">
                  <div class="card-body">
                     <div class="d-flex align-items-center mb-3">
                        <div class="profile-img position-relative">
                           <img src="{{ currentId.image }}"class="img-fluid rounded avatar-110" alt="profile-image">
                        </div>
                        <div class="ml-3">
                           <h4 class="mb-1">{{ currentId.nom_user }}</h4>
                           <p class="mb-2">{{currentId.nom_complet}}</p>
                           <a href="#" class="btn btn-primary font-size-14">Contact</a>
                        </div>
                     </div>
                     <p>
                     </p>
                     <ul class="list-inline p-0 m-0">
                        <li class="mb-2">
                           <div class="d-flex align-items-center">
                              <svg class="svg-icon mr-3" height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                              </svg>
                              <p class="mb-0">{{currentId.email}} </p> 
                           </div>
                        </li>
                        <li class="mb-2">
                           <div class="d-flex align-items-center">
                              <svg class="svg-icon mr-3" height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                              </svg>
                              <p class="mb-0">{{currentId.adresse_sip}}</p>   
                           </div>
                        </li>
                        <li class="mb-2">
                           <div class="d-flex align-items-center">
                              <svg class="svg-icon mr-3" height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                              </svg>
                              <p class="mb-0">{{currentId.fonction}}</p>   
                           </div>
                        </li>
                        <li class="mb-2">
                           <div class="d-flex align-items-center">
                              <svg class="svg-icon mr-3" height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                              </svg>
                              <p class="mb-0">{{currentId.numero_tel}}</p>   
                           </div>
                        </li>
                        <li>
                           <div class="d-flex align-items-center">
 <svg class="svg-icon mr-3" height="16" width="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">                                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                              </svg>
                              <p class="mb-0">{{currentId.othermail}}</p>   
                           </div>
                        </li>
                        <li>
                           <div class="d-flex align-items-center">

                              <button class="btn btn-primary" (click)="openModal($event)">Modifier le profil</button>
                           </div>
                        </li>
                        <li>

                        </li>
                     </ul>
                     
                  </div>
               </div>
            </div>

            
         </div>
         <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': isModalOpen}" (click)="closeModal()">
            <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modifier le profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Profile Edit Form -->
                  <form (ngSubmit)="onSubmit()">
                     <div class="form-group">
                        <label for="image">Image de profil</label>
                        <input type="file" class="form-control" id="image" name="image" (change)="onFileChange($event)">
                      </div>
                    <div class="form-group">
                      <label for="nom">Nom Complet</label>
                      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="currentId.nom" required>
                    </div>
                    <div class="form-group">
                     <label for="nom">Nom Utilisateur</label>
                     <input type="text" class="form-control" id="nom_user" name="nom_user" [(ngModel)]="currentId.nom_user" required>
                   </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="courrier" [(ngModel)]="currentId.email" required>
                    </div>
                    <div class="form-group">
                     <label for="compte">Compte</label>
                     <input type="text" class="form-control" id="compte" name="compte" [(ngModel)]="currentId.compte" required>
                   </div>
                  
                    
                  
                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
    </div>
    <!-- Wrapper End-->
   
   
  </body>
</html>


