<div class="content-page custom-background">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4 >Ajouter Commande</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form action="page-list-product.html" data-toggle="validator" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                           <div class="row">
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label for="date_commande">Date du repas <label style="color: red;">*</label></label>
                                    <input type="date" class="form-control" placeholder="Enter Name" data-errors="Please Enter Date."   type="date" id="date_commande" formControlName="date_commande"required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>    
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="type_commande">Type de commande <label style="color: red;">*</label></label>
                                       <select name="type" class="selectpicker form-control" data-style="py-0" id="type_commande" formControlName="type_commande">
                                           <option>Client</option>
                                           <option>Collaborateur</option>
                                           <option value="Aucun">Aucun</option>
                                       </select>
                                   </div> 
                               </div>  
                               <div class="col-md-6">                      
                                   <div class="form-group">
                                       <label for="quantite">Nombre/Quantité <label style="color: red;">*</label></label>
                                       <input type="number" id="quantite" formControlName="quantite" type="number" class="form-control" placeholder="Entrez une quantité" data-errors="Please Enter Name." required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>    
                               
                               <div class="col-md-6"> 
                                   <div class="form-group">
                                    <label for="specificite_regime">Spécificité Régime <label style="color: red;">*</label></label>
                                       <select name="type" class="selectpicker form-control" data-style="py-0" id="specificite_regime" formControlName="specificite_regime">
                                        <option value="Constipation">Constipation</option>
                                        <option value="Diarrhée">Diarrhée</option>
                                        <option value="Sans résiclus">Sans résiclus</option>
                                        <option value="Sans gluten">Sans gluten</option>
                                        <option value="Sans lactose">Sans lactose</option>
                                        <option value="Sans fructose">Sans fructose</option>
                                        <option value="Sans alcool">Sans alcool</option>
                                        <option value="Epargne digestive">Epargne digestive</option>
                                        <option value="IRC">IRC</option>
                                        <option value="Hyposodé">Hyposodé</option>
                                        <option value="Enrichi">Enrichi</option>
                                        <option value="Diabétique">Diabétique</option>
                                        <option value="Hypocalorique">Hypocalorique</option>
                                        <option value="Sans aliments à risque">Sans aliments à risque</option>
                                        <option value="Alimentation plaisir">Alimentation plaisir</option>
                                        <option value="Aucun">Aucun</option>
                                       </select>
                                   </div>
                               </div> 
                               <div class="col-md-6">
                                   <div class="form-group">
                                    <label for="specificite_texture">Spécificité Texture <label style="color: red;">*</label></label>
                                       <select name="type" class="selectpicker form-control" data-style="py-0" id="specificite_texture" formControlName="specificite_texture">
                                        <option value="Viande coupée">Viande coupée</option>
                                        <option value="Tout coupée">Tout coupée</option>
                                        <option value="Velours viande">Velours viande</option>
                                        <option value="Velours complet">Velours complet</option>
                                        <option value="Viande hachée au hachoir">Viande hachée au hachoir</option>
                                        <option value="Finger food">Finger food</option>
                                        <option value="Aucun">Aucun</option>
                                       </select>
                                   </div>
                               </div>
                           </div>
                           <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">             
                           <button type="submit" class="btn btn-primary mr-2 " ><i class="fas fa-plus"></i>Ajouter</button>
                           <button type="reset" class="btn btn-danger" routerLink="/listC"><i class="fas fa-times"></i>Annuler</button>
                        </div>
                       </form>
                       
                   </div>
               </div>
           </div>
       </div>
     
   </div>
     </div>
<!-- Modal html -->
     <ng-template #successModal>
        <div class="modal-header success-header">
          <h4 class="modal-title">Succès</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          La commande a été ajoutée avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="closeModal()">Fermer</button>
        </div>
      </ng-template>
      
      
  