<div class="content-page custom-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-2">
          <div>
            <h4 style="font-size: 18px; font-weight: bold; color: #089bd7">Analyse SWOT</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label for="site" class="form-label">Site:</label>
        <div class="input-group mb-3 custom-input-group">
          <select class="form-select custom-select" id="site" [(ngModel)]="selectedSite" (change)="filterRisques()">
            <option value="" selected>Tous les sites</option>
            <option *ngFor="let site of sites" [value]="site.id">{{ site.site_nom }}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-light btn-sm" (click)="resetSite()">Effacer 
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6">
        <label for="processus" class="form-label">Processus:</label>
        <div class="input-group mb-3 custom-input-group">
          <select class="form-select custom-select" id="processus" [(ngModel)]="selectedProcessus" (change)="filterRisques()">
            <option value="" selected>Tous les processus</option>
            <option *ngFor="let processus of processusList" [value]="processus.id">{{ processus.intitule }}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-light btn-sm" (click)="resetProcessus()">Effacer 
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="card border-primary">
          <div class="card-headers bg-primary">
            <h4 class="card-title" style="color: white;">Forces</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive rounded mb-3">
              <div class="row mr-2 mt-2 justify-content-end">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdownForces" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Afficher {{ forcesPagination.itemsPerPage }} résultats par page
                  </button>
                  <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdownForces">
                    <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of forcesPagination.itemsPerPageOptions" (click)="onForcesItemsPerPageChange(option)"
                      [ngClass]="{'selected': option === forcesPagination.itemsPerPage}">
                      <span>{{ option }}</span>
                      <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === forcesPagination.itemsPerPage"></i>
                    </a>
                  </div>
                </div>
                
              </div>   
              <table class="table">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Maitrise</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let risque of displayedForcesRisques; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1}">
                    <ng-container *ngIf="toNumber(risque.maitrise) >= 0 && toNumber(risque.maitrise) <= 0.4">
                      <td><a routerLink="/analyserisque/{{ risque.id }}">{{risque.description}}</a></td>
                      <td>
                        <ng-container *ngIf="risque.maitrise !== null">
                          <i class="fas fa-flag text-primary"></i>
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-container" style="display: flex; justify-content: space-between;">
                <div>
                  <span class="entry-info">
                    {{ getDisplayedRangeForForces() }}
                  </span>
                </div>
                <div style="display: flex;justify-content: flex-end;">
                  <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                  <div class="page-info">
                    <span class="page-numbers">
                      <button class="btn page-number" *ngFor="let page of getPageNumbersForForces()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                    </span>
                  </div>
                  <button class="btn" [disabled]="p === totalForcesPages" (click)="p = p + 1">Suivant</button>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card border-warning">
          <div class="card-headers bg-warning">
            <h4 class="card-title" style="color: white;">Faiblesses</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive rounded mb-3">
              <div class="row mr-2 mt-2 justify-content-end">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdownFaiblesses" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Afficher {{ faiblessesPagination.itemsPerPage }} résultats par page
                  </button>
                  <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdownFaiblesses">
                    <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of faiblessesPagination.itemsPerPageOptions" (click)="onFaiblessesItemsPerPageChange(option)"
                      [ngClass]="{'selected': option === faiblessesPagination.itemsPerPage}">
                      <span>{{ option }}</span>
                      <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === faiblessesPagination.itemsPerPage"></i>
                    </a>
                  </div>
                </div>
                
              </div>   
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Maitrise</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let risque of displayedFaiblessesRisques; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1}">
                  <ng-container *ngIf="toNumber(risque.maitrise) > 0.7 && toNumber(risque.maitrise) <= 0.9">
                    <td><a routerLink="/analyserisque/{{ risque.id }}">{{risque.description}}</a></td>
                    <td>
                      <ng-container *ngIf="risque.maitrise !== null">
                        <i class="fas fa-flag text-warning"></i>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <div class="pagination-container" style="display: flex; justify-content: space-between;">
              <div>
                <span class="entry-info">
                  {{ getDisplayedRangeForFaiblesses() }}
                </span>
              </div>
              <div style="display: flex;justify-content: flex-end;">
                <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                <div class="page-info">
                  <span class="page-numbers">
                    <button class="btn page-number" *ngFor="let page of getPageNumbersForFaiblesses()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                  </span>
                </div>
                <button class="btn" [disabled]="p === totalFaiblessesPages" (click)="p = p + 1">Suivant</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div  class="col-lg-6">
        <div class="card border-success">
          <div class="card-headers bg-success">
            <h4 class="card-title" style="color: white;">Opportunités</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive rounded mb-3">
              <div class="row mr-2 mt-2 justify-content-end">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdownOpportunites" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Afficher {{ opportunitesPagination.itemsPerPage }} résultats par page
                  </button>
                  <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdownOpportunites">
                    <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of opportunitesPagination.itemsPerPageOptions" (click)="onOpportunitesItemsPerPageChange(option)"
                      [ngClass]="{'selected': option === opportunitesPagination.itemsPerPage}">
                      <span>{{ option }}</span>
                      <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === opportunitesPagination.itemsPerPage"></i>
                    </a>
                  </div>
                </div>                
              </div>   
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Maitrise</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let risque of displayedOpportunitesRisques; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1}">
                  <ng-container *ngIf="toNumber(risque.maitrise) > 0.4 && toNumber(risque.maitrise) <= 0.7">
                    <td><a routerLink="/analyserisque/{{ risque.id }}">{{risque.description}}</a></td>
                    <td>
                      <ng-container *ngIf="risque.maitrise !== null">
                        <i class="fas fa-flag text-success"></i>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <div class="pagination-container" style="display: flex; justify-content: space-between;">
              <div>
                <span class="entry-info">
                  {{ getDisplayedRangeForOpportunites() }}
                </span>
              </div>
              <div style="display: flex;justify-content: flex-end;">
                <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                <div class="page-info">
                  <span class="page-numbers">
                    <button class="btn page-number" *ngFor="let page of getPageNumbersForOpportunites()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                  </span>
                </div>
                <button class="btn" [disabled]="p === totalOpportunitesPages" (click)="p = p + 1">Suivant</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div  class="col-lg-6">
        <div class="card border-danger">
          <div class="card-headers bg-danger">
            <h4 class="card-title" style="color: white;">Menaces</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive rounded mb-3">
              <div class="row mr-2 mt-2 justify-content-end">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Afficher {{ menacesPagination.itemsPerPage }} résultats par page
                  </button>
                  <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
                    <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of menacesPagination.itemsPerPageOptions" (click)="onMenacesItemsPerPageChange(option)"
                      [ngClass]="{'selected': option === menacesPagination.itemsPerPage}">
                      <span>{{ option }}</span>
                      <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === menacesPagination.itemsPerPage"></i>
                    </a>
                  </div>
                </div>
              </div>   
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Maitrise</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let risque of displayedMenacesRisques; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1}">
                  <ng-container *ngIf="toNumber(risque.maitrise) >= 1">
                    <td><a routerLink="/analyserisque/{{ risque.id }}">{{risque.description}}</a></td>
                    <td>
                      <ng-container *ngIf="risque.maitrise !== null">
                        <i class="fas fa-flag text-danger"></i>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <div class="pagination-container" style="display: flex; justify-content: space-between;">
              <div>
                <span class="entry-info">
                  {{ getDisplayedRangeForMenaces() }}
                </span>
              </div>
              <div style="display: flex;justify-content: flex-end;">
                <button class="btn" [disabled]="menacesPagination.p === 1" (click)="menacesPagination.p = menacesPagination.p - 1">Précedent</button>
                <div class="page-info">
                  <span class="page-numbers">
                    <button class="btn page-number" *ngFor="let page of getPageNumbersForMenaces()" [disabled]="menacesPagination.p === page" (click)="menacesPagination.p = page" [ngClass]="{'selected': menacesPagination.p === page}">{{ page }}</button>
                  </span>
                </div>
                <button class="btn" [disabled]="menacesPagination.p === totalMenacesPages" (click)="menacesPagination.p = menacesPagination.p + 1">Suivant</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

