.btn-primary {
  background-color: #FF731D;
  border-color: #FF731D;
}

.bg1{
  background-color: #ffd140;
  border-color: #ffd140;
  color: #fff; 
}

button + button {
  margin-left: 10px;
}
thead {
  background-color: #17469d
  
  
}

th {
color: rgb(255, 255, 255);

}
#user-list-table {
  width: 100%;
}
.badge{
background-color: #ffd140;
border-color: #ffd140;
color: #fff; 

}

.bg{
background-color: #e56b6f;
border-color: #e56b6f;
color: #fff; 
}