<div class="content-page">
  <div class="container-fluid">
     <div class="row">
         <div class="col-lg-12">
             <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                 <a (click)="navigateToNc()" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Ajouter une non-conformité</a>
             </div>
         </div>

        </div>
        <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="Chercher" [(ngModel)]="searchQuery">
     </div>

         <div>
          <button class="btn " (click)="filterByEtatTrue()"> NC en cours</button>
          <button class="btn " (click)="filterByEtatFalse()">NC closes</button>
          <button class="btn " (click)="getNcs()">Toutes les NCs</button>
          <button class="btn "  (click)="exportToExcel()">Export excel</button>
      
         <div class="col-lg-12">
             <div class="table-responsive rounded mb-3">
             <table class="data-tables table mb-0 tbl-server-info">
                 <thead class="bg-white text-uppercase">
                     <tr class="ligth ligth-data">
                         <th>
                             <div class="checkbox d-inline-block">
                                 <input type="checkbox" class="checkbox-input" id="checkbox1">
                                 <label for="checkbox1" class="mb-0"></label>
                             </div>
                         </th>
                          <th scope="col">Intitulé de la non-conformité</th>
                          <th scope="col">Nature</th>
                          <th scope="col">Processus</th>
                          <th scope="col">Site</th>
                          <th scope="col">Responsable traitement</th>
                          <th scope="col">Domaine</th>
                          <th scope="col">Detail_cause</th>
                          <th scope="col">Date_nc</th>
                          <th scope="col">Date prise en compte</th>
                          <th scope="col">Description detailée</th>
                          <th scope="col">Année</th>
                          <th scope="col">mois</th>
                          <th scope="col">delai_prevu</th>
                          <th scope="col">type_cause</th>
                          <th scope="col">cout</th>
                          <th scope="col">Avancement</th>
                          <th scope="col">info_complementaires</th>
                          <th scope="col">frequence</th>
                          <th scope="col">gravite</th>
                          <th scope="col">action_immediate</th>
                          <th scope="col">nc_cloture</th>
                          <th scope="col">Pièce jointe</th>
                          <th scope="col">Actions</th>

                     </tr>
                 </thead>
                 <tbody class="ligth-body">
                  <tr *ngFor="let nc of filteredNcs | filter : searchQuery | paginate: { itemsPerPage: 5, currentPage: p }  let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }  ">
                      <th scope="row">{{nc.id}}</th>
                      <td><a routerLink="/nc/{{ nc.id }}">{{nc.intitule}}</a></td>
                      <td>{{nc.nature}}</td>
                      <td>{{ nc.processus_name }}</td>
                      <td>{{ nc.site_name }}</td>
                      <td>{{ nc.responsable_name }}</td>
                      <td>{{nc.domaine}}</td>
                      <td>{{nc.detail_cause}}</td>
                      <td>{{nc.date_nc}}</td>
                      <td>{{nc.date_prise_en_compte}}</td>
                      <td>{{nc.description_detailee}}</td>
                      <td>{{nc.annee}}</td>
                      <td>{{nc.mois}}</td>
                      <td>{{nc.delai_prevu}}</td>
                      <td>{{nc.type_cause}}</td>
                      <td>{{nc.cout}}€</td>
                      <td>{{nc.progress}}%</td>
                      <td>{{nc.info_complementaires}}</td>
                      <td>{{nc.frequence ? 'Oui' : 'Non'}}</td>
                      <td>{{nc.gravite ? 'Oui' : 'Non'}}</td>
                      <td>{{nc.action_immediate ? 'Oui' : 'Non'}}</td>
                      <td>{{nc.nc_cloture ? 'Oui' : 'Non'}}</td>
                      <td><a href="{{ nc.piece_jointe }}" download>{{ nc.piece_jointe }}</a></td>

                      <td>
                             <div class="d-flex align-items-center list-action">
                                     <a class="badge bg-success mr-2" data-toggle="modal" data-target="#update" (click)="getNcData(nc.id , nc.intitule , nc.nature , nc.domaine, nc.detail_cause,nc.date_nc,nc.date_prise_en_compte,nc.description_detailee,nc.annee,nc.mois,nc.delai_prevu,nc.type_cause,nc.cout,nc.progress,nc.info_complementaires,nc.frequence,nc.gravite,nc.action_immediate,nc.nc_cloture,nc.responsable_name,nc.site_name,nc.processus_name,nc.site,nc.processus,nc.responsable_traitement)"data-placement="top" title="" data-original-title="Edit"
                                     ><i class="ri-pencil-line mr-0"></i></a>
                                 <a class="badge bg-warning mr-2" data-toggle="tooltip" (click)="openDeleteModal(nc.id)" data-placement="top" title="" data-original-title="Delete"
                                     ><i class="ri-delete-bin-line mr-0"></i></a>
                             </div>
                         </td>
                     </tr>  
                 </tbody>
             </table>
             </div>
             <pagination-controls (pageChange)="p = $event"></pagination-controls>
         </div>
     </div>

      <!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Attention , cette action est irréversible !
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      <button type="button" class="btn btn-danger" (click)="delete()" >Supprimer</button>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" [class.show]="updateModalVisible" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier une non-conformité</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <form [formGroup]="form">

          <div class="row">
            <div class="col">
              <label for="intitule" class="form-label">Intitulé de la non-conformité : </label>
              <input name="intitule" value="{{intitule}}" [(ngModel)] = "intitule" formControlName="intitule" style="width: 100%;" type="text" class="rounded-pill form-control" id="intitule">
            </div>
            <div class="col">
              <label for="nature" class="form-label">Nature : </label>
              <input name="nature"  value="{{nature}}" [(ngModel)] = "nature" formControlName="nature" style="width: 100%;" type="text" class="rounded-pill form-control" id="nature">
            </div>
            <div class="col">
              <label for="detail_cause" class="form-label">Detail cause : </label>
              <input name="detail_cause"  value="{{detail_cause}}" [(ngModel)] = "detail_cause" formControlName="detail_cause" style="width: 100%;" type="text" class="rounded-pill form-control" id="detail_cause">
            </div>
            </div>
            <div class="row">
            <div class="col">
              <label for="date_nc" class="form-label">Date NC : </label>
              <input name="date_nc"  value="{{date_nc}}" [(ngModel)] = "date_nc" formControlName="date_nc" style="width: 100%;" type="text" class="rounded-pill form-control" id="date_nc">
            </div>
            <div class="col">
              <label for="date_prise_en_compte" class="form-label">Date prise en compte : </label>
              <input name="date_prise_en_compte" value="{{date_prise_en_compte}}" [(ngModel)] = "date_prise_en_compte" formControlName="date_prise_en_compte" style="width: 100%;" type="text" class="rounded-pill form-control" id="date_prise_en_compte">
            </div>
            <div class="col">
              <label for="description_detailee" class="form-label">Description détaillée : </label>
              <input name="description_detailee"  value="{{description_detailee}}" [(ngModel)] = "description_detailee" formControlName="description_detailee" style="width: 100%;" type="text" class="rounded-pill form-control" id="description_detailee">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="action_immediate" class="form-label">Action immédiate : </label>
              <select [(ngModel)]="action_immediate" id="action_immediate" formControlName="action_immediate"  class="custom-select" data-style="py-0">
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
            </div>

            <div class="col">
              <label for="nc_cloture" class="form-label">Nc Clôturée : </label>
              <select [(ngModel)]="nc_cloture" id="nc_cloture" formControlName="nc_cloture"  class="custom-select" data-style="py-0">
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
              </div>

              <div class="col">
                <label for="type_cause" class="form-label">type_cause : </label>
                <input name="type_cause"  value="{{type_cause}}"[(ngModel)] = "type_cause" formControlName="type_cause" style="width: 100%;" type="text" class="rounded-pill form-control" id="type_cause">
                </div>
                </div>
                <div class="row">
                <div class="col">                      
                      <label class="text-dark font-weight-bold">Avancement *</label>

                      <div class="progress-bar" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress">
                      </div>
                      <input [(ngModel)]="progress" type="range" formControlName="progress" class="form-control-range" id="progress" >
                      <span>{{progress}}%</span>
                  </div>
                  

                    <div class="col">
                      <label for="detail_cause" class="form-label">Détail cause : </label>
                      <input name="detail_cause"  value="{{detail_cause}}" [(ngModel)] = "detail_cause" formControlName="detail_cause" style="width: 100%;" type="text" class="rounded-pill form-control" id="detail_cause">
                      </div>

                      <div class="col">
                        <label for="info_complementaires" class="form-label">informations complementaires:</label>
                        <input name="info_complementaires"  value="{{info_complementaires}}" [(ngModel)] = "info_complementaires" formControlName="info_complementaires" style="width: 100%;" type="text" class="rounded-pill form-control" id="info_complementaires">
                        </div>
                      </div>
                      <div class="row">
                      <div class="col">
                        <label for="site" class="form-label">Site : </label>
                        <select [(ngModel)]="site"  id="site" name="site" formControlName="site" style="width: 100%;" class="form-control" class="custom-select" >
                          <option *ngFor="let site of sites" [value]="site.id">{{ site.site_nom }}</option>
                         </select> 
                        </div>                      
                          <div class="col">
                            <label for="processus" class="form-label">Processus : </label>
                            <select [(ngModel)]="processus" id="processus" name="processus" formControlName="processus" style="width: 100%;" class="form-control" class="custom-select" >
                              <option *ngFor="let processus of processuss" [value]="processus.id">{{ processus.intitule }}</option>
                             </select> 
                            </div>
                            <div class="col mb-3">
                              <label for="responsable_traitement" class="form-label">responsable_traitement : </label>
                              <select [(ngModel)]="responsable_traitement" id="responsable_traitement" name="responsable_traitement" style="width: 100%;" formControlName="responsable_traitement" class="form-control" class="custom-select" >
                                <option *ngFor="let responsable_traitement of utilisateurs" [value]="responsable_traitement.id">{{ responsable_traitement.nom }}</option>
                              </select> 
                              </div>
                              </div>

                              <div class="col mb-2">
                              <div class="custom-file">
                                <input (change)="updateFile($event)" [(ngModel)] = "piece_jointe" formControlName="piece_jointe" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Pièce jointe</label>
                              </div>
                              </div>
                              </form>
                              </div>
                              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
           <button type="button" class="btn btn-primary" (click)="updateNc()">modfier</button> 
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
<!-- Page end  -->
<ng-template #successModal>
  <div class="modal-header">
    <h4 class="modal-title">Succès</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    La non-confirmité a été modifié avec succès.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
  </div>
</ng-template>