<div class="content-page">
    <div class="container-fluid add-form-list">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div class="header-title">
                <h4 class="card-title">Ajouter une Fiche Technique</h4>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="ficheForm" action="page-list-product.html" data-toggle="validator" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nom_fiche">Nom de la fiche * </label>
                      <input type="text" class="form-control" placeholder="Enter nom" formControlName="nom_fiche" data-errors="Entrez un nom de fiche technique" required>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="type_plat">Type de plat *</label>
                      <select name="type" class="selectpicker form-control" id="type_plat" data-style="py-0" formControlName="type_plat">
                        <option>Entrée/Salade</option>
                        <option>Potage</option>
                        <option>Accompagnement</option>
                        <option>Plat Principal</option>
                        <option>Sauce</option>
                        <option>Dessert</option>
                        <option>Texture velours</option>
                        <option>Enrichi</option>
                      </select>
                    </div> 
                  </div> 
                  <label for="fichier">Fichier *</label><br><br>  
                  <div class="col-md-12">
                                        
                    <div class="form-group">
                    
                      <input class="custom-file-input" id="customFile" type="file" (change)="onFileSelected($event)">
                      <label class="custom-file-label" for="customFile">Choisir un fichier</label>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>                          
                </div>                            
                <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
                <button type="reset" class="btn btn-danger" routerLink="/listF">Annuler</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  