.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #91ADC2;
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-control-prev {
  margin-left: -40px;
}

.carousel-control-next {
  margin-right: -40px;
}

.card {
  height: 105px;
}
.carousel-item .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i {
  font-size: 3.5rem;
}

.card-title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px; /* Add this line to align the title to the bottom */

}

.card-icon {
  background-color: #f6f6f6;
  color: #fff;
  width: 140px; /* Adjust the width as desired */
  height: 100px;


}

.icon-image {
  width: 45px;
  height: 45px;
  margin-top: -10px; /* Adjust the margin-top as desired */
}
.carousel-item .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
}

.carousel-item .col-lg-2 {
  padding: 0;
  margin: 0;
}
.custom-margin {
  margin-bottom: 10px; /* Ajoutez la marge inférieure souhaitée */
}
.custom-nav-tabs {
  background-color: #FF0000;
}
.custom-text-color {
  color: #FF0000; /* Replace with your desired color */
}

