      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: #91ADC2; 
        opacity: 1; 
      }
      
      .carousel-control-prev,
      .carousel-control-next {
        width: 50px; 
      }
      
      .carousel-control-prev {
        margin-left: -40px; 
      }
      
      .carousel-control-next {
        margin-right: -40px; 
      }

      .card {
        height: 105px;
      }
      .carousel-item .row {
        display: flex;
        justify-content: center;
        align-items: center;
      }  
      .icon-container i {
        font-size: 3.5rem;
      }
    
      .card-title {
        font-size: 12px;
        font-weight: bold;
      }
      
      .card-green {
        background-color: #51fb36;
        color: #fff;
      }
      
      .card-red {
        background-color: #ff647e;
        color: #fff;
      }
      
      .card-orange {
        background-color: #ffe28a;
        color: #000;
      }
      
      .card-brown {
        background-color: #d09840;
        color: #fff;
      }
      
      .card-purple {
        background-color: #673ab7;
        color: #fff;
      }
      
      .card-black {
        background-color: grey;
        color: #fff;
      }

      .card-pink{
          background-color: rgb(183, 13, 129);
            color: #fff;
      }
      
      
      
      