<div class="container" style="margin-top: 8%; margin-left: 70%;">
  <div  style="margin-left: 5%;">
    <div class="card-body">
      <h2 class="card-title" >Accès rapide</h2>
    </div>
  </div>
    <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a routerLink="/listP" class="card-link">
        <div class="card card-green">
          <div class="card-body">
              <i class="fa fa-users fa-3x"></i>
              <h4 class="card-title">Personnels</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6">
        <a routerLink="/nc-add" class="card-link">
          <div class="card card-red">
            <div class="card-body">
              <i class="fa fa-exclamation-circle fa-3x"></i>
              <h4 class="card-title">Ouvrir une NC</h4>
            </div>
          </div>
        </a>
      </div>
      </div>
      <div class="row">

    <div class="col-lg-2 col-md-4 col-sm-6">
      <a routerLink="/list-registre-traitement" class="card-link">
          <div class="card card-orange">
          <div class="card-body">
            <i class="fa fa-lock fa-3x"></i>
            <h4 class="card-title">RGPD</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a href="#" class="card-link">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-cogs fa-3x"></i>
            <h4 class="card-title">Paramètres</h4>
          </div>
        </div>
      </a>
    </div>
    </div>
    <div class="row">
    
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a href="#" class="card-link">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-chart-bar fa-3x"></i>
            <h4 class="card-title">Graphiques</h4>
          </div>
        </div>
      </a>

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6">
    <a href="#" class="card-link">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-chart-pie fa-3x"></i>
          <h4 class="card-title">Vision 360</h4>
        </div>
      </div>
    </a>
</div>