<script>
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
      
</script>
<app-sidebar></app-sidebar>

               
<br>
<br>
<br>           
<div class="container-fluid">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        <div>
          <div class="card">
            <div class="d-flex align-items-center mb-4 card-total-sale">
           
            <div class="card-body">
                <div class="icon iq-icon-box-2 bg-info-light">
                    <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                </div>
                <div class="ms-3">
                <p class="mb-0">Plaintes</p>
            </div>
            </div>
          </div>
        </div>
        </div></div>
        
        <div class="swiper-slide">
            <div>
              <div class="card">
                <div class="d-flex align-items-center mb-4 card-total-sale">
               
                <div class="card-body">
                    <div class="icon iq-icon-box-2 bg-info-light">
                        
                        <img src="../assets/images/product/2.png" class="img-fluid" alt="image">
                        
                    </div>
                  <p class="mb-2">Plan d'actions</p>
                  
                </div>
              </div>
            </div>
            </div></div>
            <div class="swiper-slide">
                <div >
                  <div class="card">
                    <div class="d-flex align-items-center mb-4 card-total-sale">
                   
                    <div class="card-body">
                        <div class="icon iq-icon-box-2 bg-info-light">
                            <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                        </div>
                      
                      <p class="mb-2">Plan alimentaire</p>
                    </div>
                  </div>
                </div>
                </div></div>
                <div class="swiper-slide">
                    <div >
                      <div class="card">
                        <div class="d-flex align-items-center mb-4 card-total-sale">
                       
                        <div class="card-body">
                            <div class="icon iq-icon-box-2 bg-info-light">
                                <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                            </div>
                          
                        <p class="mb-2">Saisir une non-conformité</p>
                        </div>
                      </div>
                    </div>
                    </div></div>
                    <div class="swiper-slide">
                        <div>
                          <div class="card">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                           
                            <div class="card-body">
                                <div class="icon iq-icon-box-2 bg-info-light">
                                    <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                </div>
                            
                              <p class="mb-2">Compte rendue des réunions</p>
                            </div>
                          </div>
                        </div>
                        </div></div>
                        <div class="swiper-slide">
                            <div>
                              <div class="card">
                                <div class="d-flex align-items-center mb-4 card-total-sale">
                               
                                <div class="card-body">
                                    <div class="icon iq-icon-box-2 bg-info-light">
                                        <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                    </div>
                                
                                  <p class="mb-2">Cartographie des processus</p>
                                </div>
                              </div>
                            </div>
                            </div></div>
                            <div class="swiper-slide">
                                <div >
                                  <div class="card">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                   
                                    <div class="card-body">
                                        <div class="icon iq-icon-box-2 bg-info-light">
                                            <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                        </div>
                                      
                                      <p class="mb-2">Suivie des équipements de mesure</p>
                                    </div>
                                  </div>
                                </div>
                                </div></div>
                                <div class="swiper-slide">
                                    <div >
                                      <div class="card">
                                        <div class="d-flex align-items-center mb-4 card-total-sale">
                                       
                                        <div class="card-body">
                                            <div class="icon iq-icon-box-2 bg-info-light">
                                                <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                            </div>
                                          
                                          <p class="mb-2">Saisir un événement</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div></div>
                                    <div class="swiper-slide">
                                        <div >
                                          <div class="card">
                                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                           
                                            <div class="card-body">
                                                <div class="icon iq-icon-box-2 bg-info-light">
                                                    <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                </div>
                                             
                                              <p class="mb-2">Documentation</p>
                                            </div>
                                          </div>
                                        </div>
                                        </div></div>
                                        <div class="swiper-slide">
                                            <div >
                                              <div class="card">
                                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                               
                                                <div class="card-body">
                                                    <div class="icon iq-icon-box-2 bg-info-light">
                                                        <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                    </div>
                                                 
                                                  <p class="mb-2">Problèmes ou dysfonctionnement</p>
                                                </div>
                                              </div>
                                            </div>
                                            </div></div>
                                            <div class="swiper-slide">
                                                <div>
                                                  <div class="card">
                                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                                   
                                                    <div class="card-body">
                                                        <div class="icon iq-icon-box-2 bg-info-light">
                                                            <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                        </div>
                                                     
                                                      <p class="mb-2">Félicitations, retours positifs</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                </div></div>
                                                <div class="swiper-slide">
                                                    <div >
                                                      <div class="card">
                                                        <div class="d-flex align-items-center mb-4 card-total-sale">
                                                       
                                                        <div class="card-body">
                                                            <div class="icon iq-icon-box-2 bg-info-light">
                                                                <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                            </div>
                                                          
                                                          <p class="mb-2">Imprimer plan de prévention</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    </div></div>
                                                    <div class="swiper-slide">
                                                        <div >
                                                          <div class="card">
                                                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                                           
                                                            <div class="card-body">
                                                                <div class="icon iq-icon-box-2 bg-info-light">
                                                                    <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                                </div>
                                                              
                                                              <p class="mb-2">Commande repas</p>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        </div></div>
                                                        <div class="swiper-slide">
                                                            <div >
                                                              <div class="card">
                                                                <div class="d-flex align-items-center mb-4 card-total-sale">
                                                               
                                                                <div class="card-body">
                                                                    <div class="icon iq-icon-box-2 bg-info-light">
                                                                        <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                                    </div>
                                                                  
                                                                  <p class="mb-3">Fiche Techniques restaurant</p>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            </div></div>
                                                            <div class="swiper-slide">
                                                                <div >
                                                                  <div class="card">
                                                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                                                   
                                                                    <div class="card-body">
                                                                        <div class="icon iq-icon-box-2 bg-info-light">
                                                                            <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                                                        </div>
                                                                      
                                                                      <p class="mb-2">Saisir une non-conformité</p>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                </div></div>
      </div>
     
    </div>
  </div>
      
             