.container-fluid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .swiper-slide {
    width: 200px;
  }
  .card {
    max-width: fit-content; 
    padding: 5px;
    font-size: 14px;
    height: 100px;
    border: none;
    }
    .icon {
      height: 50px; 
      width: 50px;
      }  
      .card-red {
        color:#ED6A5A;
      }
      .card-orange {
        color: #F1A208;
      }
      .card-green {
        color: #06A77D;
      }
      .card-brown {
        color: #D5C67A;
      }
      