<head>
  <script>
    function refreshPage() {
      location.reload();
    }
  </script>
</head>

<div class="content-page custom-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center mb-0">
        <div class="container ">
          <div class=" text-center mb-0">
            <h2 class="card-title text-left" style="font-size: 23px; font-weight: bold; margin-top: -1%;">Portail QHSE</h2>
          </div>
          <div id="carouselExample" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carouselExample" [class.active]="i === currentSlide" *ngFor="let icon of icons.slice(currentSlide * 16, (currentSlide + 1) * 16); let i = index"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item" [class.active]="i === currentSlide" *ngFor="let icon of getVisibleIcons(); let i = index">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between">
                      <div class="carousel-card mr-2" *ngFor="let icon of getVisibleIcons(); let i = index">
                        <a [routerLink]="icon.link" class="card-link">
                          <div class="card icon-card" [ngClass]="icon.color">
                            <div class="card-body text-center">
                              <div class="icon-container">
                                <img src="{{ icon.imageSrc }}" alt="{{ icon.title }}" class="icon-image">
                              </div>
                              <h4 class="card-title">{{ icon.title }}</h4>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev" (click)="changeSlide(-1)">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next" (click)="changeSlide(1)">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      
      </div>

      <div class="row">
        <div class="col-lg-7">
          <div class="card-body ">
            <h4 class="mb-0 btn btn-primary text-left" style="font-size: 23px; font-weight: bold; margin-top: -1%;">Tableau de bord</h4>
          </div>
          
          <div class="card" style="width: 700px; height: 300px;">
            <ul class="nav nav-tabs" id="myTab-1" role="tablist" >
           
            <li class="nav-item">
              <a class="nav-link" id="nc-tab" data-toggle="tab" href="#ncs" role="tab" aria-controls="ncs" aria-selected="true" >Mes non-conformités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="true">Mes actions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="constat-tab" data-toggle="tab" href="#constats" role="tab" aria-controls="constats" aria-selected="true">Mes constats d'audit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tache-tab" data-toggle="tab" href="#taches" role="tab" aria-controls="taches" aria-selected="true">Mes tâches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="favoris-tab" data-toggle="tab" href="#favoris" role="tab" aria-controls="favoris" aria-selected="true">Les favoris</a>
            </li>
           </ul>
          
           <!-- Tab panes -->
          
          <div class="tab-content" id="myTabContent-1">
          
            <!-- Mes actions tab content -->
            <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
              <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
                <div class="table-responsive rounded mb-0" *ngIf="userId">
                  <table class="data-tables table mb-0 tbl-server-info">
                    <thead>
                      <tr class="light ligth-data">
                       
                        <th scope="col">
                          <a>Intitulé de l'action</a>
                        </th>
                        <th scope="col">Domaine</th>
                        <th scope="col">Type d'action</th>
                        <th scope="col">Site</th>
                        <th scope="col">Délai mise en oeuvre</th>
                        <th scope="col">Etat</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let action of actions; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                     
                        <td><a routerLink="/infoAction/{{ action.id }}">{{action.intitule}}</a></td>
                        <td>{{action.origine_action}}</td>
                        <td>{{ action.type_action}}</td>
                        <td>{{ action.Site_name}}</td>
                        <td>{{ action.delai_mise_en_oeuvre}}</td>
                        <td>
                          <span *ngIf="action.etat === 'Non commencé'">
                            <i class="fas fa-circle-notch text-warning"></i>
                            {{ action.etat }}
                          </span>
                          <span *ngIf="action.etat === 'Terminé'">
                            <i class="fas fa-check-circle text-success"></i>
                            {{ action.etat }}
                          </span>
                          <div>
                            <style>
                              .rotating-icon {
                                animation: rotate 1.5s infinite linear;
                              }                               
                              @keyframes rotate {
                                0% {
                                  transform: rotate(0deg);
                                }
                                100% {
                                  transform: rotate(360deg);
                                }
                              }
                            </style>                               
                            <span *ngIf="action.etat === 'En cours'">
                              <i class="fas fa-spinner text-primary rotating-icon"></i>
                              {{ action.etat }}
                            </span>
                          </div>
                        </td>                         
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End of Mes actions tab content -->
          
            <!-- Mes non-conformités tab content -->
            <div class="tab-pane fade show active" id="ncs" role="tabpanel" aria-labelledby="nc-tab">
              <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
                <div class="table-responsive rounded mb-0" *ngIf="userId">
                  <table class="data-tables table mb-0 tbl-server-info">
                    <thead>
                      <tr class="light ligth-data">
                        <th scope="col">
                          <a>Intitulé de la non-conformité</a>
                        </th>
                        <th scope="col">Nature</th>
                        <th scope="col">Date NC</th>
                        <th scope="col">Avancement</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nc of ncs; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                        <td><a routerLink="/nc/{{ nc.id }}">{{nc.intitule}}</a></td>
                        <td>{{nc.nature}}</td>
                        <td>{{ nc.date_nc | date }}</td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="nc.progress" [attr.aria-valuenow]="nc.progress" aria-valuemin="0" aria-valuemax="100">
                              {{ nc.progress }}%
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <!-- End of Mes non-conformités tab content -->
          
            <!-- Mes constats d'audit tab content -->
            <div class="tab-pane fade" id="constats" role="tabpanel" aria-labelledby="constat-tab">
              <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
                <div class="table-responsive rounded mb-0">
                  <table class="data-tables table mb-0 tbl-server-info">
                    <thead>
                      <tr class="light ligth-data">
                        
                        <th scope="col">
                          <a>Intitulé du constat</a>
                        </th>
                        <th scope="col">Type de constat</th>
                        <th scope="col">Processus</th>
                        <th scope="col">Site</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let constat of constats; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                        <td>{{constat.intitule_constat}}</td>
                        <td>{{constat.type_constat}}</td>
                        <td>{{ constat.site_}}</td>
                        <td>{{ constat.processus_}}</td>
                     </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End of Mes constats d'audit tab content -->
          
            <!-- Mes tâches tab content -->
            <div class="tab-pane fade" id="taches" role="tabpanel" aria-labelledby="tache-tab">
              <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
                <div class="table-responsive rounded mb-0"  *ngIf="userId">
                  <table class="data-tables table mb-0 tbl-server-info">
                    <thead>
                      <tr class="light ligth-data">
                        
                        <th scope="col">
                          <a>Nom de la tâche</a>
                        </th>
                        <th scope="col">Echéance</th>
                        <th scope="col">Priorité </th>
                        <th scope="col">Etat</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tache of taches; let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                     
                        <td ><a routerLink="/tache/{{ tache.id }}">{{tache.nom_tache}}</a></td>
                        <td>{{ tache.echeance }}</td>
                      <td>{{ tache.priorite }}
                        <ng-container *ngIf="tache.priorite === 'Basse'">
                          <i class="flag-icon fas fa-flag text-success"> (3)</i>
                        </ng-container>
                        <ng-container *ngIf="tache.priorite === 'Normal'">
                          <i class="flag-icon fas fa-flag text-warning"> (2)</i>
                        </ng-container>
                        <ng-container *ngIf="tache.priorite === 'Haute'">
                          <i class="flag-icon fas fa-flag text-danger"> (1)</i>
                        </ng-container>
                      </td>                            
                      <td>
                        <span *ngIf="tache.etat === 'Non commencé'">
                          <i class="fas fa-circle-notch text-warning"></i>
                          {{ tache.etat }}
                        </span>
                        <span *ngIf="tache.etat === 'Terminé'">
                          <i class="fas fa-check-circle text-success"></i>
                          {{ tache.etat }}
                        </span>
                        <div>
                          <style>
                            .rotating-icon {
                              animation: rotate 1.5s infinite linear;
                            }                               
                            @keyframes rotate {
                              0% {
                                transform: rotate(0deg);
                              }
                              100% {
                                transform: rotate(360deg);
                              }
                            }
                          </style>                               
                          <span *ngIf="tache.etat === 'En cours'">
                            <i class="fas fa-spinner text-primary rotating-icon"></i>
                            {{ tache.etat }}
                          </span>
                        </div>
                      </td>    
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <!-- Mes favoris tab content -->
            <div class="tab-pane fade" id="favoris" role="tabpanel" aria-labelledby="favoris-tab">
              <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
                <div class="table-responsive rounded mb-0">
                  <table class="data-tables table mb-0 tbl-server-info">
                    <thead>
                      <tr class="light ligth-data">
                        
                        
                        <th scope="col">Objet</th>
                        <th scope="col">Favoris </th>
                        
                    </thead>
                    <tbody class="ligth-body">
                     
                    </tbody>
                  </table>
                </div>
              </div>            </div>
          
          </div>
          <!-- End of Tab panes -->
          <!-- End of Mes constats d'audit  tab content -->

        <!-- Mes tâches  tab content --> 
        <div class="tab-pane fade" id="constats" role="tabpanel" aria-labelledby="constat-tab">
          <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-0">
            <div class="table-responsive rounded mb-0">
              <table class="data-tables table mb-0 tbl-server-info">
                <thead>
                  <tr class="light ligth-data">
                    
                    <th scope="col">
                      <a>Intitulé du constat</a>
                    </th>
                    <th scope="col">Type de constat</th>
                    <th scope="col">Processus</th>
                    <th scope="col">Site</th>
                  </tr>
                </thead>
                <tbody class="ligth-body">
                  <tr *ngFor="let action of actions  let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                    <td>{{action.origine_action}}</td>
                    <td>{{ action.type_action}}</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End of Mes tâches tab content -->
      </div>
        </div>
       
        <div class="col-lg-4">
          
          <h4 class="card-title mb-0 " style="font-weight: bold;font-size: 23px;color: #089bd7;  margin-top: 8%">Vous êtes sur le portail QHSE !</h4>
          
          <div style="margin-top: 6%;">
            <div class="card" style="width: 500px; height: 300px;">
              <div class="card-headerH " style="background-color: #a9ce24; color: white;">
                
                <h4 class="mb-0" style=" font-size: 18px;">Actualités</h4>
                <p class="card-text">Vous pouvez profiter de votre page d'accueil pour mettre en avant vos actualités.</p>
              </div>
              
              <div class="col-lg-5">
                <img src="assets/images/QHSE.png" alt="Image" class="img-fluid">
              </div>
          </div>
         
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

