<div class="content-page custom-background">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          
           <div class="card">
              <div class="card-headers d-flex justify-content-between" style="background-color:#17469d; color:white;">
                 <div class="header-title">
                    <h4 >Suivi des non-conformités</h4>
                 </div>
              </div>
              <div class="card-body">
                 <div class="iq-example-row">
                    <div class="container-fluid">
        <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">Description du problème</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">Analyse</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Actions</a>
            </li>
         </ul>
         <div class="tab-content" id="pills-tabContent">
           <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
             <div class="table-responsive">
               <table class="table">
                 <tr class="table-default">
                   <td class="col-sm-4">Site:</td>
                   <td class="col-sm-4">{{ nc.site_name }}</td>
                 </tr>
                 <tr class="table-info">
                    <td>Nature:</td>
                    <td>{{ nc.nature }}</td>
                  </tr>
                 <tr class="table-default">
                    <td>Domaine:</td>
                    <td>{{ nc.domaine }}</td>
                  </tr>
                <tr class="table-info">
                    <td>Processus:</td>
                    <td>{{ nc.processus_name }}</td>
                  </tr>
                  <tr class="table-default" >
                <td>Intitulé de la non-conformité:</td>
                <td>{{ nc.intitule }}</td>
            </tr>
                <tr class="table-info">
                    <td>Date NC:</td>
                    <td>{{ nc.date_nc }}</td>
                  </tr>
                <tr class="table-default">
                    <td>Date de prise en compte:</td>
                    <td>{{ nc.date_prise_en_compte }}</td>
                  </tr>
                  <tr class="table-info">
                    <td>Description détailée:</td>
                    <td>{{ nc.description_detailee }}</td>
                  </tr>
                  <tr class="table-default">
                    <td>Resp traitement:</td>
                    <td>{{ nc.responsable_name }}</td>
                  </tr>
               </table>
             </div>
           </div>
           <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
             <div class="table-responsive">
               <table class="table">
                 <tr class="table-default">
                   <td>Causes type:</td>
                   <td>{{ nc.type_cause }}</td>
                 </tr>
                 <tr class="table-info">
                   <td>Détail cause:</td>
                   <td>{{ nc.detail_cause }}</td>
                 </tr>
                 <tr class="table-default">
                   <td>Coûts :</td>
                   <td>{{ nc.cout }}</td>
                 </tr>
               </table>
             </div>
           </div>
           <div class="tab-pane fade" id="pills-contact-fill" role="tabpanel" aria-labelledby="pills-contact-tab-fill">
            <div class="table-responsive">
              <table class="table">
                <tr class="table-default">
                    <td>Fréquence :</td>
                    <td>{{ nc.frequence ? 'Oui' : 'Non' }}</td>
                  </tr>
                  <tr class="table-info">
                    <td>Gravité:</td>
                    <td>{{ nc.gravite ? 'Oui' : 'Non' }}</td>
                  </tr>
                  <tbody>
                    <tr>
                      <td style="width:20%">Action(s) associée(s) <a class="badge mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target=".bd-action-modal-lg" data-placement="top" title=""
                         href=""><i class="ri-add-line"></i></a></td>
                      <td style="width:80%">
                        <table class="table table-bordered table-striped text-center">
                          <tbody>
                            <tr style="background-color: #089bd7;">
                              <th>Modifier / Supprimer</th>
                              <th>Intitulé action</th>
                              <th>Domaine</th>
                              <th>Origine de l'action</th>
                              <th>Site</th>
                              <th>Etat</th>
                              <th>Assigné à</th>
                              <th>Date mise en oeuvre</th>
                              <th>Année</th>
                              <th>Priorité</th>
                              <th>Référence action</th>
                            </tr>
                            <tr *ngIf="(actions$ | async)?.length === 0">
                              <td colspan="11">Aucune action enregistré pour cette non-conformité.</td>
                            </tr>
                            <tr *ngFor="let actions of actions$ | async">
                              <td>
                                <div class="d-flex align-items-center list-action">
                                  <a  class="btn btn-sm btn-update mr-2"  style="cursor: pointer;" data-toggle="modal" data-target="#update_action" (click)="openUpdateModal(actions)"><i class="ri-pencil-line mr-0" style="color: white;"></i></a>
                                  <a class="btn btn-sm btn-delete mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#deleteAction"
                                  (click)="openDeleteModal(actions.id)"><i class="ri-delete-bin-line mr-0" style="color: white;"></i></a>
                                </div>
                              </td>
                              <td><a [routerLink]="['/infoAction/', actions.id]">{{ actions.intitule }}</a></td>
                              <td>{{ actions.domaine }}</td>
                              <td>{{ actions.origine_action }}</td>
                              <td>{{ actions.Site_name }}</td>
                              <td>
                                <span *ngIf="actions.etat === 'Non commencé'">
                                  <i class="fas fa-circle-notch text-warning"></i>
                                  {{ actions.etat }}
                                </span>
                                <span *ngIf="actions.etat === 'Terminé'">
                                  <i class="fas fa-check-circle text-success"></i>
                                  {{ actions.etat }}
                                </span>
                                <div>
                                  <style>
                                    .rotating-icon {
                                      animation: rotate 1.5s infinite linear;
                                    }                                
                                    @keyframes rotate {
                                      0% {
                                        transform: rotate(0deg);
                                      }
                                      100% {
                                        transform: rotate(360deg);
                                      }
                                    }
                                  </style>                              
                                  <span *ngIf="actions.etat === 'En cours'">
                                    <i class="fas fa-spinner text-primary rotating-icon"></i>
                                    {{ actions.etat }}
                                  </span>
                                </div>
                              </td>                              
                              <td>{{ actions.assigne_a }}</td>
                              <td>{{ actions.delai_mise_en_oeuvre }}</td>
                              <td>{{ actions.annee }}</td>
                              <td>{{ actions.priorite }}</td>
                              <td>{{ actions.reference }}</td>
                            </tr>
                          </tbody>
                        </table>
                         <!-- Modal -->
                         <div class="modal fade" id="deleteAction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                         <div class="modal-dialog" role="document">
                           <div class="modal-content">
                             <div class="modal-header delete-header">
                               <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body">
                               Attention , cette action est irréversible !
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-delete-modal" data-dismiss="modal" (click)="deleteAction()"><i class="fas fa-trash"></i>Supprimer</button>
                               <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
                             </div>
                           </div>
                         </div>
                       </div>
                      </td>
                    </tr>
                  </tbody>
                  <tr class="table-default">
                    <td>Action immediate :</td>
                    <td>{{ nc.action_immediate ? 'Oui' : 'Non' }}</td>
                  </tr>
                  <tr class="table-info">
                    <td>Progression :</td>
                    <td><div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" [style.width.%]="nc.progress" [attr.aria-valuenow]="nc.progress" aria-valuemin="0" aria-valuemax="100">
                        {{ nc.progress }}%
                      </div>
                    </div></td>
                  </tr>
                  <tr class="table-default">
                    <td>Nc cloture :</td>
                    <td>{{ nc.nc_cloture ? 'Oui' : 'Non' }}</td>
                  </tr>
                
              </table>
            </div>
          </div>
          <div class="row mt-1 mb-2 justify-content-end">
            <a routerLink="/nc-list" class="btn add-list">
              <i class="fas fa-arrow-left"></i> Retourner vers la liste des non-conformités
            </a>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
         </div>
      </div>
    </div>
</div>
<!-- Page end -->
<div class="modal fade bd-action-modal-lg" [class.show]="addModalVisible"  tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header" style="background-color: #089bd7;">
           <h5 class="modal-title" style="color:white">Ajout action amélioration</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" style="color:black">&times;</span>
           </button>
        </div>
        <div class="modal-body">
              <div class="card-body">
               <form [formGroup]="actionForm" (ngSubmit)="addActionFormData()" class="needs-validation" enctype="multipart/form-data" novalidate>
                 <div class="d-flex align-items">
                 <div class="col-3">
                  <div class="form-group">
                    <label for="intitule">Intitulé :</label>
                    <input type="text" class="form-control" formControlName="intitule" />
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['intitule'].invalid">
                      <div *ngIf="f['intitule'].errors && f['intitule'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['intitule'].errors && f['intitule'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                  </div>
                  </div>
                 </div>
                 <div class="col-3">
                  <div class="form-group">
                    <label for="type_action">Type d'action :</label>
                    <select id="type_action" name="type_action" formControlName="type_action" class="custom-select" data-style="py-0" required>
                     <option value="Corrective"  selected>Corrective</option>
                     <option value="Préventive" >Préventive</option>
                     <option value="Stratégique" >Stratégique</option>
                    </select>
                  </div>
                  </div>
                  <div class="col-3">
                  <div class="form-group">
                    <label for="origine_action">Origine d'action :</label>
                    <input type="text" class="form-control" formControlName="origine_action" />
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['origine_action'].invalid">
                      <div *ngIf="f['origine_action'].errors && f['origine_action'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['origine_action'].errors && f['origine_action'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                  </div>
                  </div>
                  </div>
                  <div class="col-3">
                  <div class="form-group">
                    <label for="reference">Référence :</label>
                    <input type="text" class="form-control" formControlName="reference" />
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['reference'].invalid">
                      <div *ngIf="f['reference'].errors && f['reference'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['reference'].errors && f['reference'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                  </div>
                  </div>
                  </div>
                 </div>
                 <div class="d-flex align-items">
                   <div class="col-4">
                  <div class="form-group">
                    <label for="domaine">Domaine :</label>
                    <select id="domaine" name="domaine" formControlName="domaine" class="custom-select" data-style="py-0" required>
                     <option value="Qualité"  selected>Qualité</option>
                     <option value="Sécurité" >Sécurité</option>
                     <option value="Environement" >Environement</option>
                    </select>
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="site">Site :</label>
                    <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
                     <option value="" selected disabled>Choisissez un site</option>
                     <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
                    </select>
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="processus">Processus :</label>
                    <select id="processus" name="processus" formControlName="processus" class="custom-select" data-style="py-0" required>
                     <option value="" selected disabled>Choisissez un processus</option>
                     <option *ngFor="let processus of processus$ | async" [value]="processus.id">{{ processus.intitule }}</option>
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="d-flex align-items">
                   <div class="col-6">
                  <div class="form-group">
                    <label for="analyse_cause">Analyse cause (AC) / risques (AP) :</label>
                    <textarea class="form-control" formControlName="analyse_cause"></textarea>
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['analyse_cause'].invalid">
                      <div *ngIf="f['analyse_cause'].errors && f['analyse_cause'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['analyse_cause'].errors && f['analyse_cause'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                  </div>
                  </div>
                  </div>
                  <div class="col-6">
                  <div class="form-group">
                    <label for="plan_action">Plan d'action :</label>
                    <textarea class="form-control" formControlName="plan_action"></textarea>
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['plan_action'].invalid">
                      <div *ngIf="f['plan_action'].errors && f['plan_action'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['plan_action'].errors && f['plan_action'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                  </div>
                  </div>
                 </div>
                 </div>
                  <div class="form-group">
                     <h5>Prise en charge de l'action</h5>
                  </div>
                  <div class="d-flex align-items">
                   <div class="col-4">
                  <div class="form-group">
                    <label for="delai_mise_en_oeuvre">Délai de mise en oeuvre :</label>
                    <input type="date" class="form-control" formControlName="delai_mise_en_oeuvre" />
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="assigne_a">Assigné à :</label>
                    <select id="assigne_a" name="assigne_a" formControlName="assigne_a" class="custom-select" data-style="py-0" required>
                      <option value="" selected disabled>Choisissez un utilisateur</option>
                      <option *ngFor="let assigne_a of utilisateurs$ | async" [value]="assigne_a.id">{{ assigne_a.nom }}</option>
                     </select> 
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="priorite">Priorité :</label>
                    <select id="priorite" name="priorite" formControlName="priorite" class="custom-select" data-style="py-0" required>
                     <option value="1"  selected>1</option>
                     <option value="2" >2</option>
                     <option value="3" >3</option>
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="form-group">
                     <h5>Prise en charge de la mesure d'efficacité</h5>
                  </div>
                  <div class="d-flex align-items">
                   <div class="col-4">
                  <div class="form-group">
                    <label for="delai_mesure_eff">Délai de mesure effective :</label>
                    <input type="date" class="form-control" formControlName="delai_mesure_eff" />
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="type_critere_eff">Type de critère effectif :</label>
                    <input type="text" class="form-control" formControlName="type_critere_eff" />
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['type_critere_eff'].invalid">
                      <div *ngIf="f['type_critere_eff'].errors && f['type_critere_eff'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['type_critere_eff'].errors && f['type_critere_eff'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                  </div>
                  </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                    <label for="detail_critere_eff">Détails du critère effectif :</label>
                    <textarea class="form-control" formControlName="detail_critere_eff"></textarea>
                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['detail_critere_eff'].invalid">
                      <div *ngIf="f['detail_critere_eff'].errors && f['detail_critere_eff'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
                      <div *ngIf="f['detail_critere_eff'].errors && f['detail_critere_eff'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="col mb-2">
                    <div class="custom-file">
                      <input (change)="onFileSelectedAction($event)" formControlName="piece_jointe" type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">{{ getSelectedFileName() }}</label>
                    </div>
                  </div>
                  
                  <div class="d-flex align-items-end flex-column" >
                   <div class="mt-auto p-2">
                     <button type="submit" class="btn btn-primary" [disabled]="actionForm.invalid"><i class="fas fa-plus"></i>Ajouter</button>
                     <button type="button" class="btn btn-warning" data-dismiss="modal" ><i class="fas fa-times"></i>Annuler</button>
                  </div>
                  </div>
               </form>
              </div>
           </div>
        </div>
     </div>
  </div>


<!-- update    -->
<div class="modal fade bd-action-modal-lg" [class.show]="updateModalVisible"  id="update_action" tabindex="-1" role="dialog" aria-hidden="true" (click)="resetFormOnOutsideClick($event)" (keydown)="onEscKeyPress($event)">
<div class="modal-dialog modal-lg">                          
<div class="modal-content">
<div class="modal-header" style="background-color: #089bd7;">
<h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Modifier action amélioration</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="actionForm.reset()">
<span aria-hidden="true" style="color:black">×</span>
</button>
</div>
<div class="modal-body">
<form [formGroup]="actionForm" (ngSubmit)="updateAction()"  class="needs-validation" novalidate>  
<div class="row">   
<div class="col">                                       
<div class="form-group">
<label for="intitule">Intitulé :</label>
<input type="text" class="form-control" formControlName="intitule" />
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['intitule'].invalid">
  <div *ngIf="f['intitule'].errors && f['intitule'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['intitule'].errors && f['intitule'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
</div>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="type_action">Type d'action :</label>
<select id="type_action" name="type_action" formControlName="type_action" class="custom-select" data-style="py-0" >
<option value="Corrective"  selected>Corrective</option>
<option value="Préventive" >Préventive</option>
<option value="Stratégique" >Stratégique</option>
</select>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="origine_action">Origine d'action :</label>
<input type="text" class="form-control" formControlName="origine_action" />
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['origine_action'].invalid">
  <div *ngIf="f['origine_action'].errors && f['origine_action'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['origine_action'].errors && f['origine_action'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
</div>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="reference">Référence :</label>
<input type="text" class="form-control" formControlName="reference" />
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['reference'].invalid">
  <div *ngIf="f['reference'].errors && f['reference'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['reference'].errors && f['reference'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label for="domaine">Domaine :</label>
<select id="domaine" name="domaine" formControlName="domaine" class="custom-select" data-style="py-0" >
<option value="Qualité"  selected>Qualité</option>
<option value="Sécurité" >Sécurité</option>
<option value="Environement" >Environement</option>
</select>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="site">Site :</label>
<select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" >
<option value="" selected disabled>Choisissez un site</option>
<option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
</select>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="processus">Processus :</label>
<select id="processus" name="processus" formControlName="processus" class="custom-select" data-style="py-0" >
<option value="" selected disabled>Choisissez un processus</option>
<option *ngFor="let processus of processus$ | async" [value]="processus.id">{{ processus.intitule }}</option>
</select>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label for="analyse_cause">Analyse cause (AC) / risques (AP) :</label>
<textarea class="form-control" formControlName="analyse_cause"></textarea>
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['analyse_cause'].invalid">
  <div *ngIf="f['analyse_cause'].errors && f['analyse_cause'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['analyse_cause'].errors && f['analyse_cause'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
</div>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="plan_action">Plan d'action :</label>
<textarea class="form-control" formControlName="plan_action"></textarea>
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['plan_action'].invalid">
  <div *ngIf="f['plan_action'].errors && f['plan_action'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['plan_action'].errors && f['plan_action'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
</div>
</div>
</div>
</div>
<div class="form-group">
<h5>Prise en charge de l'action</h5>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label for="delai_mise_en_oeuvre">Délai de mise en oeuvre :</label>
<input type="date" class="form-control" formControlName="delai_mise_en_oeuvre" />
</div>
</div>
<div class="col">
<div class="form-group">
<label for="assigne_a">Assigné à :</label>
<select id="assigne_a" name="assigne_a" formControlName="assigne_a" class="custom-select" data-style="py-0" >
  <option value="" selected disabled>Choisissez un utilisateur</option>
  <option *ngFor="let assigne_a of utilisateurs$ | async" [value]="assigne_a.id">{{ assigne_a.nom }}</option>
  </select>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="priorite">Priorité :</label>
<select id="priorite" name="priorite" formControlName="priorite" class="custom-select" data-style="py-0" >
<option value="1"  selected>1</option>
<option value="2" >2</option>
<option value="3" >3</option>
</select>
</div>
</div>
</div>
<div class="form-group">
<h5>Prise en charge de la mesure d'efficacité</h5>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label for="delai_mesure_eff">Délai de mesure effective :</label>
<input type="date" class="form-control" formControlName="delai_mesure_eff" />
</div>
</div>
<div class="col">
<div class="form-group">
<label for="type_critere_eff">Type de critère effectif :</label>
<input type="text" class="form-control" formControlName="type_critere_eff" />
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['type_critere_eff'].invalid">
  <div *ngIf="f['type_critere_eff'].errors && f['type_critere_eff'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['type_critere_eff'].errors && f['type_critere_eff'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
</div>
</div>
</div>
<div class="col">
<div class="form-group">
<label for="detail_critere_eff">Détails du critère effectif :</label>
<textarea class="form-control" formControlName="detail_critere_eff"></textarea>
<div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['detail_critere_eff'].invalid">
  <div *ngIf="f['detail_critere_eff'].errors && f['detail_critere_eff'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> doit avoir au moins 3 caractères !</div>
  <div *ngIf="f['detail_critere_eff'].errors && f['detail_critere_eff'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
</div>
</div>
</div>
</div>
<div class="col mb-2">
  <div class="custom-file">
    <input (change)="updateFile($event)"  formControlName="piece_jointe" type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">{{ getSelectedFileName() }}</label>
  </div>
</div>

<div class="d-flex align-items-end flex-column">
<div class="mt-auto p-2">
<button type="submit" class="btn btn-primary" [disabled]="actionForm.invalid"  ><i class="fas fa-pencil-alt"></i>Modifier</button>                                                 
<button type="button" class="btn btn-warning" (click)="actionForm.reset()" data-dismiss="modal" ><i class="fas fa-times"></i>Annuler</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div> 
<!-- Page end  -->
<ng-template #successModal>
<div class="modal-header update-header">
<h4 class="modal-title">Succès</h4>
<button type="button" class="close" aria-label="Close" (click)="closeModal()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
L'action a été modifié avec succès.
</div>
<div class="modal-footer">
<button type="button" class="btn btn-update-modal" (click)="closeModal()"><i class="fas fa-times"></i>Fermer</button>
</div>
</ng-template>
<!-- Page end  -->
<ng-template #addModal>
<div class="modal-header success-header">
<h4 class="modal-title">Succès</h4>
<button type="button" class="close" aria-label="Close" (click)="closeModal()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
L'action a été ajoutée avec succès.
</div>
<div class="modal-footer">
<button type="button" class="btn btn-success" (click)="closeModal()"><i class="fas fa-times"></i>Fermer</button>
</div>
</ng-template>
