

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    </head>
  <body class="  ">
 
    <!-- Wrapper Start -->
    <div class="wrapper">
      
      <div class="content-page ">
        <div class="card">
         <div class="card-headers d-flex justify-content-between">
            <div class="header-title">
               <h4 >Détails du Processus </h4>
            </div>
            <div class="col-sm-6 col-md-6">
               <div class="user-list-files d-flex">
                  
                 <div class="d-flex align-items-center">
                    <a routerLink="/listProcessus" class="btn btn-danger add-list" style=" margin-right: -100%;">Retour</a>
                </div>
               </div>
            </div>
         </div>
      <div class="container-fluid">
        <div class="table-responsive">
                     <table class="table">
                       
                       <tr class="table-default">
  <td style="width: 30%;  font-weight: bold;">Intitulé</td>
  <td style="width: 70%;">
    {{ currentId.intitule}}
  </td>
</tr>

                        <tr class="table-info">
                           <td style=" font-weight: bold; color: #17469d;">Typologie</td>
                           <td>{{ currentId.typologie }}</td>
                         </tr>
                        <tr class="table-default">
                           <td style=" font-weight: bold; color: #17469d;">Sigle</td>
                           <td>{{ currentId.sigle }}</td>
                         </tr>
                       <tr class="table-info">
                           <td style=" font-weight: bold; color: #17469d;">Finalité </td>
                           <td>{{ currentId.finalite }}</td>
                         </tr>
                         <tr class="table-default" >
                       <td style=" font-weight: bold; color: #17469d;">Pilote </td>
                       <td>{{ currentId.pilote_name }}</td>
                   </tr>
                       <tr class="table-info">
                           <td style=" font-weight: bold; color: #17469d;">Acteurs  </td>
                           <td>{{ currentId.acteurs }}</td>
                         </tr>
                       <tr class="table-default">
                           <td style=" font-weight: bold; color: #17469d;">Donnée entrée</td>
                           <td>{{ currentId.donnee_entree}}</td>
                         </tr>
                         <tr class="table-info">
                           <td style=" font-weight: bold; color: #17469d;">Donnée Sortie:</td>
                           <td>{{ currentId.donnee_sortie }}</td>
                         </tr>
                         <tr class="table-default">
                           <td style=" font-weight: bold; color: #17469d;">Activités</td>
                           <td>{{ currentId.activites }}</td>
                         </tr>
                         <tr class="table-info">
                           <td style=" font-weight: bold; color: #17469d;">Ressource Tech Org</td>
                           <td>{{ currentId.ressources_tech_org}}</td>
                         </tr>
                         <tr class="table-default">
                            <td style=" font-weight: bold; color: #17469d;">Objectifs Indicateurs</td>
                            <td>{{ currentId.objectifs_ind}}</td>
                          </tr>
                          <tr class="table-info">
                            <td style=" font-weight: bold; color: #17469d;" >Outils de surveillance</td>
                            <td>{{ currentId.outils_surveil}}</td>
                          </tr>
                          
                          
                      </table>
                      <tr>
                        
                        <table class="table">
                          <tbody>
                            <tr>
                                <td style="width:20%"> Risques et opportunités<a class="btn btn-sm mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target=".bd-analyse-modal-lg" data-placement="top" title=""
                                   href=""><i class="fas fa-plus"></i></a></td>
                                <td style="width:80%">
                                  <table class="table table-bordered table-striped text-center">
                                    <tbody>
                                      <tr style="background-color: #089bd7;">
                                        <th>Modifier / Supprimer</th>
                                        <th>Description</th>
                                        <th>Typologie</th>
                                        <th>Axe stratégique lié</th>
                                        <th>Famille</th>
                                        <th>Indice risque</th>
                                        <th>Niveau de risque</th>
                                        <th>Date dernière évaluation</th>
                                        <th>Oppurtinité identifié</th>
                                        <th>Site</th>
                                      </tr>
                                      <tr *ngIf="(analyserisques$ | async)?.length === 0">
                                        <td colspan="11">Aucun risque enregistré pour ce processus .</td>
                                      </tr>
                                      <tr *ngFor="let analyserisques of analyserisques$ | async">
                                        <td>
                                          <div class="d-flex align-items-center list-action">
                                            <a class="btn btn-sm btn-update mr-2"  style=" color:white;cursor: pointer;" data-toggle="modal" data-target="#update_analyse" (click)="openUpdateModal(analyserisques)"><i class="ri-pencil-line mr-0"></i></a>
                                            <a class="btn btn-sm btn-delete mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#deleteAnalyse"
                                            (click)="openDeleteModal(analyserisques.id)"><i class="ri-delete-bin-line mr-0" style="color: #fff;"></i></a>
                                          </div>
                                        </td>
                                        <td><a routerLink="/analyserisque/{{ analyserisques.id }}">{{analyserisques.description}}</a></td>
                                        <td>{{ analyserisques.typologie }}</td>
                                        <td>{{ analyserisques.axe }}</td>
                                        <td>{{ analyserisques.famille }}</td>
                                        <td>
                                          <ng-container *ngIf="analyserisques.indice!== null">
                                            <ng-container *ngIf="+analyserisques.indice<= 5">
                                              <i class="fas fa-flag text-success"></i>
                                            </ng-container>
                                            <ng-container *ngIf="+analyserisques.indice> 5 && +analyserisques.indice<= 10">
                                              <i class="fas fa-flag text-warning"></i>
                                            </ng-container>
                                            <ng-container *ngIf="+analyserisques.indice> 10">
                                              <i class="fas fa-flag text-danger"></i>
                                            </ng-container>
                                          </ng-container>
                                        </td>                              
                                        <td>{{ analyserisques.niveau_risque }}</td>
                                        <td>{{ analyserisques.date_evaluation }}</td>
                                        <td>{{ analyserisques.opportunite }}</td>
                                        <td>{{ analyserisques.Site_name }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div class="modal fade" id="deleteAnalyse" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="popup text-left">
                                                    <h4 class="mb-3">Confirmer la suppression</h4>
                                                    <div class="content create-workform bg-body">
                                                        <div class="pb-3">
                                                            <label class="mb-2">Est ce que vous voulez supprimer cette analyse de risque définitivement !!</label>
                                                        </div>
                                                        <div class="col-lg-12 mt-4">
                                                            <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                                <div class="btn bg-warning mr-4" data-dismiss="modal" (click)="deleteAnalyse()">Supprimer</div>
                                                                <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
          
                              </tr>
                            </tbody>
                        </table>
                    </tr>
        </div>
                           </div>
                        </div>
                        
                     </div>
                    </div>
    
    <!-- Wrapper End-->
 
   
  </body>
</html>
<!-- ADD Analyse risque end -->

<div class="modal fade bd-analyse-modal-lg" [class.show]="addModalVisible"  tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header  success-header" style="background-color: #089bd7;">
           <h5 class="modal-title" style="color:white">Ajout analyse risque</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" style="color:black">&times;</span>
           </button>
        </div>
        <div class="modal-body">
              <div class="card-body">
               <form [formGroup]="analyseForm" (ngSubmit)="addAnalyseFormData()" class="needs-validation" enctype="multipart/form-data" novalidate>
                 <div class="d-flex align-items">
                 <div class="col-3">
                  <div class="form-group">
                    <label for="typologie">Typologie :</label>
                    <input type="text" class="form-control" formControlName="typologie" />
                  </div>
                 </div>
                  <div class="col-3">
                  <div class="form-group">
                    <label for="famille">Famille :</label>
                    <input type="text" class="form-control" formControlName="famille" />
                  </div>
                  </div>
                  <div class="col-3">
                  <div class="form-group">
                    <label for="origine">Origin :</label>
                    <input type="text" class="form-control" formControlName="origine" />
                  </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="site">Site :</label>
                      <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
                       <option value="" selected disabled>Choisissez un site</option>
                       <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
                      </select>
                    </div>
                    </div>
                 </div>
                 <div class="d-flex align-items">
                  
                  <div class="col-3">
                    <div class="form-group">
                      <label for="axe">Axe stratégique lié :</label>
                      <input type="text" class="form-control" formControlName="axe" />
                    </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label for="description">Description :</label>
                        <input type="text" class="form-control" formControlName="description" />
                      </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="contexte_ext">Contexte externe :</label>
                          <input type="text" class="form-control" formControlName="contexte_ext" />
                        </div>
                        </div>
                  </div>
                  <div class="d-flex align-items">
                  <div class="col-12">
                  <div class="form-group">
                    <label for="contexte_int">Context interne :</label>
                    <textarea class="form-control" formControlName="contexte_int"></textarea>
                  </div>
                 </div>
                 </div>
                  <div class="d-flex align-items">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="consequences">Conséquences :</label>
                      <input type="text" class="form-control" formControlName="consequences" />
                    </div>
                    </div>
                  <div class="col-3">
                  <div class="form-group">
                    <label for="opportunite" title="Opportunité identifiée">Opportunité :</label>
                    <input class="form-control" formControlName="opportunite">
                  </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="indice">Indice risque :</label>
                      <input type="number" class="form-control" formControlName="indice">
                      <div class="flag-icons">
                        <div class="flag-label-row">
                          <span class="flag-label success">0-5 :</span>
                          <i class="flag-icon fas fa-flag text-success" [ngClass]="{'active': +indice >= 0 && +indice <= 5}"></i>
                        </div>
                        <div class="flag-label-row">
                          <span class="flag-label warning">5-10 :</span>
                          <i class="flag-icon fas fa-flag text-warning" [ngClass]="{'active': +indice > 5 && +indice <= 10}"></i>
                        </div>
                        <div class="flag-label-row">
                          <span class="flag-label danger">10 ou plus :</span>
                          <i class="flag-icon fas fa-flag text-danger" [ngClass]="{'active': +indice > 10}"></i>
                        </div>
                      </div>  
                    </div>
                  </div>
                  
                    <div class="col-3">
                      <div class="form-group">
                        <label for="niveau_risque">Niveau de risque :</label>
                        <input class="form-control" formControlName="niveau_risque">
                      </div>
                      </div>
                </div>
                  <div class="form-group">
                    <h5>Evaluation</h5>
                 </div>
                 <div class="d-flex align-items">
                 <div class="col-6">
                  <div class="form-group">
                    <label for="date_evaluation">Date évaluation :</label>
                    <input type="date" class="form-control" formControlName="date_evaluation" />
                  </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="impact">Impact :</label>
                      <input class="form-control" formControlName="impact">
                    </div>
                    </div>
                    </div>
                    <div class="d-flex align-items">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="maitrise">Maitrise :</label>
                          <input class="form-control" formControlName="maitrise">
                        </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="mesure">Mesures en place :</label>
                            <input class="form-control" formControlName="mesure">
                          </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="probabilite">Probabilité :</label>
                              <input class="form-control" formControlName="probabilite">
                            </div>
                            </div>
                          </div>
                  <div class="form-group">
                    <h5>Plan d'action</h5>
                 </div>
                 <div class="col-12">
                  <div class="form-group">
                    <label for="type_action">Type d'action :</label>
                    <input class="form-control" formControlName="type_action">
                  </div>
                  </div>
                  
                  <div class="d-flex align-items-end flex-column" >
                   <div class="mt-auto p-2">
                     <button type="submit" class="btn mr-2" style="background-color: #ffd140; color:white;" [disabled]="analyseForm.invalid"  ><i class="fas fa-plus"></i>Ajouter</button>
                     <button type="button" class="btn bg-warning" data-dismiss="modal" ><i class="fas fa-times"></i>Annuler</button>
                  </div>
                  </div>
               </form>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- update    -->
<div class="modal fade bd-analyse-modal-lg" [class.show]="updateModalVisible"  id="updateAnalyse" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">                          
  <div class="modal-content">
  <div class="modal-header" style="background-color: #089bd7;">
  <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Modifier analyse risque</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true" style="color:black">×</span>
  </button>
  </div>
  <div class="modal-body">
  <form [formGroup]="analyseForm" (ngSubmit)="updateAnalyse()" class="needs-validation" novalidate>  
  <div class="row">   
  <div class="col">                                       
    <div class="form-group">
      <label for="typologie">Typologie :</label>
      <input type="text" class="form-control" formControlName="typologie" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="famille">Famille :</label>
      <input type="text" class="form-control" formControlName="famille" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="origine">Origin :</label>
      <input type="text" class="form-control" formControlName="origine" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="site">Site :</label>
      <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
       <option value="" selected disabled>Choisissez un site</option>
       <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
      </select>
    </div>
  </div>
  </div>
  <div class="row">

  <div class="col">
    <div class="form-group">
      <label for="axe">Axe stratégique lié :</label>
      <input type="text" class="form-control" formControlName="axe" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="description">Description :</label>
      <input type="text" class="form-control" formControlName="description" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="contexte_ext">Contexte externe :</label>
      <input type="text" class="form-control" formControlName="contexte_ext" />
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col">
    <div class="form-group">
      <label for="contexte_int">Context interne :</label>
      <textarea class="form-control" formControlName="contexte_int"></textarea>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col">
    <div class="form-group">
      <label for="consequences">Conséquences :</label>
      <input type="text" class="form-control" formControlName="consequences" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="opportunite">Opportunité identifiée :</label>
      <input class="form-control" formControlName="opportunite">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="indice">Indice risque :</label>
      <input type="number" class="form-control" formControlName="indice">
      <div class="flag-icons">
        <div class="flag-label-row">
          <span class="flag-label success">0-5 :</span>
          <i class="flag-icon fas fa-flag text-success" [ngClass]="{'active': +indice >= 0 && +indice <= 5}"></i>
        </div>
        <div class="flag-label-row">
          <span class="flag-label warning">5-10 :</span>
          <i class="flag-icon fas fa-flag text-warning" [ngClass]="{'active': +indice > 5 && +indice <= 10}"></i>
        </div>
        <div class="flag-label-row">
          <span class="flag-label danger">10 ou plus :</span>
          <i class="flag-icon fas fa-flag text-danger" [ngClass]="{'active': +indice > 10}"></i>
        </div>
      </div>  
    </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="niveau_risque">Niveau de risque :</label>
        <input class="form-control" formControlName="niveau_risque">
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
    <div class="form-group">
      <h5>Evaluation</h5>
   </div>
   </div>
   </div>
   <div class="row">
  <div class="col">
    <div class="form-group">
      <label for="date_evaluation">Date évaluation :</label>
      <input type="date" class="form-control" formControlName="date_evaluation" />
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="impact">Impact :</label>
      <input class="form-control" formControlName="impact">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="maitrise">Maitrise :</label>
      <input class="form-control" formControlName="maitrise">
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="mesure">Mesures en place :</label>
        <input class="form-control" formControlName="mesure">
      </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="probabilite">Probabilité :</label>
          <input class="form-control" formControlName="probabilite">
        </div>
        </div>      
</div>
    <div class="form-group">
      <h5>Plan d'action</h5>
    </div>
    <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="type_action">Type d'action :</label>
        <input class="form-control" formControlName="type_action">
      </div>
      </div>
    </div>
  
  <div class="d-flex align-items-end flex-column">
  <div class="mt-auto p-2">
  <button type="submit" class="btn mr-2"  style="background-color: #ffd140; color:white;"  ><i class="fas fa-pencil-alt"></i>Modifier</button>                                                 
  <button type="button" class="btn bg-warning" (click)="analyseForm.reset()" data-dismiss="modal" ><i class="fas fa-times"></i>Annuler</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div> 

<ng-template #successModal>
  <div class="modal-header update-header">
  <h4 class="modal-title">Succès</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  L'analyse risque a été modifié avec succès.
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-update-modal" (click)="closeModal()">Fermer</button>
  </div>
  </ng-template>
  <!-- Page end  -->



  <ng-template #addModalAnalyse>
  <div class="modal-header success-header">
  <h4 class="modal-title">Succès</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  L'analyse risque a été ajoutée avec succès.
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="closeModal()">Fermer</button>
  </div>
  </ng-template>