<div class="content-page custom-background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <h2>Forgot Password</h2>
            <form (ngSubmit)="onSubmit()">
              <div>
                <label>Email:</label>
                <input type="email" [(ngModel)]="email" name="email" required>
              </div>
              <button type="submit">Reset Password</button>
            </form>
</div>
</div>
</div>
</div>