<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
           
            <div class="card">
               <div class="card-header d-flex justify-content-between" style="background-color:#17469d; color:white;">
                  <div class="header-title">
                     <h4 class="card-title">Document unique</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="iq-example-row">
                     <div class="container-fluid">
                        <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">IDENTIFICATION DES RISQUES</a>
                           </li>
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">EVALUATION</a>
                           </li>
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">PLAN D'ACTIONS</a>
                           </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent-1">
                           <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                               <div class="card-body">
                                   <div id="table" class="table-editable">
                                      <table class="table table-bordered table-responsive-md table-striped text-center" style="border: 2cm;" id="table_info">
                                         <tbody>
                                            <tr>
                                               <td style="width:30%">Site</td>
                                               <td style="width:70%">{{ danger.Site_name }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%; background-color:#8de2ff">Service</td>
                                               <td style="width:70%; background-color:#8de2ff">{{ danger.service_name }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%">Poste de travail</td>
                                               <td style="width:70%">{{ danger.poste_de_travail }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%; background-color:#8de2ff">Tache / situation analysée</td>
                                               <td style="width:70%; background-color:#8de2ff">{{ danger.taches }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%">Famille de danger</td>
                                               <td style="width:70%">{{ danger.famille_name }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%; background-color:#8de2ff">Description du danger</td>
                                               <td style="width:70%; background-color:#8de2ff">{{ danger.description }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:30%">Conséquences courantes</td>
                                               <td style="width:70%">{{ danger.consequences }}</td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                </div>
                           </div>
                           <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
                             <div id="table" class="table-editable">
                               <span class="table-add float-left mb-3 mr-2">
                                   <h6>Historique des évaluations</h6>
                               </span>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                   <tbody>
                                      <tr>
                                           <td style="width:20%">Evaluation(s) <a class="badge mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target="#exampleModalCenteredScrollable" data-placement="top"><i class="ri-add-line"></i></a></td>
                                           <td style="width:80%">
                                               <table class="table table-bordered table-responsive-md table-striped text-center" style="border: 2cm;">
                                               <tbody>
                                               <tr style="background-color: #089bd7;">
                                                   <th>Date evaluation</th>
                                                   <th>Gravité</th>
                                                   <th>Probabilité</th>
                                                   <th>Mesures de prévention en place</th>
                                                   <th>IPR</th>
                                                   <th>Indice rique</th>
                                               </tr>
                                               <tr *ngIf="(evaluations$ | async)?.length === 0">
                                                  <td colspan="7">Aucune évaluation enregistré pour ce danger.</td>
                                                </tr>
                                               <tr *ngFor="let evaluation of evaluations$ | async">
                                                   <td>{{ evaluation.date }}</td>
                                                   <td>{{ evaluation.severite }}</td>
                                                   <td>{{ evaluation.probabilite }}</td>
                                                   <td>{{ evaluation.mesure_prevention }}</td>
                                                   <td>{{ evaluation.ipr }}</td>
                                                   <td>{{ evaluation.indice_risque }}</td>
                                               </tr>
                                               </tbody>
                                               </table>
                                           </td>
                                      </tr>
                                   </tbody>
                                </table>
                                <div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
                                   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                         <div class="modal-header" style="background-color: #089bd7;">
                                            <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white;">Ajout evaluation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color:white;">×</span>
                                            </button>
                                         </div>
                                         <div class="modal-body">
                                            <form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()"  class="needs-validation" novalidate>
                                             
                                               <div class="form-group">
                                                  <label class="label-important">Probabilité </label>
                                                  <input type="number" class="form-control" formControlName="probabilite" min="0" required>
                                                  <div class="invalid-feedback">
                                                     Ce champs est obligatoire.
                                                  </div>
                                               </div>
                                             
                                               <div class="form-group">
                                                  <label class="label-important">Sévérité </label>
                                                  <input type="number" class="form-control" formControlName="severite" min="0" required>
                                                  <div class="invalid-feedback">
                                                     Ce champs est obligatoire.
                                                  </div>
                                               </div>
                                             
                                               <div class="form-group">
                                                  <label class="label-important">Fréquences d'exposition </label>
                                                  <input type="number" class="form-control" formControlName="frequences_exposition" min="0" required>
                                                  <div class="invalid-feedback">
                                                     Ce champs est obligatoire.
                                                  </div>
                                               </div>
                                             
                                               <div class="form-group">
                                                 <label class="label-important">Mesure de prévention </label>
                                                 <textarea class="form-control" formControlName="mesure_prevention"></textarea>
                                               </div>

                                               <div class="form-group">
                                                  <label class="label-important">ipr </label>
                                                  <input type="number" class="form-control" formControlName="ipr" min="0" required>
                                                  <div class="invalid-feedback">
                                                     Ce champs est obligatoire.
                                                  </div>
                                               </div>

                                               <div class="form-group">
                                                     <label class="label-important">indice risque </label>
                                                     <select class="form-control" formControlName="indice_risque" required>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                     </select>
                                                     <div class="help-block with-errors">1 : faible /
                                                        2 : moyen /
                                                        3 : élevé
                                                     </div>
                                               </div>

                                               <div class="d-flex align-items-end flex-column">
                                                  <button type="submit" class="btn" style="background-color: #ffd140; color:white;" [disabled]="evaluationForm.invalid">Ajouter</button>
                                                </div>
                                             
                                             </form>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div id="table" class="table-editable">
                               <span class="table-add float-left mb-3 mr-2">
                                   <h6>Historique des accidents relatifs à ce danger</h6>
                               </span>
                               <table class="table table-bordered table-responsive-md table-striped text-center">
                                   <tbody>
                                      <tr>
                                           <td style="width:20%">Accidents associés <a class="badge mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="ri-add-line"></i></a></td>
                                           <td style="width:80%">
                                               <table class="table table-bordered table-responsive-md table-striped text-center" style="border: 2cm;">
                                               <tbody>
                                               <tr style="background-color: #089bd7;">
                                                   <th>Modifier</th>
                                                   <th>Intitulé de l'évènement</th>
                                                   <th>Site</th>
                                                   <th>Type d'évènement</th>
                                                   <th>Date accident</th>
                                                   <th>Arret de travail</th>
                                                   <th>Nom de la personne</th>
                                               </tr>
                                               <tr *ngIf="(evenements$ | async)?.length === 0">
                                                  <td colspan="7">Aucun événement enregistré pour ce danger.</td>
                                                </tr>
                                               <tr *ngFor="let evenement of evenements$ | async">
                                                   <td>
                                                     <div class="d-flex align-items-center list-action">
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                          href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        </div>
                                                   </td>
                                                   <td><a [routerLink]="['/info_evenement/', evenement.id]">{{ evenement.intitule }}</a></td>
                                                   <td>{{ evenement.Site_name }}</td>
                                                   <td>{{ evenement.type_evenement }}</td>
                                                   <td>{{ evenement.date_accident }}</td>
                                                   <td>{{ evenement.arret_travail ? 'oui' : 'non' }}</td>
                                                   <td>{{ evenement.nom_personne }}</td>
                                               </tr>
                                               </tbody>
                                               </table>
                                           </td>
                                      </tr>
                                   </tbody>
                                </table>
                                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"   aria-hidden="true">
                                 <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                       <div class="modal-header" style="background-color: #089bd7;">
                                          <h5 class="modal-title" style="color:white">Ajout evenement</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true" style="color:black">&times;</span>
                                          </button>
                                       </div>
                                       <div class="modal-body">
                                          <form  [formGroup]="evenementForm" (ngSubmit)="AddEvenementFormData()" class="needs-validation" data-toggle="validator" novalidate>
                                             <span class="col-md-6">
                                                 <h5 style="background-color: #ffd140; color:white; border-radius:10px; padding:10px">Description de l'événement</h5>
                                             </span>
                                             <div class="row">
                                                <div class="col-md-6" style="background-color: white; border:none">
                                                    <div class="form-group">
                                                         <label for="site" class="label-important">Site </label>
                                                         <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
                                                            <option value="" selected disabled>Choisissez un site</option>
                                                            <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
                                                         </select>
                                                         <div class="invalid-feedback">
                                                             Veuillez sélectionner un état valide.
                                                         </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="background-color: white; border:none">
                                                    <div class="form-group">
                                                         <label class="label-important">Service </label>
                                                         <select id="service" name="service" formControlName="service" class="custom-select" data-style="py-0" required>
                                                            <option value="" selected disabled>Choisissez un service</option>
                                                            <option *ngFor="let s of services$ | async" [value]="s.id">{{ s.service_nom }}</option>
                                                         </select>
                                                         <div class="invalid-feedback">
                                                             Veuillez sélectionner un état valide.
                                                         </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-6" style="background-color: white; border:none"> 
                                                    <div class="form-group">
                                                         <label for="type_contract" class="label-important">Type contract </label>
                                                         <input type="text" class="form-control" id="type_contract" name="type_contract" formControlName="type_contract" placeholder="Entrer un type de contrat" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-6" style="background-color: white; border:none">
                                                    <div class="form-group">
                                                         <label class="label-important">Nom de la personne </label>
                                                         <input type="text" class="form-control" id="nom_personne" name="nom_personne" formControlName="nom_personne" placeholder="Entrer le nom de la personne" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="background-color: white; border:none">
                                                    <div class="form-group">
                                                         <label class="label-important">Type d'événement </label>
                                                         <input type="text" class="form-control" id="type_evenement" name="type_evenement" formControlName="type_evenement" placeholder="Entrer un Type d'événement" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                    </div>
                                                </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Intitulé d'événement </label>
                                                         <input type="text" class="form-control" id="intitule" name="intitule" formControlName="intitule" placeholder="Entrer l'intitulé d'événement" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Résumé de l'événement </label>
                                                         <input type="text" class="form-control" id="resume" name="resume" formControlName="resume" placeholder="Entrer un résumé de l'événement" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>
                                                 </div>                              
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Témoin(s) </label>
                                                         <input type="text" class="form-control" id="temoins" name="temoins" formControlName="temoins" placeholder="Entrer témoin(s)" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Première(s) personne(s) informée(s) </label>
                                                         <input type="text" class="form-control" id="premiere_pers_info" name="premiere_pers_info" formControlName="premiere_pers_info" placeholder="Entrer première(s) personne(s) informée(s)" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-12" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Action(s) immédiate(s) </label>
                                                         <input type="text" class="form-control" id="action_immediate" name="action_immediate" formControlName="action_immediate" placeholder="Entrer action(s) immédiate(s)" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>
                                                 </div>                                
                                             </div>
                                             <span class="col-md-6">
                                                 <h5 style="background-color: #ffd140; color:white; border-radius:10px; padding:10px">Date et lieu de l'accident</h5>
                                             </span>
                                             <div class="row">
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Date accident </label>
                                                         <input type="date" class="form-control" id="date_accident" name="date_accident" formControlName="date_accident" placeholder="Entrer action(s) immédiate(s)" required>                                     
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Période de travail </label>
                                                         <input type="text" class="form-control" id="periode_travail" name="periode_travail" formControlName="periode_travail" placeholder="Entrer la période de travail" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Lieu de l'accident </label>
                                                         <input type="text" class="form-control" id="lieu_accident" name="lieu_accident" formControlName="lieu_accident" placeholder="Entrer le lieu de l'accident" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Est ce que l'évènement implique le chien thérapeutique ? </label>
                                                         <select id="utiliser_chien" name="utiliser_chien" formControlName="utiliser_chien" class="selectpicker form-control" data-style="py-0" required>
                                                             <option value="1">OUI</option>
                                                             <option value="0">NON</option>
                                                         </select>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-12" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Tache effectuée par la victime au moment de l'accident </label>
                                                         <input type="text" class="form-control" id="tache_effectue" name="tache_effectue" formControlName="tache_effectue" placeholder="Entrer la tache(s) ..." required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>                              
                                             </div>
                                             <span class="col-md-6">
                                                 <h5 style="background-color: #ffd140; color:white; border-radius:10px; padding:10px">Siège et nature des lésions</h5>
                                             </span>
                                             <div class="row">
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label>Siège des lésions (1/2) </label>
                                                         <input type="text" class="form-control" id="siege_de_lesions_1" name="siege_de_lesions_1" formControlName="siege_de_lesions_1" placeholder="Entrer siège des lésions (1/2)">                                                        
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-6" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label>Siège des lésions (2/2) </label>
                                                         <input type="text" class="form-control" id="siege_de_lesions_2" name="siege_de_lesions_2" formControlName="siege_de_lesions_2" placeholder="Entrer siège des lésions (2/2)">                                                        
                                                     </div>                            
                                                 </div>
                                                 <div class="col-md-12" style="background-color: white; border:none">
                                                     <div class="form-group">
                                                         <label class="label-important">Nature des lésions </label>
                                                         <input type="text" class="form-control" id="nature_lesions" name="nature_lesions" formControlName="nature_lesions" placeholder="Entrer la nature des lésions" required>
                                                         <div class="help-block with-errors"></div>
                                                         <div class="invalid-feedback">
                                                             Ce champs est obligatoire.
                                                         </div>
                                                     </div>                            
                                                 </div>
                                             </div>                          
                                             <div class="modal-footer">                                               
                                                     <button type="submit" class="btn mr-2" style="background-color: #eac74b; color:white;">Ajouter</button>                                                                                                                                                                                            
                                             </div>                                                       
                                          </form>
                                       </div>                                      
                                    </div>
                                 </div>
                              </div>                             
                             </div>
                           </div>
                           <div class="tab-pane fade" id="pills-contact-fill" role="tabpanel" aria-labelledby="pills-contact-tab-fill">
                             <div id="table" class="table-editable table-responsive">
                                <table class="table table-bordered table-striped text-center">
                                  <tbody>
                                    <tr>
                                      <td style="width:20%">Source</td>
                                      <td style="width:80%">Document Unique</td>
                                    </tr>
                                    <tr>
                                      <td style="width:20%">Action(s) associée(s) <a class="badge mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target=".bd-action-modal-lg" data-placement="top" title=""
                                         href=""><i class="ri-add-line"></i></a></td>
                                      <td style="width:80%">
                                        <table class="table table-bordered table-striped text-center">
                                          <tbody>
                                            <tr style="background-color: #089bd7;">
                                              <th>Modifier</th>
                                              <th>Intitulé action</th>
                                              <th>Domaine</th>
                                              <th>Origine de l'action</th>
                                              <th>Site</th>
                                              <th>Etat</th>
                                              <th>Assigné à</th>
                                              <th>Date mise en oeuvre</th>
                                              <th>Année</th>
                                              <th>Priorité</th>
                                              <th>Référence action</th>
                                            </tr>
                                            <tr *ngIf="(actions$ | async)?.length === 0">
                                              <td colspan="11">Aucune action enregistré pour ce danger.</td>
                                            </tr>
                                            <tr *ngFor="let actions of actions$ | async">
                                              <td>
                                                <div class="d-flex align-items-center list-action">
                                                  <a class="badge bg-warning mr-2" data-toggle="modal" data-target="#deleteAction"
                                                  (click)="openDeleteModal(actions.id)"><i class="ri-delete-bin-line mr-0"></i></a>
                                                </div>
                                              </td>
                                              <td><a [routerLink]="['/infoAction/', actions.id]">{{ actions.intitule }}</a></td>
                                              <td>{{ actions.domaine }}</td>
                                              <td>{{ actions.origine_action }}</td>
                                              <td>{{ actions.Site_name }}</td>
                                              <td>{{ actions.etat }}</td>
                                              <td>{{ actions.assigne_a }}</td>
                                              <td>{{ actions.delai_mise_en_oeuvre }}</td>
                                              <td>{{ actions.annee }}</td>
                                              <td>{{ actions.priorite }}</td>
                                              <td>{{ actions.reference }}</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <div class="modal fade" id="deleteAction" tabindex="-1" role="dialog" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                  <div class="modal-body">
                                                      <div class="popup text-left">
                                                          <h4 class="mb-3">Confirmer la suppression</h4>
                                                          <div class="content create-workform bg-body">
                                                              <div class="pb-3">
                                                                  <label class="mb-2">Est ce que vous voulez supprimer cette action définitivement !!</label>
                                                              </div>
                                                              <div class="col-lg-12 mt-4">
                                                                  <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                                      <div class="btn bg-warning mr-4" data-dismiss="modal" (click)="deleteAction()">Supprimer</div>
                                                                      <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal fade bd-action-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                   <div class="modal-content">
                                      <div class="modal-header" style="background-color: #089bd7;">
                                         <h5 class="modal-title" style="color:white">Ajout action amélioration</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true" style="color:black">&times;</span>
                                         </button>
                                      </div>
                                      <div class="modal-body">
                                            <div class="card-body">
                                             <form [formGroup]="actionForm" (ngSubmit)="addActionFormData()" class="needs-validation" enctype="multipart/form-data" novalidate>
                                                <div class="form-group">
                                                  <label for="intitule">Intitulé :</label>
                                                  <input type="text" class="form-control" formControlName="intitule" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="type_action">Type d'action :</label>
                                                  <select id="type_action" name="type_action" formControlName="type_action" class="custom-select" data-style="py-0" required>
                                                   <option value="Corrective"  selected>Corrective</option>
                                                   <option value="Préventive" >Préventive</option>
                                                   <option value="Stratégique" >Stratégique</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                  <label for="origine_action">Origine d'action :</label>
                                                  <select id="origine_action" name="origine_action" formControlName="origine_action" class="custom-select" data-style="py-0" required>
                                                   <option value="Document unique"  selected>Document unique</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                  <label for="reference">Référence :</label>
                                                  <input type="text" class="form-control" formControlName="reference" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="domaine">Domaine :</label>
                                                  <select id="domaine" name="domaine" formControlName="domaine" class="custom-select" data-style="py-0" required>
                                                   <option value="Qualité"  selected>Qualité</option>
                                                   <option value="Préventive" >Sécurité</option>
                                                   <option value="Environement" >Environement</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                  <label for="site">Site :</label>
                                                  <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
                                                   <option value="" selected disabled>Choisissez un site</option>
                                                   <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                  <label for="processus">Processus :</label>
                                                  <select id="processus" name="processus" formControlName="processus" class="custom-select" data-style="py-0" required>
                                                   <option value="" selected disabled>Choisissez un processus</option>
                                                   <option *ngFor="let processus of processus$ | async" [value]="processus.id">{{ processus.intitule }}</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                  <label for="analyse_cause">Analyse cause (AC) / risques (AP) :</label>
                                                  <textarea class="form-control" formControlName="analyse_cause"></textarea>
                                                </div>
                                                <div class="form-group">
                                                  <label for="plan_action">Plan d'action :</label>
                                                  <textarea class="form-control" formControlName="plan_action"></textarea>
                                                </div>
                                                <div class="form-group">
                                                   <h5>Prise en charge de l'action</h5>
                                                </div>
                                                <div class="form-group">
                                                  <label for="delai_mise_en_oeuvre">Délai de mise en oeuvre :</label>
                                                  <input type="date" class="form-control" formControlName="delai_mise_en_oeuvre" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="assigne_a">Assigné à :</label>
                                                  <input type="text" class="form-control" formControlName="assigne_a" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="priorite">Priorité :</label>
                                                  <select id="priorite" name="priorite" formControlName="priorite" class="custom-select" data-style="py-0" required>
                                                   <option value="1"  selected>1</option>
                                                   <option value="2" >2</option>
                                                   <option value="3" >3</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                   <h5>Prise en charge de la mesure d'efficacité</h5>
                                                </div>
                                                <div class="form-group">
                                                  <label for="delai_mesure_eff">Délai de mesure effective :</label>
                                                  <input type="date" class="form-control" formControlName="delai_mesure_eff" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="type_critere_eff">Type de critère effectif :</label>
                                                  <input type="text" class="form-control" formControlName="type_critere_eff" />
                                                </div>
                                                <div class="form-group">
                                                  <label for="detail_critere_eff">Détails du critère effectif :</label>
                                                  <textarea class="form-control" formControlName="detail_critere_eff"></textarea>
                                                </div>
                                                <div class="form-group">
                                                   <label for="piece_jointe">Pièce jointe </label>
                                                   <input type="file" class="form-control" id="piece_jointe" name="piece_jointe" formControlName="piece_jointe" (change)="onFileSelected($event)">
                                                </div>
                                                <div class="d-flex align-items-end flex-column" >
                                                   <button type="submit" class="btn" style="background-color: #ffd140; color:white;" [disabled]="actionForm.invalid">Ajouter</button>
                                                </div>
                                             </form>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                           </div>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
   