
  .card-header{
    background-color: #17469d;
    color: #fff;
    
  }
  .btn-primary {
    background-color: #089bd7;
    border-color: #089bd7;
  }
  
  .btn-danger{
    background-color: #FFB200;
    border-color: #FFB200;
    color: #fff; 
  }

  