<div class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-header d-flex justify-content-between" style="background-color:#17469d; color:white;">
                   <div class="header-title">
                      <h4 class="card-title">Registre des événements</h4>
                   </div>
                </div>
                <div class="card-body">
                   <div class="iq-example-row">
                      <div class="container-fluid">
                         <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                            <li class="nav-item col-6 col-md-4">
                               <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">INFORMATION GENERALES</a>
                            </li>
                            <li class="nav-item col-6 col-md-4">
                               <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">ANALYSE DE L'EVENEMENT</a>
                            </li>
                            <li class="nav-item col-6 col-md-4">
                               <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">PLAN D'ACTIONS</a>
                            </li>
                         </ul>
                         <div class="tab-content" id="pills-tabContent-1">
                            <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                                <div class="card-body">
                                    <div id="table" class="table-editable">
                                       <span class="table-add float-left w-100 p-3">
                                       <h5 style="background-color: #eac74b; color:white; border-radius:10px; padding:10px">Description de l'événement</h5>
                                       </span>
                                       <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <tbody>
                                             <tr>
                                                <td style="width:50%">Source</td>
                                                <td style="width:50%">Registre des évènements</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Site</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ evenement.Site_name }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Service</td>
                                                <td style="width:50%">{{ evenement.service_name }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Type de contrat</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ evenement.type_contract }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Nom de la personne</td>
                                                <td style="width:50%">{{ evenement.nom_personne }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Type d'événement</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ evenement.type_evenement }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Intitulé d'événement</td>
                                                <td style="width:50%">{{ evenement.intitule }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Résumé de l'événement</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ evenement.resume }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Témoin(s)</td>
                                                <td style="width:50%">{{ evenement.temoins }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Première(s) personne(s) informée(s)</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ evenement.premiere_pers_info }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Action(s) immédiate(s)</td>
                                                <td style="width:50%">{{ evenement.action_immediate }}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                    <div id="table" class="table-editable">
                                        <span class="table-add float-left w-100 p-3">
                                        <h5 style="background-color: #eac74b; color:white; border-radius:10px; padding:10px">Date et lieu de l'accident</h5>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                           <tbody>
                                              <tr>
                                                 <td style="width:50%">Date accident</td>
                                                 <td style="width:50%">{{ evenement.date_accident }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%; background-color:#8de2ff">Période de travail</td>
                                                 <td style="width:50%; background-color:#8de2ff">{{ evenement.periode_travail }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%">Lieu de l'accident</td>
                                                 <td style="width:50%">{{ evenement.lieu_accident }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%; background-color:#8de2ff">Tache effectuée par la victime au moment de l'accident</td>
                                                 <td style="width:50%; background-color:#8de2ff">{{ evenement.tache_effectue }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%">Est ce que l'évènement implique le chien thérapeutique ?</td>
                                                 <td style="width:50%">{{ evenement.utiliser_chien ? 'oui' : 'non' }}</td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                     <div id="table" class="table-editable">
                                        <span class="table-add float-left w-100 p-3">
                                        <h5 style="background-color: #eac74b; color:white; border-radius:10px; padding:10px">Siège et nature des lésions</h5>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                           <tbody>
                                              <tr>
                                                 <td style="width:50%">Siège des lésions (1/2)</td>
                                                 <td style="width:50%">{{ evenement.siege_de_lesions_1 }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%; background-color:#8de2ff">Siège des lésions (2/2)</td>
                                                 <td style="width:50%; background-color:#8de2ff">{{ evenement.siege_de_lesions_2 }}</td>
                                              </tr>
                                              <tr>
                                                 <td style="width:50%">Nature des lésions</td>
                                                 <td style="width:50%">{{ evenement.nature_lesions }}</td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                 </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
                              <div id="table" class="table-editable">
                                 <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <tr *ngIf="( analyses$ | async)?.length === 0">
                                       <td>Analyse Evenement <a class="badge badge-info mr-2" data-toggle="modal" data-target="#exampleModalCenteredScrollable" data-placement="top"><i class="ri-add-line"></i>Nouvelle entrée</a></td>
                                       <td colspan="7">Aucune analyse enregistré pour cette evenement</td>
                                     </tr>
                                    <tbody *ngFor="let analyse of analyses$ | async">
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Cause de l'évènement</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ analyse.cause }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%">Probabilité</td>
                                          <td style="width:50%">{{ analyse.probabilite }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Fréquence d'exposition</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ analyse.frequences }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%">Sévérité</td>
                                          <td style="width:50%">{{ analyse.severite }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Niveau de risque</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ analyse.niveau_risque }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%">Arbre des causes</td>
                                          <td style="width:50%"><a href="{{ analyse.arbe_cause }}" target="_blank">{{ analyse.arbe_cause.split('/').pop().replace('.pdf', '') }}</a></td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Danger(s) lié(s) (document unique)</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ evenement.danger_name }}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div class="d-flex align-items-end flex-column" style="height: 80px;" *ngFor="let analyse of analyses$ | async">
                                    <div class="mt-auto p-2"><a class="btn add-list" style="background-color: #ffd140; color:white;" data-toggle="modal" data-target="#update_analyse" (click)="openUpdateModal(analyse)"><i class="ri-pencil-line mr-0"></i>Modifier</a>
                                       <a class="btn bg-warning add-list mx-2" data-toggle="modal" data-target="#delete_analyse" (click)="openDeleteModal(analyse.id)"><i class="ri-delete-bin-line mr-0"></i>Supprimer</a></div>
                                 </div>
                                 <div class="modal fade" id="delete_analyse" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="popup text-left">
                                                    <h4 class="mb-3">Confirmer la suppression</h4>
                                                    <div class="content create-workform bg-body">
                                                        <div class="pb-3">
                                                            <label class="mb-2">Est ce que vous voulez supprimer cette analyse définitivement !!</label>
                                                        </div>
                                                        <div class="col-lg-12 mt-4">
                                                            <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                                <div class="btn btn-primary mr-4" data-dismiss="modal" (click)="deleteAnalyse()">Supprimer</div>
                                                                <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div class="modal fade" id="update_analyse" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">                          
                                        <div class="modal-content">
                                          <div class="modal-header" style="background-color: #089bd7;">
                                             <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Modifier analyse</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                             </button>
                                          </div>
                                            <div class="modal-body">
                                             <form [formGroup]="analyseForm" (ngSubmit)="updateAnalyse()"  class="needs-validation" novalidate>                                            
                                                <div class="form-group">
                                                   <label>Cause de l'évènement *</label>
                                                   <input type="text" class="form-control" formControlName="cause" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                   <label>Probabilité *</label>
                                                   <input type="number" class="form-control" formControlName="probabilite" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                   <label>Fréquences d'éxposition *</label>
                                                   <input type="number" class="form-control" formControlName="frequences" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                  <label>Sévérité *</label>
                                                  <input type="number" class="form-control" formControlName="severite" min="0" required>
                                                  <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label>Niveau de risque *</label>
                                                   <input type="number" class="form-control" formControlName="niveau_risque" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                      <label>Arbre de causes </label>
                                                      <input type="file" class="form-control" id="arbe_cause" name="arbe_cause" formControlName="arbe_cause" (change)="onFileSelectedAnalyse($event)">                                                                                                
                                                </div>
                                                <div class="d-flex align-items-end flex-column">
                                                   <div class="mt-auto p-2">
                                                      <button type="submit" class="btn mr-2" style="background-color: #ffd140; color:white;" [disabled]="analyseForm.invalid">Modifier</button>                                                 
                                                      <button type="submit" class="btn bg-warning" data-dismiss="modal" >Annuler</button>
                                                   </div>
                                                </div>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                 </div> 
                                 <div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                          <div class="modal-header" style="background-color: #089bd7;">
                                             <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Ajout analyse</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                             </button>
                                          </div>
                                          <div class="modal-body">
                                             <form [formGroup]="analyseForm" (ngSubmit)="onSubmit()"  class="needs-validation" enctype="multipart/form-data" novalidate>
                                              
                                                <div class="form-group">
                                                   <label>Cause de l'évènement *</label>
                                                   <input type="text" class="form-control" formControlName="cause" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                   <label>Probabilité *</label>
                                                   <input type="number" class="form-control" formControlName="probabilite" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                   <label>Fréquences d'éxposition *</label>
                                                   <input type="number" class="form-control" formControlName="frequences" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                  <label>Sévérité *</label>
                                                  <input type="number" class="form-control" formControlName="severite" min="0" required>
                                                  <div class="invalid-feedback">
                                                   Ce champs est obligatoire.
                                                </div>
                                                </div>
 
                                                <div class="form-group">
                                                   <label>Niveau de risque *</label>
                                                   <input type="number" class="form-control" formControlName="niveau_risque" min="0" required>
                                                   <div class="invalid-feedback">
                                                      Ce champs est obligatoire.
                                                   </div>
                                                </div>
 
                                                <div class="form-group">
                                                      <label>Arbre de causes </label>
                                                      <input type="file" class="form-control" id="arbe_cause" name="arbe_cause" formControlName="arbe_cause" (change)="onFileSelected($event)">                                                                                                
                                                </div>
                                                <div class="d-flex align-items-end flex-column">
                                                   <button type="submit" class="btn" style="background-color: #ffd140; color:white;"  [disabled]="analyseForm.invalid">Ajouter</button>
                                                 </div>                                             
                                              </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact-fill" role="tabpanel" aria-labelledby="pills-contact-tab-fill">
                              <div id="table" class="table-editable table-responsive">
                                 <table class="table table-bordered table-striped text-center">
                                   <tbody>
                                    <tr>
                                       <td style="width:30%">Action(s) immédiate(s)</td>
                                       <td style="width:70%">{{ evenement.action_immediate }}<td>
                                    </tr>
                                    <tr>
                                       <td style="width:30%">Actions correctives à mettre en oeuvre ?</td>
                                       <td style="width:70%">
                                          <p *ngIf="(actions$ | async)?.length !== 0">oui</p>
                                          <p *ngIf="(actions$ | async)?.length === 0">non</p>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="width:20%">Action(s) associée(s)  <a class="badge mr-2" style="background-color: #eac74b; color:white;" data-toggle="modal" data-target=".bd-action-modal-lg" data-placement="top" title=""
                                          href=""><i class="ri-add-line"></i></a></td>
                                       <td style="width:80%">
                                          <table class="table table-bordered table-striped text-center" style="border: 2cm;">
                                             <tbody>
                                               <tr style="background-color: #089bd7;">
                                                 <th>Modifier</th>
                                                 <th>Intitulé action</th>
                                                 <th>Domaine</th>
                                                 <th>Origine de l'action</th>
                                                 <th>Site</th>
                                                 <th>Etat</th>
                                                 <th>Assigné à</th>
                                                 <th>Date mise en oeuvre</th>
                                                 <th>Année</th>
                                                 <th>Priorité</th>
                                                 <th>Référence action</th>
                                               </tr>
                                               <tr *ngIf="(actions$ | async)?.length === 0">
                                                 <td colspan="11">Aucune action enregistré pour cette evenement</td>
                                               </tr>
                                               <tr *ngFor="let actions of actions$ | async">
                                                 <td>
                                                   <div class="d-flex align-items-center list-action">
                                                      <a class="badge bg-warning mr-2" data-toggle="modal" data-target="#deleteAction"
                                                      (click)="openDeleteModalAction(actions.id)"><i class="ri-delete-bin-line mr-0"></i></a>
                                                    </div>
                                                 </td>
                                                 <td><a [routerLink]="['/infoAction/', actions.id]">{{ actions.intitule }}</a></td>
                                                 <td>{{ actions.domaine }}</td>
                                                 <td>{{ actions.origine_action }}</td>
                                                 <td>{{ actions.Site_name }}</td>
                                                 <td>{{ actions.etat }}</td>
                                                 <td>{{ actions.assigne_a }}</td>
                                                 <td>{{ actions.delai_mise_en_oeuvre }}</td>
                                                 <td>{{ actions.annee }}</td>
                                                 <td>{{ actions.priorite }}</td>
                                                 <td>{{ actions.reference }}</td>
                                               </tr>
                                             </tbody>
                                          </table>
                                          <div class="modal fade" id="deleteAction" tabindex="-1" role="dialog" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-centered" role="document">
                                                 <div class="modal-content">
                                                     <div class="modal-body">
                                                         <div class="popup text-left">
                                                             <h4 class="mb-3">Confirmer la suppression</h4>
                                                             <div class="content create-workform bg-body">
                                                                 <div class="pb-3">
                                                                     <label class="mb-2">Est ce que vous voulez supprimer cette action définitivement !!</label>
                                                                 </div>
                                                                 <div class="col-lg-12 mt-4">
                                                                     <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                                         <div class="btn bg-warning mr-4" data-dismiss="modal" (click)="deleteAction()">Supprimer</div>
                                                                         <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>                                     
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div class="modal fade bd-action-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
                                 <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                       <div class="modal-header" style="background-color: #089bd7;">
                                          <h5 class="modal-title" style="color:white">Ajout action amélioration</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true" style="color:black">&times;</span>
                                          </button>
                                       </div>
                                       <div class="modal-body">
                                             <div class="card-body">
                                              <form [formGroup]="actionForm" (ngSubmit)="addActionFormData()" class="needs-validation" enctype="multipart/form-data" novalidate>
                                                 <div class="form-group">
                                                   <label for="intitule">Intitulé :</label>
                                                   <input type="text" class="form-control" formControlName="intitule" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="type_action">Type d'action :</label>
                                                   <select id="type_action" name="type_action" formControlName="type_action" class="custom-select" data-style="py-0" required>
                                                    <option value="Corrective"  selected>Corrective</option>
                                                    <option value="Préventive" >Préventive</option>
                                                    <option value="Stratégique" >Stratégique</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="origine_action">Origine d'action :</label>
                                                   <select id="origine_action" name="origine_action" formControlName="origine_action" class="custom-select" data-style="py-0" required>
                                                    <option value="Registre des événements"  selected>Registre des événements</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="reference">Référence :</label>
                                                   <input type="text" class="form-control" formControlName="reference" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="domaine">Domaine :</label>
                                                   <select id="domaine" name="domaine" formControlName="domaine" class="custom-select" data-style="py-0" required>
                                                    <option value="Qualité"  selected>Qualité</option>
                                                    <option value="Préventive" >Sécurité</option>
                                                    <option value="Environement" >Environement</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="site">Site :</label>
                                                   <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required>
                                                    <option value="" selected disabled>Choisissez un site</option>
                                                    <option *ngFor="let site of sites$ | async" [value]="site.id">{{ site.site_nom }}</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="processus">Processus :</label>
                                                   <select id="processus" name="processus" formControlName="processus" class="custom-select" data-style="py-0" required>
                                                    <option value="" selected disabled>Choisissez un processus</option>
                                                    <option *ngFor="let processus of processus$ | async" [value]="processus.id">{{ processus.intitule }}</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="analyse_cause">Analyse cause (AC) / risques (AP) :</label>
                                                   <textarea class="form-control" formControlName="analyse_cause"></textarea>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="plan_action">Plan d'action :</label>
                                                   <textarea class="form-control" formControlName="plan_action"></textarea>
                                                 </div>
                                                 <div class="form-group">
                                                    <h5>Prise en charge de l'action</h5>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="delai_mise_en_oeuvre">Délai de mise en oeuvre :</label>
                                                   <input type="date" class="form-control" formControlName="delai_mise_en_oeuvre" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="assigne_a">Assigné à :</label>
                                                   <input type="text" class="form-control" formControlName="assigne_a" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="priorite">Priorité :</label>
                                                   <select id="priorite" name="priorite" formControlName="priorite" class="custom-select" data-style="py-0" required>
                                                    <option value="1"  selected>1</option>
                                                    <option value="2" >2</option>
                                                    <option value="3" >3</option>
                                                   </select>
                                                 </div>
                                                 <div class="form-group">
                                                    <h5>Prise en charge de la mesure d'efficacité</h5>
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="delai_mesure_eff">Délai de mesure effective :</label>
                                                   <input type="date" class="form-control" formControlName="delai_mesure_eff" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="type_critere_eff">Type de critère effectif :</label>
                                                   <input type="text" class="form-control" formControlName="type_critere_eff" />
                                                 </div>
                                                 <div class="form-group">
                                                   <label for="detail_critere_eff">Détails du critère effectif :</label>
                                                   <textarea class="form-control" formControlName="detail_critere_eff"></textarea>
                                                 </div>
                                                 <div class="form-group">
                                                    <label for="piece_jointe">Pièce jointe </label>
                                                    <input type="file" class="form-control" id="piece_jointe" name="piece_jointe" formControlName="piece_jointe" (change)="onFileSelectedAction($event)">
                                                 </div>
                                                 <div class="d-flex align-items-end flex-column" >
                                                    <button type="submit" class="btn" style="background-color: #ffd140; color:white;" [disabled]="actionForm.invalid">Ajouter</button>
                                                 </div>
                                              </form>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                           </div>                               
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
    