<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Ajouter une non-conformité</h4>
                       </div>
                   </div>
                   <div class="card-body">

                    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">Description du problème</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">Analyse</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">Action(s)</a>
                        </li>
                     </ul>
                     <div class="tab-content" id="pills-tabContent-1">
                        <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                          <div class="card">

                       <form [formGroup]="form" data-toggle="validator">
                           <div class="row">
                               <div class="col-md-6">                      
                                   <div class="form-group">
                                       <label>intitulé de la non-conformité *</label>
                                       <input [(ngModel)]="ncf.intitule" type="text" formControlName="intitule" class="form-control" placeholder="intitulé " data-errors="Please Enter Name." id="intitule" required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
                               <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>nature *</label>
                                    <select [(ngModel)]="ncf.nature" id="nature" formControlName="nature" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une nature</option>
                                        <option>interne</option>
                                        <option>externe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>domaine *</label>
                                    <select [(ngModel)]="ncf.domaine" id="domaine" formControlName="domaine" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une domaine</option>
                                        <option>Qualité</option>
                                        <option>Sécurité</option>
                                        <option>Environnement</option>

                                    </select>
                                </div>
                            </div>  
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>detail_cause *</label>
                                    <input [(ngModel)]="ncf.detail_cause" type="text" formControlName="detail_cause" class="form-control" placeholder="detail_cause " data-errors="Please Enter Name." id="detail_cause" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>annee *</label>
                                    <input [(ngModel)]="ncf.annee" type="text" formControlName="annee" class="form-control" placeholder="annee " data-errors="Please Enter Name." id="annee" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>mois *</label>
                                    <input [(ngModel)]="ncf.mois" type="text" formControlName="mois" class="form-control" placeholder="mois " data-errors="Please Enter Name." id="mois" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>  

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dob">Date NC*</label>
                                    <input [(ngModel)]="ncf.date_nc" formControlName="date_nc" type="date" class="form-control" id="date_nc" name="date_nc" />
                                </div>
                            </div>   
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dob">Date prise en compte *</label>
                                    <input [(ngModel)]="ncf.date_prise_en_compte" formControlName="date_prise_en_compte" type="date" class="form-control" id="date_prise_en_compte" name="date_prise_en_compte" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label>Description detaillee</label>
                                    <textarea [(ngModel)]="ncf.description_detailee" formControlName="description_detailee" class="form-control" id="description_detailee" name="description_detailee" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dob">Délai prévu*</label>
                                    <input [(ngModel)]="ncf.delai_prevu" formControlName="delai_prevu" type="date" class="form-control" id="delai_prevu" name="delai_prevu" />
                                </div>
                            </div>  
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Informations complémentaires</label>
                                    <textarea [(ngModel)]="ncf.info_complementaires" formControlName="info_complementaires" class="form-control" id="info_complementaires" name="info_complementaires" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pièce Jointe</label>
                                    <input type="file" class="form-control image-file" name="pic" accept="image/*">
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Type cause *</label>
                                    <select [(ngModel)]="ncf.type_cause" id="type_cause" formControlName="type_cause" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une type</option>
                                        <option>type1</option>
                                        <option>type2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>coût *</label>
                                    <input [(ngModel)]="ncf.cout" type="text" formControlName="cout" class="form-control" placeholder="cout " data-errors="Please Enter Name." id="cout" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>     
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Avancement *</label>
                                    <input [(ngModel)]="ncf.progress" type="text" formControlName="progress" class="form-control" placeholder="progress " data-errors="Please Enter Name." id="progress" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> 
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Etat *</label>
                                    <input [(ngModel)]="ncf.etat" type="text" formControlName="etat" class="form-control" placeholder="etat " data-errors="Please Enter Name." id="etat" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>nature *</label>
                                    <select [(ngModel)]="ncf.nature" id="nature" formControlName="nature" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une nature</option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Gravité *</label>
                                    <select [(ngModel)]="ncf.gravite" id="gravite" formControlName="gravite" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une gravité</option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Action immediate *</label>
                                    <select [(ngModel)]="ncf.action_immediate" id="action_immediate" formControlName="action_immediate" class="selectpicker form-control" data-style="py-0">
                                        <option value="">Choisir une action</option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Nc clouturé *</label>
                                    <input [(ngModel)]="ncf.nc_cloture" type="chebox" formControlName="nc_cloture" class="form-control" placeholder="nc_cloture " data-errors="Please Enter Name." id="nc_cloture" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                           </div>                            
                           <button type="submit" (click)="createNC()" class="btn btn-primary mr-2">Ajouter NC</button>
                           <button type="reset" class="btn btn-danger">Reset</button>
                       </form>
                   </div>
               </div>
           </div>

       </div>

