.btn-primary {
    background-color: #539165;
    border-color: #539165;
  }
  
  .btn-danger{
    background-color: #FFB200;
    border-color: #FFB200;
    color: #fff; 
  }
  .card-header{
    background-color: #3F497F;
    color: #fff;
    
  }
  button + button {
    margin-left: 10px;
  }
  .checkbox-lg {
    transform: scale(2.5);
    margin-left: 20px;
  }
  