.btn-primary {
  background-color: #089bd7;
  border-color: #089bd7;
}
.btn-warning{
  background-color: #ffd140;
  border-color: #ffd140;
}
.btn-danger{
  background-color: #FFB200;
  border-color: #FFB200;
  color: #fff; 
}

button + button {
  margin-left: 10px;
}
thead {
  background-color: #3F497F
}
th {
  background-color: #3F497F;
  color : #FFFFFF;

}
#user-list-table {
  width: 100%;
}

