.btn-primary {
  background-color: #089bd7;
  border-color: #089bd7;
}
.btn-warning{
  background-color: #ffd140;
  border-color: #ffd140;
}

button + button {
  margin-left: 10px;
}
thead {
  background-color: #17469d
}
th {
  background-color: #17469d;
  color : #FFFFFF;

}
#user-list-table {
  width: 100%;
}
.btn-danger{
  background-color: #e56b6f;
  border-color: #e56b6f;
  color: #fff; 
}

