
<div class="content-page custom-background">
  <div class="container-fluid add-form-list">
     <div class="row">
         <div class="col-sm-12">
             <div class="card">
                 <div class="card-headers d-flex justify-content-between">
                     <div class="header-title">
                         <h4 >Modifier un Utilisateur</h4>
                     </div>
                 </div>
                 <div class="card">
                  
                  <div class="card-body">
                    <form [formGroup]="userForm" enctype="multipart/form-data">
                      <div class="form-group">
                           <div class="crm-profile-img-edit position-relative">
                             <img class="crm-profile-pic rounded avatar-100" src="../assets/images/user/11.png" alt="profile-pic" id="profile-pic">
                             <div class="crm-p-image bg-primary">
                               <i class="las la-pen upload-button" onclick="document.getElementById('file-upload').click()"></i>
                               <input id="file-upload" class="file-upload" type="file" accept="image/*" onchange="document.getElementById('profile-pic').src = window.URL.createObjectURL(this.files[0])"
                               (change)="onFileSelected($event)"  formControlName="image">
                             </div>
                           </div>
                         </div>
                         
                     </form>
                  </div>
               </div>
             
              
                 <div class="card-body">
                     <form action="page-list-returns.html" data-toggle="validator" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                         <div class="row">                                  
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label>Nom de l'utilisateur <label style="color: red;">*</label></label>
                                     <input type="text" class="form-control" placeholder="Entrer le nom de l'utilisateur"  id="nom_user" name="nom_user" formControlName="nom_user">
                                     <div
                                     class="help-block with-errors"
                                     *ngIf="userForm.get('nom_user')?.errors && (userForm.get('nom_user')?.dirty || userForm.get('nom_user')?.touched)"
                                   >
                                     <p *ngIf="userForm.get('nom_user')?.hasError('required')" class="text-danger">
                                       Veuillez entrer le nom de l'utilisateur.
                                     </p>
                                     <p *ngIf="userForm.get('nom_user')?.hasError('minlength')" class="text-danger">
                                       Le nom de l'utilisateur doit contenir au moins 3 caractères.
                                     </p>
                                     <p *ngIf="userForm.get('nom_user')?.hasError('maxlength')" class="text-danger">
                                       Le nom de l'utilisateur ne peut pas dépasser 25 caractères.
                                     </p>
                                     <p *ngIf="userForm.get('nom_user')?.hasError('pattern')" class="text-danger">
                                       Le nom de l'utilisateur ne peut contenir que des lettres et espaces.
                                     </p>
                                   </div>                                 </div>
                             </div> 
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Nom Complet <label style="color: red;">*</label></label>
                                  <input type="text" class="form-control" placeholder="Entrer le nom complet"  id="nom_complet" name="nom_complet" formControlName="nom_complet">
                                  <div
                                  class="help-block with-errors"
                                  *ngIf="userForm.get('nom_complet')?.errors && (userForm.get('nom_complet')?.dirty || userForm.get('nom_complet')?.touched)"
                                >
                                  <p *ngIf="userForm.get('nom_complet')?.hasError('required')" class="text-danger">
                                    Veuillez entrer le nom complet.
                                  </p>
                                  <p *ngIf="userForm.get('nom_complet')?.hasError('minlength')" class="text-danger">
                                    Le nom de l'utilisateur doit contenir au moins 3 caractères.
                                  </p>
                                  <p *ngIf="userForm.get('nom_complet')?.hasError('maxlength')" class="text-danger">
                                    Le nom de l'utilisateur ne peut pas dépasser 25 caractères.
                                  </p>
                                  <p *ngIf="userForm.get('nom_complet')?.hasError('pattern')" class="text-danger">
                                    Le nom de l'utilisateur ne peut contenir que des lettres et espaces.
                                  </p>
                                </div>                              </div>
                          </div> 
                         
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Adresse Email <label style="color: red;">*</label></label>
                                  <input type="text" class="form-control" placeholder="Entrer le nom complet"  id="email" name="email" formControlName="email">
                                  <div *ngIf="emailExistsError" class="text-danger">
                                    Adresse email existe déjà
                                  </div>                              </div>
                          </div> 
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Actif  <label style="color: red;">*</label></label>
                                  <input type="checkbox" id="actif" name="actif" formControlName="actif">
                              </div>
                          </div>
<!-- Assuming 'groupes_roles' is the FormArrayName -->
<div class="col-md-6" id="idGroupe" formArrayName="groupes_roles">
  <div class="form-group">
    <label for="groupes_roles">Groupes/Rôles:<label style="color: red;">*</label></label>
    <div *ngFor="let groupe of groupes; let i = index">
      <input type="checkbox" [formControl]="getGroupControl(i)">
      {{ groupe.nom }}
    </div>
    
  </div>
</div>


                         </div>  
                            
                         <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">                   
                         <button type="submit" class="btn btn-primary mr-2" ><i class="fas fa-pencil-alt"></i>Modifier</button>
                         <button type="reset" class="btn btn-danger" routerLink="/listuserapp"><i class="fas fa-times"></i>Annuler</button>
                        </div> 
                     </form>
                 </div>
             </div>
         </div>
     </div>
     <!-- Page end  -->
 </div>
   </div>
   <ng-template #successModal>
      <div class="modal-header update-header">
        <h4 class="modal-title ">Succès</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        L'utilisateur a été modifé avec succès.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-update-modal" (click)="closeModal()">Fermer</button>
      </div>
    </ng-template>
  