
<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3 col-lg-4">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">Choisir l'image</h4>
                  </div>
               </div>
               <div class="card-body">
                  <form>
                     <div class="form-group">
                        <div class="crm-profile-img-edit position-relative">
                          <img class="crm-profile-pic rounded avatar-100" src="../assets/images/user/11.png" alt="profile-pic" id="profile-pic">
                          <div class="crm-p-image bg-primary">
                            <i class="las la-pen upload-button" onclick="document.getElementById('file-upload').click()"></i>
                            <input id="file-upload" class="file-upload" type="file" accept="image/*" onchange="document.getElementById('profile-pic').src = window.URL.createObjectURL(this.files[0])"
                            (change)="onFileSelected($event) " formControlName="image">
                          </div>
                        </div>
                      </div>
                      
                  </form>
               </div>
            </div>
      </div>
<div class="col-xl-9 col-lg-8">
   <div class="card">
      <div class="card-header d-flex justify-content-between">
         <div class="header-title">
            <h4 class="card-title">Modifier un personnel</h4>
         </div>
      </div>
      <div class="card-body">
         <div class="new-user-info">
            <form [formGroup]="PersonnelForm" (ngSubmit)="onSubmit()">
               <div class="row">
 <input type="hidden" formControlName="id">

 <div class="form-group col-md-6">
   <label for="compte">Compte</label>
   <input type="text" id="compte" class="form-control" formControlName="compte" required>
 </div>

 <div class="form-group col-md-6">
   <label for="courrier">Courrier</label>
   <input type="email" id="courrier" class="form-control" formControlName="courrier" required>
 </div>

 <div class="form-group col-md-6">
   <label for="nom">Nom</label>
   <input type="text" id="nom" class="form-control" formControlName="nom" required>
 </div>

 <div class="form-group col-md-6">
   <label for="numero_tel">Numéro de téléphone</label>
   <input type="tel" id="numero_tel" class="form-control" formControlName="numero_tel" required>
 </div>

 <div class="form-group col-md-6">
   <label for="presente_vous">Présentez-vous en quelques mots</label>
   <textarea id="presente_vous" class="form-control" formControlName="presente_vous" required></textarea>
 </div>



 <div class="form-group col-md-6">
   <label for="fonction">Fonction</label>
   <input type="text" id="fonction" class="form-control" formControlName="fonction" required>
 </div>

 <div class="form-group col-md-6">
   <label for="adresse_sip">Adresse SIP</label>
   <input type="text" id="adresse_sip" class="form-control" formControlName="adresse_sip" required>
 </div>

 <div class="form-group col-md-12">
   <label for="othermail">Autre courrier électronique</label>
   <input type="email" id="othermail" class="form-control" formControlName="othermail" required>
 </div>
</div>

<button type="submit" class="btn btn-primary">Modifier</button>
                <button type="reset" class="btn btn-danger" routerLink="/listP">Annuler</button>
</form>

         </div>
      </div>
   </div>
</div>
</div>
</div>
</div>
<ng-template #successModal>
   <div class="modal-header">
     <h4 class="modal-title">Succès</h4>
     <button type="button" class="close" aria-label="Close" (click)="closeModal()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Le personnel a été modifiée avec succès.
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
   </div>
 </ng-template>