a.nav-link.active {
    color: white;
    background-color: #ffd140;
  }

  .label-important::after {
    content: "*";
    color: red;
  }
  .btn-primary {
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff;  /* ajustez la valeur selon vos préférences */
  }
  .btn-secondary {
    background-color: #089bd7;
    border-color: #089bd7;
  }