<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            <div style="display: flex; flex-direction: column;">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Ajouter un fournisseur</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form [formGroup]="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Nom du fournisseur * </label>
                                    <input [(ngModel)]="fournisseurf.nom" type="text" formControlName="nom" class="form-control" data-errors="Please Enter Name." id="nom" required>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['nom'].touched && f['nom'].invalid">
                                        <div *ngIf="f['nom'].errors && f['nom'].errors['required']">La nom est requis.</div>
                                        <div *ngIf="f['nom'].errors && f['nom'].errors['minlength']">doit avoir au moins 3 caractères !</div>
                                    </div>
                                 </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>N du siret </label>
                                    <input [(ngModel)]="fournisseurf.numerodesiret" type="text" formControlName="numerodesiret" class="form-control" data-errors="Please Enter Name." id="numerodesiret" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['numerodesiret'].valid && (f['numerodesiret'].dirty || f['numerodesiret'].touched)">
                                        Numero de siret valide.
                                      </div>                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['numerodesiret'].touched ">
                                        <div *ngIf="f['numerodesiret'].errors && f['numerodesiret'].errors['pattern']">doit contenir des chiffres seulement!</div>
                                 </div>
                             </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Type de prestation </label>
                                    <input [(ngModel)]="fournisseurf.type_de_prestation" type="text" formControlName="type_de_prestation" class="form-control"  data-errors="Please Enter Name." id="type_de_prestation" >
                                 </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Numero de récépsissé de déclaration préfectorale</label>
                                    <input [(ngModel)]="fournisseurf.numero_de_recepisse_de_declaration_prefectorale" type="text" formControlName="numero_de_recepisse_de_declaration_prefectorale" class="form-control"  data-errors="Please Enter Name." id="numero_de_recepisse_de_declaration_prefectorale" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['numero_de_recepisse_de_declaration_prefectorale'].valid && (f['numero_de_recepisse_de_declaration_prefectorale'].dirty || f['numero_de_recepisse_de_declaration_prefectorale'].touched)">
                                        Numero de récépsissé de déclaration préfectorale valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['numero_de_recepisse_de_declaration_prefectorale'].touched ">
                                        <div *ngIf="f['numero_de_recepisse_de_declaration_prefectorale'].errors && f['numero_de_recepisse_de_declaration_prefectorale'].errors['pattern']">doit contenir des chiffres seulement!</div>
                                 </div>
                             </div>
                            </div>
                            </div>
                            <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Page web </label>
                                    <input [(ngModel)]="fournisseurf.pageweb" type="text" formControlName="pageweb" class="form-control" data-errors="Please Enter Name." placeholder="https://" id="pageweb" >
                                 </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Téléphone</label>
                                    <input [(ngModel)]="fournisseurf.telephone" type="text" placeholder="+352 " formControlName="telephone" class="form-control"  data-errors="Please Enter Name." id="telephone" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['telephone'].valid && (f['telephone'].dirty || f['telephone'].touched)">
                                        Numéro de téléphone valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['telephone'].touched ">
                                    <div *ngIf="f['telephone'].errors && f['telephone'].errors['pattern']">Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                                 </div>
                             </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Numéro de télécopie</label>
                                    <input [(ngModel)]="fournisseurf.numerodetelecopie" type="text" formControlName="numerodetelecopie" class="form-control"  data-errors="Please Enter Name." id="numerodetelecopie" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['numerodetelecopie'].valid && (f['numerodetelecopie'].dirty || f['numerodetelecopie'].touched)">
                                        Numéro de télécopie valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['numerodetelecopie'].touched ">
                                        <div *ngIf="f['numerodetelecopie'].errors && f['numerodetelecopie'].errors['pattern']">doit contenir des chiffres seulement!</div>
                                 </div>
                             </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input [(ngModel)]="fournisseurf.adresse" type="text" formControlName="adresse" class="form-control"  data-errors="Please Enter Name." id="adresse" >
                                 </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Code postal</label>
                                    <input [(ngModel)]="fournisseurf.codepostal" type="text" formControlName="codepostal" class="form-control"  data-errors="Please Enter Name." id="codepostal">
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['codepostal'].valid && (f['codepostal'].dirty || f['codepostal'].touched)">
                                        Code postal valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['codepostal'].touched ">
                                        <div *ngIf="f['codepostal'].errors && f['codepostal'].errors['pattern']">doit contenir des chiffres seulement!</div>
                                 </div>
                             </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Ville</label>
                                    <input [(ngModel)]="fournisseurf.ville" type="text" formControlName="ville" class="form-control"  data-errors="Please Enter Name." id="ville" >
                                 </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Pays</label>
                                    <input [(ngModel)]="fournisseurf.pays" type="text" formControlName="pays" class="form-control"  data-errors="Please Enter Name." id="pays" >
                                 </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Nom,prénom</label>
                                    <input [(ngModel)]="fournisseurf.nometprenom" type="text" formControlName="nometprenom" class="form-control"  data-errors="Please Enter Name." id="nometprenom" >
                                 </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Adresse de courier</label>
                                    <input [(ngModel)]="fournisseurf.adressedecourier" type="text" placeholder="@" formControlName="adressedecourier" class="form-control"  data-errors="Please Enter Name." id="adressedecourier" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['adressedecourier'].valid && (f['adressedecourier'].dirty || f['adressedecourier'].touched)">
                                        Adresse e-mail valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['adressedecourier'].touched">
                                        <div *ngIf="f['adressedecourier'].errors && f['adressedecourier'].errors['pattern']">        L'adresse e-mail doit être au format: example@domain.com.
                                        </div>                                 </div>
                             </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Fonction</label>
                                    <input [(ngModel)]="fournisseurf.fonction" type="text" formControlName="fonction" class="form-control"  data-errors="Please Enter Name." id="fonction" >
                                 </div>
                             </div>
                             </div>
                             <div class="row">
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Numéro de téléphone</label>
                                    <input [(ngModel)]="fournisseurf.numerodetelephone" placeholder="+352 " type="text" formControlName="numerodetelephone" class="form-control"  data-errors="Please Enter Name." id="numerodetelephone" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['numerodetelephone'].valid && (f['numerodetelephone'].dirty || f['numerodetelephone'].touched)">
                                        Numéro de téléphone valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['numerodetelephone'].touched">
                                        <div *ngIf="f['numerodetelephone'].errors && f['numerodetelephone'].errors['pattern']">Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Téléphone personnel</label>
                                    <input [(ngModel)]="fournisseurf.telephonepersonnel" placeholder="+352 " type="text" formControlName="telephonepersonnel" class="form-control" data-errors="Please Enter Name." id="telephonepersonnel" >
                                    <div style="color: green; margin-top: 10px;" *ngIf="f['telephonepersonnel'].valid && (f['telephonepersonnel'].dirty || f['telephonepersonnel'].touched)">
                                        Numéro de téléphone valide.
                                      </div>
                                    <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['telephonepersonnel'].touched ">
                                        <div *ngIf="f['telephonepersonnel'].errors && f['telephonepersonnel'].errors['pattern']">Le numéro de téléphone doit être au format +352 123-456-789 !</div>
                                     </div>
                                 </div>
                             </div>
                             </div>
                        
                    </form>
       <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-center">
        <button style="margin-bottom: 1%;" [disabled]="form.invalid" (click)="createFournisseur()" type="submit" class="btn btn-primary mr-2 mb-2 mb-sm-0">Enregistrer</button>
        <button style="margin-bottom: 1%;" type="reset" (click)="onCancel()" class="btn btn-danger mb-2 mb-sm-0">Annuler</button>
      </div>
      
       </div>
       </div>
<!-- Page end  -->
<ng-template #successModal>
    <div class="modal-header">
      <h4 class="modal-title">Succès</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Le fournisseur a été ajoutée avec succès.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
    </div>
  </ng-template>





