.bg-danger{
    background-color: #ffd140;
    border-color: #ffd140;
}
.bg{
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff; 
  }
  .btn-primary {
    background-color: #089bd7;
    border-color: #089bd7;
  }
  .btn-warning{
    background-color: #ffd140;
    border-color: #ffd140;
  }
  
  button + button {
    margin-left: 10px;
  }
  thead {
    background-color: #F1F3F8
  }
  th {
    background-color: #F1F3F8;
    color : #17469d;
    font-size: 15px;
    text-align: left; /* Aligne le texte au centre */
  
  
  }
  #user-list-table {
    width: 100%;
  }
  .btn-danger{
    background-color: #e56b6f;
    border-color: #e56b6f;
    color: #fff; 
  }
  td{
    font-size: 14px;
  }
  .custom-background {
    background-color: #F1F3F8;
  }
  .card-title{
    font-size: 14px;
    color: #17469d;
  
  }
  
  .custom-icon-blue {
    color: rgb(27, 27, 63);
  }
  .custom-blue {
    color: #17469d;
  }
  
  
  