<div class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h4 class="card-title">Liste des Menus </h4>
                   </div>
                   <div class="col-sm-6 col-md-6">
                     <div class="user-list-files d-flex">
                        
                        <a routerLink="/addMenu" class="bg" href="javascript:void();">
                           Ajouter un Menu 
                        </a>
                     </div>
                  </div>
                </div>
                <div class="card-body">
                   <div class="table-responsive">
                      <div class="row justify-content-between">
                         <div class="col-sm-6 col-md-6">
                            <div id="user_list_datatable_info" class="dataTables_filter">
                              <form class="mr-3 position-relative d-flex lign-items-center" [formGroup]="myForm">
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label class="mr-2">Filtrer par Site</label>
                                     <select id="site" name="site" formControlName="site" class="custom-select" data-style="py-0" required (change)="filterMenusBySite()">
                                       <option *ngFor="let site of site$ | async" [value]="site.id">{{ site.site_nom }}</option>
                                       <option value="">Tous</option>
                                     </select>
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label class="mr-2">Filtrer par Mois</label>
                                     <select id="mois_concerne" name="mois_concerne" formControlName="mois_concerne" class="custom-select" data-style="py-0" (change)="filterMenuByMonth()" [(ngModel)]="MoisSelectionne">
                                       <option value="">Tous</option>
                                       <option value="Janvier">Janvier</option>
                                       <option value="Février">Février</option>
                                       <option value="Mars">Mars</option>
                                       <option value="Avril">Avril</option>
                                       <option value="Mai">Mai</option>
                                       <option value="Juin">Juin</option>
                                       <option value="Juillet">Juillet</option>
                                       <option value="Aout">Aout</option>
                                       <option value="Septembre">Septembre</option>
                                       <option value="Octobre">Octobre</option>
                                       <option value="Novembre">Novembre</option>
                                       <option value="Décembre">Décembre</option>
                                     </select>
                                   </div>
                                 </div>
                               </form>
                               
                            </div>
                         </div>
                         
                      </div>
                      <table id="user-list-table" class="table table-striped  mt-4" role="grid"
                         aria-describedby="user-list-page-info">
                         <thead>
                            <tr >
                               <th>Site</th>
                               <th>Mois Concerné</th>
                               <th>Menus généraux</th>
                               <th>Menus Dessert</th>
                               <th>Menus S1</th>
                               <th>Menus S2</th>
                               <th>Menus S3</th>
                               <th>Menus S4</th>
                               <th>Menus S4</th>
                               
                               
                               
                               <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let menu of menus">
                             
                              <td>{{menu.site_name}}</td>
                              <td>{{menu.mois_concerne}}</td>
                              <td>
                                 <a href="{{ menu.menus_generaux }}" download>
                                    {{ getFileNameFromPath(menu.menus_generaux)  }}
                                  </a>
                                  
                                  
                               </td>
                              <td>
                                 <a href="{{ menu.menus_dessert }}" download>
                                    {{  getFileNameFromPath(menu.menus_dessert) }}</a>
                               </td>
                               
                              <td>
                                 <a href="{{ menu.menu_s1 }}" download>
                                    {{ getFileNameFromPath(menu.menu_s1) }}</a>
                                 
                              </td>
                              <td>
                                 <a href="{{ menu.menu_s2 }}" download>
                                    {{ getFileNameFromPath(menu.menu_s2)  }}</a>
                                 
                              </td>
                              <td>
                                 <a href="{{ menu.menu_s3 }}" download>
                                    {{ getFileNameFromPath(menu.menu_s3) }}</a>
                                 
                              </td>
                              <td>
                                 <a href="{{ menu.menu_s4 }}" download>
                                    {{ getFileNameFromPath(menu.menu_s4) }}</a>
                                 
                              </td>
                              <td>
                                 <a href="{{ menu.menu_s5 }}" download>
                                    {{ getFileNameFromPath(menu.menu_s5) }}</a>
                                 
                              </td>
                              
                              
                        
                              
                              <td>
                                <div class="flex align-items-center list-user-action">
                                  <a class="btn btn-sm bg-success" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/updateMenu', menu.id]"><i class="ri-pencil-line mr-0"></i></a>
                                  <a class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="menuIdToDelete = menu.id; modalRef = modalService.show(deleteModal);"><i
                                      class="ri-delete-bin-line mr-0"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          
                      </table>
                   </div>
                   <div class="row justify-content-between mt-3">
                      <div id="user-list-page-info" class="col-md-6">
                         <span>Showing 1 to 5 of 5 entries</span>
                      </div>
                      <div class="col-md-6">
                         <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mb-0">
                               <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                               </li>
                               <li class="page-item active"><a class="page-link" href="#">1</a></li>
                               <li class="page-item"><a class="page-link" href="#">2</a></li>
                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                               <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                               </li>
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
          </div>
 <!-- Confirmation modal for command deletion -->
 <ng-template #deleteModal>
   <div class="modal-header">
     <h4 class="modal-title">Confirmation de la suppression</h4>
     <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Êtes-vous sûr de vouloir supprimer ce menu ?
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Annuler</button>
     <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
   </div>
 </ng-template>