<div class="content-page custom-background">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4 >Ajouter Processus</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form action="page-list-returns.html" data-toggle="validator" [formGroup]="processusForm" (ngSubmit)="onSubmit()">
                           <div class="row">                                  
                              
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Intitulé <label style="color: red;">*</label></label>
                                       <input type="text" class="form-control" placeholder="Entrer intitulé" required id="intitule" name="intitule" formControlName="intitule">
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div> 
                               
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sigle <label style="color: red;">*</label></label>
                                    <input type="text" class="form-control" placeholder="Entrer typologie" required id="sigle" name="sigle" formControlName="sigle">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> 
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Typologie<label style="color: red;">*</label></label>
                                       <select class="selectpicker form-control" data-style="py-0" id="typologie" name="typologie" formControlName="typologie" >
                                           <option>Management</option>
                                           <option>Opérationnel</option>
                                           <option>Support</option>
                                           <option>Aucune</option>
                                       </select>
                                   </div> 
                               </div>  
                               <div class="col-md-6">
                                <div class="form-group">
                                    
                                    <label>Finalité<label style="color: red;">*</label></label>
                                         <textarea class="form-control" rows="4"
                                            placeholder="Entrez la finalité" id="finalite" name="finalite" formControlName="finalite" required></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                                  
                                </div>
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pilote <label style="color: red;">*</label></label>
                                    <select id="pilote" name="pilote" formControlName="pilote" class="custom-select" data-style="py-0" required>
                                        <option *ngFor="let personnel of personnel$ | async" [value]="personnel.id">{{ personnel.nom }}</option>
                                       </select>
                                </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <label>Acteurs<label style="color: red;">*</label></label>
                                             <textarea class="form-control"  rows="4"
                                                placeholder="Entrez les acteurs" id="acteurs" name="acteurs" formControlName="acteurs" required></textarea>
                                                <div class="help-block with-errors"></div>
                                          </div>
                                      
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            
                                            <label>Donnée Entrée<label style="color: red;">*</label></label>
                                                 <textarea class="form-control"  rows="4"
                                                    placeholder="Données entrées" id="donnee_entree" name="donnee_entree" formControlName="donnee_entree" required></textarea>
                                                    <div class="help-block with-errors"></div>
                                              </div>
                                          
                                        </div>
                               <div class="col-md-6">
                                <div class="form-group">
                                            
                                    <label>Activités<label style="color: red;">*</label></label>
                                         <textarea class="form-control"rows="4"
                                            placeholder="Entrez les activités"id="activites" name="activites" formControlName="activites" required></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                               </div>
                               <div class="col-md-6"> 
                                <div class="form-group">
                                            
                                    <label>Donnée Sortie <label style="color: red;">*</label></label>
                                         <textarea class="form-control" id="donnee_sortie" rows="4"
                                            placeholder="Donnée sortie " name="donnee_sortie" formControlName="donnee_sortie" required></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                               </div> 
                               <div class="col-md-6"> 
                                <div class="form-group">
                                            
                                    <label>Ressource Tech Org <label style="color: red;">*</label></label>
                                         <textarea class="form-control" id="ressources_tech_org" rows="4"
                                            placeholder="Ressource Tech Org" name="ressources_tech_org" formControlName="ressources_tech_org" required></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                               </div> 
                               <div class="col-md-6"> 
                                <div class="form-group">
                                            
                                    <label>Objectifs et indicateurs<label style="color: red;">*</label></label>
                                         <textarea class="form-control" id="objectifs_ind" rows="4"
                                            placeholder="Objectifs et indicateurs" name="objectifs_ind" formControlName="objectifs_ind" required></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                               </div>  
                               <div class="col-md-6"> 
                                <div class="form-group">
                                            
                                    <label>Outils de surveillance<label style="color: red;">*</label></label>
                                         <textarea class="form-control" id="outils_surveil" rows="4"
                                            placeholder="Outils de surveillance" name="outils_surveil" formControlName="outils_surveil" required ></textarea>
                                            <div class="help-block with-errors"></div>
                                      </div>
                               </div>  
                           </div>
                    
                                                 
                           <button type="submit" class="btn btn-primary mr-2"  (click)="openModal()">Ajouter</button>
                           <button type="reset" class="btn btn-danger" routerLink="/listProcessus">Annuler</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  -->
   </div>
     </div>
     <ng-template #successModal>
        <div class="modal-header">
          <h4 class="modal-title">Succès</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Le processuss a été ajoutée avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
        </div>
      </ng-template>