<div class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h4 class="card-title">Liste des personnels </h4>
                   </div>
                </div>
                <div class="card-body">
                   <div class="table-responsive">
                     <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-6">
                          <div class="input-group col-md-6">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fas fa-search" style="font-size: 1rem;"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Chercher" [(ngModel)]="searchQuery">
                            <div class="input-group-append">
                              <button class="btn btn-light btn-sm" (click)="resetSearchQuery()">Effacer 
                                <i class="fas fa-times"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="user-list-files d-flex align-items-center">
                           <a routerLink="/addPersonnel" class="bg1" href="javascript:void();">
                              Ajouter un personnel
                           </a>
                          </div>
                        </div>
                      </div>
                      <table id="user-list-table" class="table table-striped  mt-4" role="grid"
                         aria-describedby="user-list-page-info">
                         <thead>
                            <tr >
                               <th>Profile</th>
                               <th>Nom</th>
                               <th>Numero</th>
                               <th>Email</th>
                               <th>Presentation</th>
                               <th>Fonction</th>
                               <th>Adresse</th>
                             
                               <th >Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let personnel of personnels | filter: searchQuery">
                              <td class="text-center"><img class="rounded img-fluid avatar-40"
                                src="{{personnel.image}}" alt="profile"></td>
                              <td>{{personnel.nom}}</td>
                              <td>{{personnel.numero_tel}}</td>
                              <td>{{personnel.courrier}}</td>
                              <td>{{personnel.presente_vous}}</td>
                              <td><span class="badge">{{personnel.fonction}}</span></td>
                              <td>{{personnel.adresse_sip}}</td>
                          
                              <td>
                                <div class="flex align-items-center list-user-action">
                                 <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                 data-original-title="Edit" [routerLink]="['/detailpersonn', personnel.id]"><i class="ri-eye-line mr-0"></i></a>
                                  <a class="btn btn-sm bg-success" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/updateP', personnel.id]"><i class="ri-pencil-line mr-0"></i></a>
                                  <a class="btn btn-sm bg" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="PersonnelIdToDelete = personnel.id; modalRef = modalService.show(deleteModal);">
                                    <i
                                      class="ri-delete-bin-line mr-0"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          
                      </table>
                   </div>
                   <div class="row justify-content-between mt-3">
                      <div id="user-list-page-info" class="col-md-6">
                         <span>Showing 1 to 5 of 5 entries</span>
                      </div>
                      <div class="col-md-6">
                         <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mb-0">
                               <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                               </li>
                               <li class="page-item active"><a class="page-link" href="#">1</a></li>
                               <li class="page-item"><a class="page-link" href="#">2</a></li>
                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                               <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                               </li>
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
          </div>
<router-outlet></router-outlet><app-sidebar></app-sidebar>
<ng-template #deleteModal>
   <div class="modal-header">
     <h4 class="modal-title">Confirmation de la suppression</h4>
     <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Êtes-vous sûr de vouloir supprimer ce personnel ?
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Annuler</button>
     <button type="button" class="btn bg" (click)="confirmDelete()">Supprimer</button>
   </div>
 </ng-template>