
<div class="content-page custom-background ">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4 >Modifier un groupe</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form  data-toggle="validator" [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                           <div class="row">                                  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom du groupe <label style="color: red;">*</label></label>
                                    <input type="text" class="form-control" placeholder="Entrer le nom du groupe" required id="nom" name="nom" formControlName="nom">
                                    <div
                                    class="help-block with-errors"
                                    *ngIf="groupForm.get('nom')?.errors && (groupForm.get('nom')?.dirty || groupForm.get('nom')?.touched)"
                                  >
                                    
                                    <p *ngIf="groupForm.get('nom')?.hasError('minlength')" class="text-danger">
                                      Le nom de groupe doit contenir au moins 3 caractères.
                                    </p>
                                    <p *ngIf="groupForm.get('nom')?.hasError('maxlength')" class="text-danger">
                                      Le nom de groupe ne peut pas dépasser 40 caractères.
                                    </p>
                                    <p *ngIf="groupForm.get('nom')?.hasError('pattern')" class="text-danger">
                                      Le nom de groupe ne peut contenir que des lettres et espaces.
                                    </p>
                                  </div>    
                              </div>
                            </div> 
                         <div class="col-md-6">
                             <div class="form-group">
                                 <label>Description <label style="color: red;">*</label></label>
                                 <input type="text" class="form-control" placeholder="Entrer une description" required id="description" name="description" formControlName="description">
                                 <div
                                 class="help-block with-errors"
                                 *ngIf="groupForm.get('description')?.errors && (groupForm.get('description')?.dirty || groupForm.get('description')?.touched)"
                               >
                                 <p *ngIf="groupForm.get('description')?.hasError('required')" class="text-danger">
                                   Veuillez entrer la description.
                                 </p>
                                 <p *ngIf="groupForm.get('description')?.hasError('minlength')" class="text-danger">
                                   La description doit contenir au moins 5 caractères.
                                 </p>
                                 <p *ngIf="groupForm.get('description')?.hasError('maxlength')" class="text-danger">
                                   La description ne peut pas dépasser 50 caractères.
                                 </p>
                                 
                               </div>
                             </div>
                         </div> 
                                
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Propriétaire du groupe <label style="color: red;">*</label> </label>
                                    <select id="proprietaire_groupe" name="proprietaire_groupe" formControlName="proprietaire_groupe"  class="custom-select" data-style="py-0" required multiple>
                                        <option *ngFor="let userapp of userapp$ | async" [value]="userapp.id">{{ userapp.nom_complet }}</option>
                                       </select>   
                                </div> 
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="autorisation">Autorisations  <label style="color: red;">*</label> </label>
                                        <select name="type" class="custom-select form-control" id="autorisation" data-style="py-0" formControlName="autorisation">
                                            <option>Control total</option>
                                            <option>Lecture</option>
                                            <option>Collaboration avec suppression</option>
                                            <option>Collaboration sans suppression</option>
                                            
                                          </select>
                                           
                                    </div> 
                                </div> 
                           </div>     
                           <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">
                       
                           <button type="submit" class="btn btn-primary mr-2" ><i class="fas fa-pencil-alt"></i>Modifier</button>
                           <button type="reset" class="btn btn-danger" routerLink="/listgroupeusers"><i class="fas fa-times"></i>Annuler</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  
   </div>
     </div>-->
     
     <ng-template #successModal>
        <div class="modal-header update-header">
          <h4 class="modal-title">Succès</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Le groupe a été modifié avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-update-modal" (click)="closeModal()">Fermer</button>
        </div>
      </ng-template>