.btn-primary {
    background-color: #5F9DF7;
    border-color: #5F9DF7;
  }
  .card-header {
    background-color: #FFB200;
    color: #fff; 
  }
  .btn-danger{
    background-color: #5F9DF7;
    border-color: #5F9DF7;
    color: #fff; 
  }

  
