<div class="content-page custom-background">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3 col-lg-4">
               <div class="card">
                  <div class="card-headers d-flex justify-content-between">
                     <div class="header-title">
                        <h4 >Choisir l'image</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <form  data-toggle="validator">
                        <div class="form-group" data-toggle="validator">
                           <div class="crm-profile-img-edit position-relative">
                             <img class="crm-profile-pic rounded avatar-100" src="../assets/images/user/11.png" alt="profile-pic" id="profile-pic">
                             <div class="crm-p-image bg-primary">
                               <i class="las la-pen upload-button" onclick="document.getElementById('file-upload').click()"></i>
                               <input id="file-upload" class="file-upload" type="file" accept="image/*" onchange="document.getElementById('profile-pic').src = window.URL.createObjectURL(this.files[0])"
                               (change)="onFileSelected($event) " formControlName="image" required>
                                                      <div class="help-block with-errors"></div>

                             </div>
                           </div>
                         </div>
                         
                     </form>
                  </div>
               </div>
         </div>
<div class="col-xl-9 col-lg-8">
   <div class="card">
      <div class="card-headers d-flex justify-content-between">
         <div class="header-title">
           <div class="user-list-files d-flex">
                              
              
            <h4  >Ajouter un nouveau personnel</h4>
           </div>
         </div>
      </div>
      <div class="card-body">
         <div class="new-user-info">

            <form [formGroup]="PersonnelForm" (ngSubmit)="onSubmit()" data-toggle="validator">

               <div class="row">
                
                 <div class="form-group col-md-6">
                    <label for="compte">Compte <label style="color: red;">*</label></label>
                    <input type="text" class="form-control" id="compte" name="compte" placeholder="Compte" formControlName="compte" required minlength="3">
<div *ngIf="PersonnelForm.controls['compte'].invalid && (PersonnelForm.controls['compte'].dirty || PersonnelForm.controls['compte'].touched)">
   <div
   class="help-block with-errors"
   *ngIf="PersonnelForm.get('compte')?.errors && (PersonnelForm.get('compte')?.dirty || PersonnelForm.get('compte')?.touched)"
 >
   <p *ngIf="PersonnelForm.get('compte')?.hasError('required')" class="text-danger">
     Veuillez entrer le compte de personnel.
   </p>
   <p *ngIf="PersonnelForm.get('compte')?.hasError('minlength')" class="text-danger">
     Le compte de personnel doit contenir au moins 3 caractères.
   </p>
   <p *ngIf="PersonnelForm.get('compte')?.hasError('maxlength')" class="text-danger">
     Le compte de personnel ne peut pas dépasser 40 caractères.
   </p>
 
 </div>   
</div>

                  </div>
                  
                  <div class="form-group col-md-6">
                     <label for="nom">Nom <label style="color: red;">*</label></label>

                     <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" formControlName="nom" required>
                    <div *ngIf="PersonnelForm.controls['nom'].invalid && (PersonnelForm.controls['nom'].dirty || PersonnelForm.controls['nom'].touched)">
                     <div
                     class="help-block with-errors"
                     *ngIf="PersonnelForm.get('nom')?.errors && (PersonnelForm.get('nom')?.dirty || PersonnelForm.get('nom')?.touched)"
                   >
                     <p *ngIf="PersonnelForm.get('nom')?.hasError('required')" class="text-danger">
                       Veuillez entrer le nom de personnel.
                     </p>
                     <p *ngIf="PersonnelForm.get('nom')?.hasError('minlength')" class="text-danger">
                       Le nom de personnel doit contenir au moins 3 caractères.
                     </p>
                     <p *ngIf="PersonnelForm.get('nom')?.hasError('maxlength')" class="text-danger">
                       Le nom de personnel ne peut pas dépasser 40 caractères.
                     </p>
                     
                   </div>   
                   </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="courrier">Courrier<label style="color: red;">*</label></label>
                     <input type="email" class="form-control" id="courrier" name="courrier" placeholder="Courrier" formControlName="courrier" required>
                     <div *ngIf="PersonnelForm.controls['courrier'].invalid && (PersonnelForm.controls['courrier'].dirty || PersonnelForm.controls['courrier'].touched)">
                       
                        <div *ngIf="PersonnelForm.controls['othermail'].errors?.['email']" class="text-danger">Courrier doit être une adresse email valide.</div>
                        <div class="help-block with-errors"></div>
                     </div>
                   </div>
                   
                 
                   <div class="form-group col-md-6">
                     <label for="numero_tel">Numéro <label style="color: red;">*</label></label>
                     <input type="tel" class="form-control" id="numero_tel" name="numero_tel" placeholder="Mobile Number" formControlName="numero_tel" required>
                     <div *ngIf="PersonnelForm.controls['numero_tel'].invalid && (PersonnelForm.controls['numero_tel'].dirty || PersonnelForm.controls['numero_tel'].touched)">
                       <div *ngIf="PersonnelForm.controls['numero_tel'].errors?.['pattern']" class="text-danger">Numéro doit être un numéro de téléphone valide. Exemple: (0624724809)</div>
                       <div class="help-block with-errors"></div>

                     </div>
                   </div>
                   
                   

                   <div class="form-group col-md-6">
                     <label for="presente_vous">Présentez vous <label style="color: red;">*</label></label>
                     <textarea class="form-control" id="presente_vous" name="presente_vous" placeholder="presentez vous" formControlName="presente_vous" required></textarea>
                     <div *ngIf="PersonnelForm.controls['nom'].invalid && (PersonnelForm.controls['nom'].dirty || PersonnelForm.controls['nom'].touched)">
                      <div
                      class="help-block with-errors"
                      *ngIf="PersonnelForm.get('presente_vous')?.errors && (PersonnelForm.get('presente_vous')?.dirty || PersonnelForm.get('presente_vous')?.touched)"
                    >
                      <p *ngIf="PersonnelForm.get('presente_vous')?.hasError('required')" class="text-danger">
                        Veuillez entrer une présentation de personnel.
                      </p>
                    
                      <p *ngIf="PersonnelForm.get('presente_vous')?.hasError('maxlength')" class="text-danger">
                        Ce champs ne peut pas dépasser 40 caractères.
                      </p>
                      
                    </div>   
                    </div>
                  </div>
                  
                  <div class="form-group col-md-6">
                     <label for="fonction">Fonction <label style="color: red;">*</label></label>
                     <input type="text" class="form-control" id="fonction" name="fonction" placeholder="Fonction" formControlName="fonction" required>
                     <div *ngIf="PersonnelForm.controls['fonction'].invalid && (PersonnelForm.controls['fonction'].dirty || PersonnelForm.controls['fonction'].touched)">
                      <div
                      class="help-block with-errors"
                      *ngIf="PersonnelForm.get('fonction')?.errors && (PersonnelForm.get('fonction')?.dirty || PersonnelForm.get('fonction')?.touched)"
                    >
                      <p *ngIf="PersonnelForm.get('fonction')?.hasError('required')" class="text-danger">
                        Veuillez entrer la fonction de personnel.
                      </p>
                      
                      <p *ngIf="PersonnelForm.get('fonction')?.hasError('maxlength')" class="text-danger">
                        La fonction de personnel ne peut pas dépasser 40 caractères.
                      </p>
                      
                    </div>   
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="adresse_sip">Adresse Sip<label style="color: red;">*</label></label>
                     <input type="text" class="form-control" id="adresse_sip" name="adresse_sip" placeholder="Adresse Sip" formControlName="adresse_sip" required>
                     <div *ngIf="PersonnelForm.controls['nom'].invalid && (PersonnelForm.controls['nom'].dirty || PersonnelForm.controls['nom'].touched)">
                      <div
                      class="help-block with-errors"
                      *ngIf="PersonnelForm.get('adresse_sip')?.errors && (PersonnelForm.get('adresse_sip')?.dirty || PersonnelForm.get('adresse_sip')?.touched)"
                    >
                      <p *ngIf="PersonnelForm.get('adresse_sip')?.hasError('required')" class="text-danger">
                        Veuillez entrer l'adresse de personnel.
                      </p>
                      
                      <p *ngIf="PersonnelForm.get('adresse_sip')?.hasError('maxlength')" class="text-danger">
                        L'adressede personnel ne peut pas dépasser 40 caractères.
                      </p>
                      
                    </div>   
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="othermail">Autre courrier électronique <label style="color: red;">*</label></label>
                     <input type="email" class="form-control" id="othermail" name="othermail" placeholder="Other mail" formControlName="othermail"required>

                     <div *ngIf="PersonnelForm.controls['othermail'].invalid && (PersonnelForm.controls['othermail'].dirty || PersonnelForm.controls['othermail'].touched)">
                        
                        <div class="help-block with-errors"></div>

                      </div>

                  </div>
               </div>
               <hr>
           
               <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">
               <button type="submit" class="btn btn-primary" (click)="openModal()" [disabled]="!PersonnelForm.valid"> <i class="fas fa-plus"  ></i>Ajouter</button>
               <button type="reset" class="btn btn-danger" routerLink="/listP"> <i class="fas fa-times"></i>Annuler</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>
</div>
<ng-template #successModal>
   <div class="modal-header success-header">
     <h4 class="modal-title">Succès</h4>
     <button type="button" class="close" aria-label="Close" (click)="closeModal()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Le personnel a été ajoutée avec succès.
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-success" (click)="closeModal()">Fermer</button>
   </div>
 </ng-template>


