<div class="content-page custom-background">
  <div class="container-fluid">
    <div class="card">
       <div class="row">
           <div class="col-lg-12">
            <div class="card-header d-flex justify-content-between ">
              <div class="header-title">
                <h4 class="card-title">Liste des sites </h4>
              
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="user-list-files d-flex align-items-center">
                 <a routerLink="/addSite" class="bg1" href="javascript:void(); "style="margin-right: -2.5%;"><i class="fas fa-plus"></i>
                   Nouvel élément
                 </a>
                </div>
              </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-start ml-auto">
              <div class="input-group col-md-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search" style="font-size: 1rem;"></i>
                  </span>
                </div>
                <input style="height: 45px;" type="text" class="form-control form-control-sm" placeholder="Chercher" [(ngModel)]="searchQuery" >
                <div class="input-group-append">
                  <button class="btn btn-light btn-sm" (click)="resetSearchQuery()">Effacer 
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
            

            <div class="row mr-2 mt-2 justify-content-end">
              <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Afficher {{ itemsPerPage }} résultats par page
                </button>
                <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
                  <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of itemsPerPageOptions" (click)="onItemsPerPageChange(option)"
                    [ngClass]="{'selected': option === itemsPerPage}">
                    <span>{{ option }}</span>
                    <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === itemsPerPage"></i>
                  </a>
                </div>
              </div>
            </div>   
            
            <div class="col-lg-12">
              <div class="table-responsive rounded mb-3">
                <table id="tree-table-3" class="data-tables table mb-0 tbl-server-info  tree">
                  <thead>
                    <tr >
                       <th>Nom du site</th>
                       <th>Sigle</th>
                       <th>Responsable Site</th>
                       <th>Groupe Restaurant</th>
                       
                       
                       
                       <th style="min-width: 100px">Action</th>
                    </tr>
                 </thead>
                 <tbody>
                  <tr *ngFor="let site of displayedSites | filter: searchQuery">
                   
                    <td>{{site.site_nom}}</td>
                    <td>{{site.sigle}}</td>
                    <td><span class="badge" (click)="openUserModal(site)">{{ site.responsable_name }}</span></td>

                    <td>{{site.groupe_retso}}</td>
              
                    
                    <td>
                      <div class="flex align-items-center list-user-action">
                        <a class="btn btn-sm btn-update mr-2" data-toggle="tooltip" data-placement="top" title=""
                          data-original-title="Edit" [routerLink]="['/updateSite', site.id]"><i class="ri-pencil-line mr-0"></i></a>
                        <a  class="btn btn-sm btn-delete mr-2" data-toggle="tooltip" data-placement="top" title=""
                          data-original-title="Delete" (click)="siteIdToDelete = site.id; modalRef = modalService.show(deleteModal);"><i
                            class="ri-delete-bin-line mr-0" style="color: #fff;"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                
                </table>
              </div>
              <div class="pagination-container" style="display: flex; justify-content: space-between;">
                <div>
                  <span class="entry-info">
                    {{ getDisplayedRange() }}
                  </span>
                </div>
                <div style="display: flex;justify-content: flex-end;">
                  <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                  <div class="page-info">
                    <span class="page-numbers">
                      <button class="btn page-number" *ngFor="let page of getPageNumbers()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                    </span>
                  </div>
                  <button class="btn" [disabled]="p === totalPages" (click)="p = p + 1">Suivant</button>
                </div>
              </div>           
            </div>
            </div>
            </div>
            <!-- Modal -->

<!-- Modal -->

</div>
</div> 
<!-- Page end  -->
<ng-template #deleteModal>
  <div class="modal-header  delete-header ">
    <h4 class="modal-title">Confirmation de la suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir supprimer ce site ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Annuler</button>
    <button type="button" class="btn btn-delete-modal" (click)="confirmDelete()">Supprimer</button>
  </div>
</ng-template>

<!-- userModal component -->
<ng-template #userModal>
   <div class="modal-header user-header" >
     <h5 class="modal-title">Détails du personnel</h5>
     <button type="button" class="close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <dl>
       <div class="row">
         <dt class="col-sm-5">Compte :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.compte }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Nom :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.nom }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Courrier :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.courrier }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Numéro de téléphone :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.numero_tel }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Présentez-vous :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.presente_vous }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Fonction :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.fonction }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Adresse SIP :
         </dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.adresse_sip }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Adresse email secondaire :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.othermail }}</dd>
       </div>
       <!-- Ajoutez d'autres propriétés si nécessaire -->
     </dl>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-user-details" (click)="modalRef.hide()">Fermer</button>
   </div>
</ng-template>
