<div class="content-page custom-background">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-headers d-flex justify-content-between">
                       <div class="header-title">
                           <h4 >Ajouter Site</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form  data-toggle="validator" [formGroup]="siteForm" (ngSubmit)="onSubmit()">
                           <div class="row">                                  
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Nom du Site <label style="color: red;">*</label></label>
                                       <input type="text" class="form-control" placeholder="Entrer le nom du site" required id="site_nom" name="site_nom" formControlName="site_nom" maxlength="40">
                                      <div
                                       class="help-block with-errors"
                                       *ngIf="siteForm.get('site_nom')?.errors && (siteForm.get('site_nom')?.dirty || siteForm.get('site_nom')?.touched)"
                                     >
                                       <p *ngIf="siteForm.get('site_nom')?.hasError('required')" class="text-danger">
                                         Veuillez entrer le nom de site.
                                       </p>
                                       <p *ngIf="siteForm.get('site_nom')?.hasError('minlength')" class="text-danger">
                                         Le nom de site doit contenir au moins 3 caractères.
                                       </p>
                                       <p *ngIf="siteForm.get('site_nom')?.hasError('maxlength')" class="text-danger">
                                         Le nom de site ne peut pas dépasser 40 caractères.
                                       </p>
                                       <p *ngIf="siteForm.get('site_nom')?.hasError('pattern')" class="text-danger">
                                         Le nom de site ne peut contenir que des lettres et espaces.
                                       </p>
                                     </div>
                                     <div *ngIf="errorMessage" class="error-message" class="text-danger">
                                      {{ errorMessage }}
                                    </div>
                                    </div>
                               </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sigle <label style="color: red;">*</label></label>
                                    <input type="text" class="form-control" placeholder="Entrer le sigle" required id="sigle" name="sigle" formControlName="sigle">
                                    <div
                                    class="help-block with-errors"
                                    *ngIf="siteForm.get('sigle')?.errors && (siteForm.get('sigle')?.dirty || siteForm.get('sigle')?.touched)"
                                  >
                                    <p *ngIf="siteForm.get('sigle')?.hasError('required')" class="text-danger">
                                      Veuillez entrer le sigle de site.
                                    </p>
                                    <p *ngIf="siteForm.get('sigle')?.hasError('minlength')" class="text-danger">
                                      Le sigle de site doit contenir au moins 3 caractères.
                                    </p>
                                    <p *ngIf="siteForm.get('sigle')?.hasError('maxlength')" class="text-danger">
                                      Le sigle de site ne peut pas dépasser 25 caractères.
                                    </p>
                                    <p *ngIf="siteForm.get('sigle')?.hasError('pattern')" class="text-danger">
                                      Le sigle de site ne peut contenir que des lettres et espaces.
                                    </p>
                                  </div>                                  </div>
                            </div> 
                                
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Responsable Site <label style="color: red;">*</label> </label>
                                    <select id="responsable_site" name="responsable_site" formControlName="responsable_site"  class="custom-select" data-style="py-0" required >
                                        <option *ngFor="let personnel of personnel$ | async" [value]="personnel.id">{{ personnel.nom }}</option>
                                        <option value="">Choisir un responsable</option>
                                       </select>   
                                </div> 
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Groupe Restaurant <label style="color: red;">*</label></label>
                                        <select class="selectpicker form-control" data-style="py-0" id="groupe_retso" name="groupe_retso" formControlName="groupe_retso" required>
                                            <option value="">Choisir un groupe</option>
                                            <option>Wiltz resto</option>
                                            <option>Schengen resto</option>
                                            <option>Beaufort resto</option>
                                            <option>Aucune</option>
                                        </select>
                                    </div> 
                                </div>  
                           </div>   
                           
                           <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">                         
                           <button type="submit" class="btn btn-primary mr-2" (click)="openModal()"> <i class="fas fa-plus"></i>Ajouter</button>
                           <button type="reset" class="btn btn-danger" routerLink="/listsites"><i class="fas fa-times"></i>Annuler</button>
                        </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  -->
   </div>
     </div>
     <ng-template #successModal>
        <div class="modal-header success-header ">
          <h4 class="modal-title">Succès</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Le site a été ajoutée avec succès.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="closeModal()">Fermer</button>
        </div>
      </ng-template>