<div class="content-page">
    <div class="container-fluid">
       <div class="row">
           <div class="col-lg-12">
               <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                  <h4 class="mb-3">Documents utiles</h4>
              </div>
                   <a (click)="navigateToDocumentutile()" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Ajouter un document</a>
               </div>
           </div>
  
          </div>
          <div class="row justify-content-end">

            <div class="input-group mb-1 col-md-4">            
              <input type="text" class="form-control form-control-sm" placeholder="Chercher" [(ngModel)]="searchQuery">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>  
          </div>

          <div class="settings-dropdown" (click)="onDropdownClick($event)">
            <div class="dropdown">
              <button class="settings-icon" id="settingsDropdown" (click)="toggleDropdown()">
                <i class="toggle-icon fas" [class.fa-chevron-up]="!autoCloseDropdown" [class.fa-chevron-down]="autoCloseDropdown"></i>
              </button>
              
              <div class="dropdown-menu dropdown-checkboxes" aria-labelledby="settingsDropdown" [ngClass]="{'show': !autoCloseDropdown}">
                <label class="dropdown-item">Afficher / masquer les colonnes</label>
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="fieldsVisible['document']" /> Document
                </label>
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="fieldsVisible['modified_date']" /> Modifié
                </label>
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="fieldsVisible['modified_by']" /> Modifié par
                </label>
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="fieldsVisible['typologie']" /> Typologie
                </label>
              </div>
            </div>
          </div>
           
          
       <div class="col-lg-12">
        <div class="table-responsive rounded mb-3">
        <table class="data-tables table mb-0 tbl-server-info">
            <thead >
                <tr class=" ligth-data">
                  <th scope="col">
                    <a href="javascript:void(0);" (click)="sortByReverseAlphabet()">Nom</a>
                    <i class="fa fa-sort" *ngIf="!isReverseSorting"></i>
                    <i class="fa fa-sort-amount-down-alt" *ngIf="isReverseSorting"></i>
                  </th> 
                  <ng-container *ngIf="fieldsVisible['document']">                     
                    <th scope="col">Document</th>
                    </ng-container>
                    <ng-container *ngIf="fieldsVisible['modified_date']">
                     <th scope="col">Modifié</th>
                     </ng-container>
                     <ng-container *ngIf="fieldsVisible['modified_by']">
                     <th scope="col">Modifié par</th>
                     </ng-container>
                     <ng-container *ngIf="fieldsVisible['typologie']">
                     <th scope="col">Typologie</th>
                     </ng-container>
                     <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody class="ligth-body">
             <tr *ngFor="let documentutile of documentsutiles | filter : searchQuery | paginate: { itemsPerPage: 5, currentPage: p }  let i = index" [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }  ">
              <td>{{ documentutile.nom}}</td>
                <td *ngIf="fieldsVisible['document']"><button class="btn fa fa-download mr-3"   (click)="download(documentutile.document)"> {{ documentutile.document ? documentutile.document.split('/').pop() : 'Aucun fichier joint' }}</button></td>
                 <td *ngIf="fieldsVisible['modified_date']">{{ documentutile.modified_date  | date:'yyyy-MM-dd'  }}</td>
                 <td *ngIf="fieldsVisible['modified_by']">{{ documentutile.modified_by }}</td>
                 <td *ngIf="fieldsVisible['typologie']">{{ documentutile.typologie }}</td>

                 <td>
                  <div class="d-flex justify-content-start align-items-center list-action">
                    <a class="badge bg-primary mr-2" data-toggle="modal" (click)="getDocumentutileData(documentutile.id,documentutile.nom,documentutile.typologie,documentutile.modified_by)" data-target="#update" data-placement="top" title="" data-original-title="Edit"
                                ><i class="ri-pencil-line mr-0"></i></a>
                            <a class="badge bg-danger mr-2" data-toggle="tooltip" (click)="openDeleteModal(documentutile.id)" data-placement="top" title="" data-original-title="Delete"
                                ><i class="ri-delete-bin-line mr-0"></i></a>
                        </div>
                    </td>
                </tr>  
            </tbody>
        </table>
        </div>
        <div class="pagination-container" style="display: flex;justify-content: flex-end;">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>    
      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Attention , cette action est irréversible !
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="delete()" ><i class="fas fa-trash"></i>Supprimer</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" [class.show]="updateModalVisible" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier un document</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="form" data-toggle="validator">
                <div class="col">                      
                    <div class="form-group">
                        <label>Nom </label>
                        <input [(ngModel)]="nom" type="text" value="{{nom}}" formControlName="nom" class="form-control" data-errors="Please Enter Name." id="nom" >
                     </div>
                 </div>
                 <div class="col">                      
                  <div class="form-group">
                      <label>Typologie </label>
                      <input [(ngModel)]="typologie" type="text" value="{{typologie}}" formControlName="typologie" class="form-control" data-errors="Please Enter Name." id="typologie" >
                   </div>
               </div>
               <div class="col">                      
                <div class="form-group">
                    <label>Modifié par </label>
                    <input [(ngModel)]="modified_by" type="text" value="{{modified_by}}" formControlName="modified_by" class="form-control" data-errors="Please Enter Name." id="modified_by" >
                 </div>
             </div>
            <br>
           <div class="col mb-2">
            <div class="custom-file">
              <input (change)="updateFile($event)" [(ngModel)]="document" formControlName="document"
                type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Document</label>
            </div>
          </div>
            
        </form>
                              </div>
                              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="updateDocumentutile()"><i class="fas fa-pencil-alt"></i> Modifier</button> 
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page end  -->
<ng-template #successModal>
  <div class="modal-header">
    <h4 class="modal-title">Succès</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    La document utile a été modifié avec succès.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
  </div>
</ng-template>