/* list */
.btn-primary {
    background-color: #089bd7;
    border-color: #089bd7;
  }
  .btn-warning{
    background-color: #ffd140;
    border-color: #ffd140;
  }
  
  button + button {
    margin-left: 10px;
  }
  thead {
    background-color: #F1F3F8
  }
  th {
    background-color: #F1F3F8;
    color : #17469d;
    white-space: nowrap;
    font-size: 12px; /* Ajustez la taille de police selon vos besoins */
    padding: 5px; /* Aligne le texte au centre */  
  }
  #user-list-table {
    width: 100%;
  }
  .btn-danger{
    background-color: #e56b6f;
    border-color: #e56b6f;
    color: #fff; 
  }
  td{
    font-size: 14px;
    white-space: nowrap; 
  }
  .custom-background {
    background-color: #F1F3F8;
  }
  .card-title{
    font-size: 16px;
    color: #089bd7;
  
  }
  
  .custom-icon-blue {
    color: rgb(27, 27, 63);
  }
  .custom-blue {
    color: #17469d;
  }
  /*add and update*/
  .card-headers{
    color: #fff;
    background-color: #17469d ;
    padding: 8px 16px; /* Adjust the padding as needed */
    border-bottom: 1px solid #dee2e6; 
    font-size: 13px;/* Add a bottom border */   
  }
  
  .card-header {
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #ffffff; /* Set the background color of the card header */
    border-bottom: 1px solid #dee2e6;
    height: 50px; /* Add a bottom border */
  }
  .card-headerH {
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #ffffff; /* Set the background color of the card header */
    border-bottom: 1px solid #dee2e6;
    width: 500px;
    height: 500px; /* Add a bottom border */
  }
  /* Add/update */

 
  .btn-danger{
    background-color: #FFB200;
    border-color: #FFB200;
    color: #fff; 
  }
 
  button + button {
    margin-left: 10px;
  }
  .custom-background {
    background-color: #F1F3F8;
  }
  .bg1{
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff; 
  }
  
  .badge{
  background-color: #ffd140;
  border-color: #ffd140;
  color: #fff; 
  }
  custom-icon-blue {
    color: rgb(27, 27, 63);
  }
  .custom-blue {
    color: #17469d;
  }
  #update .modal-dialog {
    max-width: 850px;
  }
  
  #update .modal-content {
    width: 110%;
    height: 110%;
  }
  .settings-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #888;
    font-size: 20px;
  }
  
  .settings-icon:hover {
    color: #333;
  }
  .hidden-column {
    display: none;
  }
  .page-number.selected {
    background-color: #089bd7;
    color: #ffffff; 
  }
  .dropdown-item.selected {
    cursor: pointer;
    font-weight: bold; 
  }
  .checkbox-lg {
    transform: scale(2.9);
    margin-left: 20px;
  }
 .drop-zone {
  border: 2px dashed #ccc;
  padding: 2rem;
  text-align: center;
}

.drop-zone.drag-over {
  border-color: #aaa;
}
.containers {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.toggle-button {
  margin: 10px;
  background-color: #ffd140;
}

.window {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f5f5f5;
  display: none;
}

.window.open {
  display: block;
}
.checkbox-list{
  max-height: 150px;
  overflow-y: auto;
}
.custom-button {
  background-color: #ffd140;
  border-color: #ffd140;
  color: #fff;
}
.rich-text-editor {
  border: 1px solid #ccc;
  padding: 6px;
  min-height: 150px;
}
.ipr-column {
  padding-left: 20px;
}


  
  
    .red-ball {
      background-color: red;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
    }
  
    .green-ball {
      background-color: green;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
    }