<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Liste des Exercices de securité </h4>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="user-list-files d-flex align-items-center">
                                <a routerLink="/addExerciceSecurite" class="custom-button" href="javascript:void();">
                                    Ajouter un Exercice de securité
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row justify-content-between">
                            <div class="col-sm-6 col-md-8">
                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-search" style="font-size: 1rem;"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" placeholder="Chercher"
                                        [(ngModel)]="searchQuery">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm" (click)="resetSearchQuery()">Effacer
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>







                        <div class="d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Afficher {{ itemsPerPage }} résultats par page
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="itemsPerPageDropdown">
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        *ngFor="let option of itemsPerPageOptions"
                                        (click)="onItemsPerPageChange(option)"
                                        [ngClass]="{'selected': option === itemsPerPage}">
                                        <span>{{ option }}</span>
                                        <i style="margin-left: 1%;" class="fas fa-check"
                                            *ngIf="option === itemsPerPage"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">


                            <table class="table rounded   mt-4" aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>Site</th>
                                        <th>Intitulé exercice*</th>
                                        <th>Année</th>

                                        <th>Date de l'exercice*</th>
                                        <th>Taux conformité exercices</th>
                                        <th>Indicateur</th>
                                        <th>Thème</th>
                                        <th>Plan d'actions</th>
                                        <th>Scénario</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>


                                <ng-container *ngFor="let site of sites">
                                    <tbody class="ligth-body">
                                        <td data-column="name">
                                            <a href="javascript:void(0);" class="toggle-icon"
                                                (click)="site.expanded = !site.expanded">
                                                <i class="fa fa-chevron-right" *ngIf="!site.expanded"></i>
                                                <i class="fa fa-chevron-down" *ngIf="site.expanded"></i>
                                            </a>
                                            <a href="javascript:void(0);">Site : {{ site.site_nom }} : ( {{
                                                getRecordCount(site) }} )</a>
                                        </td>
                                        <ng-container *ngIf="site.expanded ">


                                            <ng-container
                                                *ngFor="let exes of exerSec | filter: searchQuery   let i = index ">
                                                <tr *ngIf="exes.length === 0">
                                                    <td colspan="11">Aucun exercice de securité trouvé </td>
                                                </tr>

                                                <tr *ngIf="exes.site == site.id"
                                                    [ngClass]="{'table-primary': i % 2 == 0, 'table-default': i % 2 == 1 }">
                                                    <td></td>

                                                    <td>{{exes.intitule}}</td>
                                                    <td>{{ exes.date | date:'yyyy' }}</td>
                                                    <td>{{exes.date}}</td>
                                                    <td>{{exes.taux_conformite}}</td>


                                                    <td>
                                                        <span
                                                            *ngIf="exes.taux_conformite !== undefined && exes.taux_conformite !== null"
                                                            [ngClass]="{'red-ball': exes.taux_conformite < 50, 'green-ball': exes.taux_conformite >= 50}"></span>
                                                    </td>





                                                    <td>{{exes.theme}}</td>
                                                    <td></td>
                                                    <td>{{exes.scenario}}</td>



                                                    <td>
                                                        <div class="flex align-items-center list-user-action">
                                                            <a class="badge btn-sm bg-primary" data-toggle="modal"
                                                                data-target="#update" data-placement="top" title="Edit"
                                                                (click)="getESData(exes.id,exes.intitule, exes.theme, exes.site, exes.date_exercice, exes.scenario, exes.animateur, exes.observateurs,
 exes.duree_exercice, exes.signal_alarme, exes.evacuation, exes.ascenseur_inutilise, exes.evacuation_immediate,
  exes.evacuation_bon_ordre, exes.point_rassemblement, exes.consigne_respectee, exes.connaissance_lutte_incendie,
   exes.degagement_lutte_incendie, exes.materiel_operationnel, exes.materiel_verifie, exes.degagement_issues_secours
   , exes.accueil_secours, exes.accueil_guide_secours, exes.interdiction_entree, exes.blocage_portails, exes.appreciation_situation,
    exes.commentaire_appreciation, exes.centralisation_renseignements, 
    exes.commentaire, exes.mesure_a_prendre)">
                                                                <i class="ri-pencil-line mr-0"></i>
                                                            </a>
                                                            <span class="spacer"></span> <!-- Add a spacer element -->
                                                            <a class="badge btn-sm bg-danger" style="cursor: pointer;"
                                                                data-toggle="tooltip" (click)="openDeleteModal(exes.id)"
                                                                data-placement="top" title="Delete">
                                                                <i class="ri-delete-bin-line mr-0"></i>
                                                            </a>
                                                        </div>

                                                    </td>
                                                </tr>


                                            </ng-container>
                                        </ng-container>
                                </ng-container>

                            </table>
                        </div>
                        <div class="pagination-container"
                            style="display: flex; justify-content: space-between; margin-top: 10px;">
                            <div>
                                <span class="entry-info">
                                    {{ getDisplayedRange() }}
                                </span>
                            </div>
                            <div style="display: flex;justify-content: flex-end;">
                                <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                                <div class="page-info">
                                    <span class="page-numbers">
                                        <button class="btn page-number" *ngFor="let page of getPageNumbers()"
                                            [disabled]="p === page" (click)="p = page"
                                            [ngClass]="{'selected': p === page}">{{ page }}</button>
                                    </span>
                                </div>
                                <button class="btn" [disabled]="p === totalPages" (click)="p = p + 1">Suivant</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Attention , cette action est irréversible !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="delete()"><i
                        class="fas fa-trash"></i>Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                        class="fas fa-times"></i>Fermer</button>
            </div>
        </div>
    </div>
</div>