<div class="content-page custom-background">
  <div class="card">
    <div class="card-headers d-flex justify-content-between">
       <div class="header-title">
          <h4>RGPD:Registre de traitement</h4>
       </div>
    </div>
    <div class="card-body">
       <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
        <li class="nav-item" [ngClass]="{'disabled': form.controls['typeregistre'].invalid|| form.controls['nomtraitement'].invalid|| form.controls['responsable_traitement'].invalid || form.controls['description_generale'].invalid || form.controls['fournisseur'].invalid}">
          <a class="nav-link active" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">IDENTIFICATION</a>
       </li>       
          <li class="nav-item" [ngClass]="{'disabled': form.controls['finaliteprincipale'].invalid || form.controls['donneesensible'].invalid}">
             <a class="nav-link" id="pills-profile-tab-fill"  data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">FINALITÉS ET DONNÉES</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#pills-contact-fill" role="tab" aria-controls="pills-contact" aria-selected="false">PERSONNES CONCERNÉES, DESTINATAIRES ET MESURE DE SÉCURITÉ</a>
          </li>
       </ul>
       <div class="tab-content" id="pills-tabContent-1">
          <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
            <div class="card">
                <div class="card-body" style="margin-right: 2%;">
                  <form [formGroup]="form" data-toggle="validator">
                    <div class="row">
                    <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto; margin-left: 1.1%;">
                      <div class="form-group">
                        <label>Registre concerné </label>
                        <section class="p mb-2 text-grey rounded">
                          Nous avons 2 registres, l'un en tant que Responsable de Traitements pour nos activités internes, et l'autre en tant que sous traitant, Sélectionnez le registre approprié
                        </section>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">                      
                        <div class="form-group">
                            <label>Registre <label style="color: red;">*</label></label>
                            <input  [(ngModel)]="traitementf.typeregistre" formControlName="typeregistre" type="text" class="form-control" placeholder="Enter un nom" required>
                            <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['typeregistre'].invalid">
                              <div *ngIf="f['typeregistre'].errors && f['typeregistre'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                              <div *ngIf="f['typeregistre'].errors && f['typeregistre'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                          </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <hr>
                      </div>
                      <div class="col-md-12" style="background-color: #badeed; margin-left: 1.3%; opacity: 1;outline: auto">
                        <div class="form-group">
                          <label>Description du traitement </label>
                          <section class="p mb-2 text-grey rounded">Un "traitement de données personnelles" est une opération, ou ensemble d'opérations, partant sur des données personnelles, quel que soit le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation, modification, extraction, consultation, utilisation, communication, par transmission diffusion en toute forme de mise à disposition, rapprochement). </section>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <hr>
                        <div class="form-group">
                          <label>Nom du traitement <label style="color: red;">*</label></label>
                          <input  [(ngModel)]="traitementf.nomtraitement" formControlName="nomtraitement" type="text" class="form-control" placeholder="Enter un nom" required>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['nomtraitement'].invalid">
                            <div *ngIf="f['nomtraitement'].errors && f['nomtraitement'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['nomtraitement'].errors && f['nomtraitement'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                            <div *ngIf="f['nomtraitement'].errors && f['nomtraitement'].errors['duplicate']"><i class="fas fa-exclamation-circle"></i> Ce nom existe déjà !</div>
                        </div>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div> 
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Description générale <label style="color: red;">*</label></label>
                          <textarea [(ngModel)]="traitementf.description_generale" formControlName="description_generale" class="form-control" rows="4" required></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['description_generale'].invalid">
                            <div *ngIf="f['description_generale'].errors && f['description_generale'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['description_generale'].errors && f['description_generale'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label>Société du responsable du traitement <label style="color: red;">*</label></label>
                            <select [(ngModel)]="traitementf.fournisseur" id="fournisseur" name="fournisseur" formControlName="fournisseur" class="form-control" class="custom-select" required >
                              <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.nom }}</option>
                             </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label>Société du DPO <label style="color: red;">*</label></label>
                            <select [(ngModel)]="traitementf.fournisseur_dpo" id="fournisseur_dpo" name="fournisseur_dpo" formControlName="fournisseur_dpo" class="form-control" class="custom-select" required >
                              <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.nom }}</option>
                             </select>
                        </div>
                      </div> 
                    </div>
                      <div class="col-md-13">
                        <div class="form-group">
                            <label>Société du représentant dans l'UE <label style="color: red;">*</label></label>
                            <select [(ngModel)]="traitementf.fournisseur_representant" id="fournisseur_representant" name="fournisseur_representant" formControlName="fournisseur_representant" class="form-control" class="custom-select" required>
                              <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.nom }}</option>
                             </select>
                        </div>
                      </div>
                        <div class="form-group">
                          <div class="col-md-13">
                          <label>Responsable Traitement <label style="color: red;">*</label></label>
                          <select id="responsable_traitement" [(ngModel)]="traitementf.responsable_traitement" name="responsable_traitement" formControlName="responsable_traitement"  class="custom-select">
                            <option *ngFor="let responsable_traitement of utilisateurs" [value]="responsable_traitement.id">{{ responsable_traitement.nom }}</option>
                           </select>                          
                           <div class="help-block with-errors"></div>
                        </div>
                        </div>

                  </form>
                </div>
             
              </div>
              <div>
            </div>
              
                        </div>
          
          <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
            <div class="card">
                <div class="card-body">
                  <form [formGroup]="form" data-toggle="validator">
                    <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto">
                      <div class="form-group">
                        <label>Finalités </label>
                        <section class="p mb-2 text-grey rounded">Un traitement de données doit avoir un objectif, une finalité, c'est à dire que vous ne pouvez pas collecter ou traiter des données personnelles simplement au cas où cela vous serait utile un jour. À chaque traitement de données doit être assigné un but, qui doit bien évidemment être légal et légitime au regard de votre activité professionnelle. <br> Exemple :Vous collectez sur vos clients de nombreuses informations, lorsque vous effectuez une livraison, éditez une facture ou, proposez une carte de fidelité. Toutes ces opérations sur ces données constituent votre traitement de données personnelles ayant pour objectif la gestion de votre clientèle. </section>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Finalité principale <label style="color: red;">*</label></label>
                          <textarea [(ngModel)]="traitementf.finaliteprincipale" formControlName="finaliteprincipale" class="form-control" rows="4" required></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['finaliteprincipale'].invalid">
                            <div *ngIf="f['finaliteprincipale'].errors && f['finaliteprincipale'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['finaliteprincipale'].errors && f['finaliteprincipale'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                        <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sous finalité 1</label>
                          <textarea [(ngModel)]="traitementf.sous_finalite1" formControlName="sous_finalite1" class="form-control" rows="4" ></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['sous_finalite1'].invalid">
                            <div *ngIf="f['sous_finalite1'].errors && f['sous_finalite1'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['sous_finalite1'].errors && f['sous_finalite1'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sous finalité 2</label>
                          <textarea [(ngModel)]="traitementf.sous_finalite2" formControlName="sous_finalite2" class="form-control" rows="4" ></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['sous_finalite2'].invalid">
                            <div *ngIf="f['sous_finalite2'].errors && f['sous_finalite2'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['sous_finalite2'].errors && f['sous_finalite2'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sous finalité 3</label>
                          <textarea [(ngModel)]="traitementf.sous_finalite3" formControlName="sous_finalite3" class="form-control" rows="4" ></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['sous_finalite3'].invalid">
                            <div *ngIf="f['sous_finalite3'].errors && f['sous_finalite3'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['sous_finalite3'].errors && f['sous_finalite3'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sous finalité 4</label>
                          <textarea [(ngModel)]="traitementf.sous_finalite4" formControlName="sous_finalite4" class="form-control" rows="4" ></textarea>
                          <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['sous_finalite4'].invalid">
                            <div *ngIf="f['sous_finalite4'].errors && f['sous_finalite4'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                            <div *ngIf="f['sous_finalite4'].errors && f['sous_finalite4'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">                      
                        <div class="form-group">
                            <label style="margin-top: 1%;">Donnée sensible </label>
                            <br>
                            <input style="margin-top: 3%;" [(ngModel)]="traitementf.donneesensible" type="checkbox" formControlName="donneesensible" class="checkbox-lg" placeholder="donneesensible" data-errors="Please Enter Name." id="donneesensible">
                            <br>
                            <label class="text-blue">Le traitement contient des données sensibles</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Donnée personnels ou sensibles</label><br>
                          <div class="form-group">
                            <div *ngIf="modalCompleteddonnee">
                              <select  [(ngModel)]="traitementf.type_donnee" id="type_donnee" name="type_donnee" formControlName="type_donnee" class="form-control" class="custom-select">
                                <option *ngFor="let traitement of traitements" [value]="traitement.type_donnee" [hidden]="!traitement.type_donnee">{{ traitement.type_donnee }}</option>
                              </select>
                            </div>
                            <div *ngIf="!modalCompleteddonnee">
                              <p>Il n'y a aucun élément à représenter dans cet affichage</p>
                            </div>
                          </div>  
                          <button type="button" class="btn btn-primary add-list" data-toggle="modal" data-target="#exampleModalCenter"><i class="las la-plus mr-1"></i>
                            Nouvelle Entrée
                            </button>
                 </div>
                </div>
              </div>
            </form>  
                <br>
                <br>
                <div>

                </div>
                </div>
        </div>
          </div>
          <div class="tab-pane fade" id="pills-contact-fill" role="tabpanel" aria-labelledby="pills-contact-tab-fill">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
            <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto">
              <div class="form-group">
                <label>Catégories des personnes concernées </label>
                <section class="p mb-2 text-grey rounded">Lister tous les types de personnes faisant l'objet du traitement de données. <br> Exemple : salariés, clients, patients, prospects ...</section>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <hr>
            <div class="col-md-12">
              <div class="form-group">
                <label>Personnes concernés</label>
                <br>
                <div class="form-group">
                  <div *ngIf="modalCompletedpersonne">
                    <select  [(ngModel)]="traitementf.personneconcernees" id="personneconcernees" name="personneconcernees" formControlName="personneconcernees" class="form-control" class="custom-select">
                      <option *ngFor="let traitement of traitements" [value]="traitement.personneconcernees" [hidden]="!traitement.personneconcernees">{{ traitement.personneconcernees }}</option>
                    </select>
                  </div>
                  <div *ngIf="!modalCompletedpersonne">
                    <p>Il n'y a aucun élément à représenter dans cet affichage</p>
                  </div>
                </div>               
                <button type="button" class="btn btn-primary add-list" data-toggle="modal" data-target="#personneC"><i class="las la-plus mr-1"></i>
                  Nouvelle personne concerné
                  </button>
                  </div>
                  </div>
                  <hr>
                  <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto">
                    <div class="form-group">
                      <label>Destinataires de personnes concernés </label>
                      <section class="p mb-2 text-grey rounded">Lister l'ensemble des personnes qui ont accés aux données ; par exemple : service chargé du recrutement, service informatique, direction, prestataires, partenaires, hébergeurs, etc.</section>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <hr>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Destinataires dans l'UE</label>
                      <br>
                      <div class="form-group">
                        <div *ngIf="modalCompletedenUE">
                          <select  [(ngModel)]="traitementf.typedestinataire" id="typedestinataire" name="typedestinataire" formControlName="typedestinataire" class="form-control" class="custom-select">
                            <option *ngFor="let traitement of traitements" [value]="traitement.typedestinataire" [hidden]="!traitement.typedestinataire">{{ traitement.typedestinataire }}</option>
                          </select>
                        </div>
                        <div *ngIf="!modalCompletedenUE">
                          <p>Il n'y a aucun élément à représenter dans cet affichage</p>
                        </div>
                      </div>                      
                      <button type="button" class="btn btn-primary add-list" data-toggle="modal" data-target="#DestinataireenUE"><i class="las la-plus mr-1"></i>
                        Nouveau destinataire
                        </button>
                        <hr>
                        <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto">
                          <div class="form-group">
                            <label>Mesures de sécurité </label>
                            <section class="p mb-2 text-grey rounded">Garantissez l'intégrité de votre patrimoine de données en minimisant les risques de pertes de données ou de piratage.<br>Les mesures à prendre, informatiques et physiques, dépendent de la sensibilité de données que vous traitez et des risques qui pèsent sur les personnes en cas d'incident.<br> Différentes actions doivent être mises en place : mises à jour de vos antivirus et logiciels, changement régulier des mots de passe et utilisation de mots de passe complexes, ou chiffrement de vos données dans certaines situations. En cas de perte ou de vol d'un outil informatique, il sera plus difficile pour un tiers d'y accéder.</section>
                            <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Mesures de sécurité</label>
                            <br>
                            <div class="form-group">
                              <div *ngIf="modalCompletedmesure">
                                <select  [(ngModel)]="traitementf.mtypedemesuredesecurite" id="mtypedemesuredesecurite" name="mtypedemesuredesecurite" formControlName="mtypedemesuredesecurite" class="form-control" class="custom-select">
                                  <option *ngFor="let traitement of traitements" [value]="traitement.mtypedemesuredesecurite" [hidden]="!traitement.mtypedemesuredesecurite">{{ traitement.mtypedemesuredesecurite }}</option>
                                </select>
                              </div>
                              <div *ngIf="!modalCompletedmesure">
                                <p>Il n'y a aucun élément à représenter dans cet affichage</p>
                              </div>
                            </div>                            
                            <button type="button" class="btn btn-primary add-list" data-toggle="modal" data-target="#Mesure"><i class="las la-plus mr-1"></i>Nouvelle mesure de sécurité</button>
                          </div>
                        </div>                        
                              <div class="col-md-12" style="background-color: #badeed; opacity: 1;outline: auto">
                                <div class="form-group">
                                  <label>Transferts hors Union Européenne </label>
                                  <section class="p mb-2 text-grey rounded">Lorsque vous transférez des données en dehors de l'Union Européenne:<br> -Vérifier si le pays hors UE vers lequel vous transférez les données dispose d'une législation de protection des données et si elle est reconnue adéquate par la Comission européenne.<br>Une carte du monde présentant les législations de protection des données est à votre disposition sur le site de la CNIL <a href="https://www.cnil.fr/fr/la-protection-des-données-dans-le-monde">https://www.cnil.fr/fr/la-protection-des-données-dans-le-monde</a></section>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                              <hr>
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Destinataires hors UE</label>
                                  <br>
                                  <div class="form-group">
                                    <div *ngIf="modalCompletedhorsUE">
                                      <select  [(ngModel)]="traitementf.destinataire" id="destinataire" name="destinataire" formControlName="destinataire" class="form-control" class="custom-select">
                                        <option *ngFor="let traitement of traitements" [value]="traitement.destinataire" [hidden]="!traitement.destinataire">{{ traitement.destinataire }}</option>
                                      </select>
                                    </div>
                                    <div *ngIf="!modalCompletedhorsUE">
                                      <p>Il n'y a aucun élément à représenter dans cet affichage</p>
                                    </div>
                                  </div> 
                                  <button type="button" class="btn btn-primary add-list" data-toggle="modal" data-target="#DestinatairehorsUE"><i class="las la-plus mr-1"></i>
                                    Nouveau destinataire
                                    </button>
                                    <br>
                                    <label class="text-blue">Si applicable</label>
                                    </div>
                                    </div>
                                                  
    
                         </div>
                      </div>
                      </form>
                   </div>
                   </div>
                   </div>
                   <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-end">
                    <button type="submit" [disabled]="form.invalid" (click)="createTraitement()"  class="btn btn-primary mb-2 mb-sm-0"><i class="fas fa-plus"></i>Enregistrer</button>
                    <button type="cancel" type="reset" routerLink="/list-registre-traitement" class="btn btn-warning mr-2 mb-2 mb-sm-0"><i class="fas fa-times"></i>Annuler</button>
                </div>
             </div>
        
        </div>
       </div>
       <!-- Page end  -->
<ng-template #successModal>
  <div class="modal-header success-header">
    <h4 class="modal-title">Succès</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Le traitement a été ajoutée avec succès.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="closeModal()"><i class="fas fa-times"></i>Fermer</button>
  </div>
</ng-template>

<!--modal donnée sensible-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">Donnée personnel ou sensible</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Type de donne </label>
                        <select [(ngModel)]="traitementf.type_donnee" formControlName="type_donnee" name="typeDonne" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >Données personnelles</option>
                          <option >Données sensibles</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Catégorie </label>
                        <select [(ngModel)]="traitementf.categorie" formControlName="categorie" name="categorie" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >DP:Etat civil,identité,donnée d'identification,images...</option>
                          <option >DP:Vie perso(habitudes de vie,situation familiale,etc,)</option>
                          <option >DP:Info d'ordre éco et financier (revenus,financière,sit,fiscale,etc,)</option>
                          <option >DP:Données de connexion (adresse IP,logs,etc,)</option>
                          <option >DP:Données de localisation (déplacements,Géoloc,GSM,etc,)</option>
                          <option >DP:Numéro de Sécurité Sociale(ou NIR)</option>
                          <option >DS:Données révelant l'origine raciale ou ethnique</option>
                          <option >DS:Données révélant les opinions politiques</option>
                          <option >DS:Données révélant les convictions religieuses ou philisophiques</option>
                          <option >DS: Données révélant l'appartenance syndicale</option>
                          <option >DS: Données génétiques</option>
                          <option >DS: Données biométriques aux fins d'identifier une per.physique de manière unique</option>
                          <option >DS: Données concernant la santé</option>
                          <option >DS: Données concernant la vie ou l'orientation sexuelle</option>
                          <option >DS: Données relatives à des condamnations pénales ou infractions</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Description </label>
                        <textarea [(ngModel)]="traitementf.description" formControlName="description" class="form-control" name="description" rows="4" ></textarea>
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['description'].invalid">
                          <div *ngIf="f['description'].errors && f['description'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['description'].errors && f['description'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Durée de conservation </label>
                        <input [(ngModel)]="traitementf.dureedeconcesrvation" formControlName="dureedeconcesrvation" type="text" name="dureeConservation" class="form-control" placeholder="Entrez la durée de conservation" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['dureedeconcesrvation'].invalid">
                          <div *ngIf="f['dureedeconcesrvation'].errors && f['dureedeconcesrvation'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['dureedeconcesrvation'].errors && f['dureedeconcesrvation'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 40 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
           <button type="button" (click)="submitModalDonneeSensible()" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-plus"></i>Enregistrer</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
        </div>
     </div>
  </div>
</div>
<!--Modal personne concerné-->
<div class="modal fade" id="personneC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">RGPD: Catégorie des personnes</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Personnes concernés </label>
                        <select [(ngModel)]="traitementf.personneconcernees" formControlName="personneconcernees" name="personneconcernees" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >salariés</option>
                          <option >Services internes</option>
                          <option >Clients</option>
                          <option >Fournisseurs</option>
                          <option >Prestataires</option>
                          <option >Prospects</option>
                          <option >Candidats</option>
                          <option >Partenaires</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Précisions </label>
                        <input [(ngModel)]="traitementf.precisions" formControlName="precisions" type="text" name="precisions" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['precisions'].invalid">
                          <div *ngIf="f['precisions'].errors && f['precisions'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['precisions'].errors && f['precisions'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
           <button type="button" (click)="submitModalPersonneconcernee()" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-plus"></i>Enregistrer</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
        </div>
     </div>
  </div>
</div>
<!--Destinataire en UE-->
<div class="modal fade" id="DestinataireenUE" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">Destinataire en UE</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Type de destinataire </label>
                        <select [(ngModel)]="traitementf.typedestinataire" formControlName="typedestinataire" name="typeDonne" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >Service interne qui traite les données</option>
                          <option >Sous traitant</option>
                          <option >Destinataire dans des pays tiers ou organisations internationales</option>
                          <option >Partenaires institutionnels ou commerciaux</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Précisions(UE) </label>
                        <input [(ngModel)]="traitementf.precision" formControlName="precision" type="text" name="dureeConservation" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['precision'].invalid">
                          <div *ngIf="f['precision'].errors && f['precision'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['precision'].errors && f['precision'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Données concernées(UE) </label>
                        <input [(ngModel)]="traitementf.donneeconcernees" formControlName="donneeconcernees" type="text" name="dureeConservation" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['donneeconcernees'].invalid">
                          <div *ngIf="f['donneeconcernees'].errors && f['donneeconcernees'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['donneeconcernees'].errors && f['donneeconcernees'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
           <button type="button" (click)="submitModalDestinataire()" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-plus"></i>Enregistrer</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
        </div>
     </div>
  </div>
</div>
<!--Mesure sécurité-->
<div class="modal fade" id="Mesure" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">Mesure sécurité</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Type de mesure de sécurité </label>
                        <select [(ngModel)]="traitementf.mtypedemesuredesecurite" formControlName="mtypedemesuredesecurite" name="mtypedemesuredesecurite" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >Mesures de tracibilité</option>
                          <option >Mesures de protection des logiciels</option>
                          <option >Sauvegarde de données</option>
                          <option >Chiffrement de données</option>
                          <option >Contrôle d'accés des utilisateurs</option>
                          <option >Contrôle des sous-traitants</option>
                          <option >Autres mesures (à préciser)</option>
                        </select>                        
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
           <button type="button" (click)="submitModalMesure()" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-plus"></i>Enregistrer</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
        </div>
     </div>
  </div>
</div>
<!--Destinataire hors UE-->
<div class="modal fade" id="DestinatairehorsUE" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">Destinataire hors UE</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="form" data-toggle="validator">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Destinataire </label>
                        <input [(ngModel)]="traitementf.destinataire" formControlName="destinataire" id="destinataire" type="text" name="destinataire" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['destinataire'].invalid">
                          <div *ngIf="f['destinataire'].errors && f['destinataire'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['destinataire'].errors && f['destinataire'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>

                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Pays </label>
                        <select [(ngModel)]="traitementf.pays" formControlName="pays" id="pays" name="pays" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >Andorre</option>
                          <option >Argentine</option>
                          <option >Canada</option>
                          <option >Etats-Unis</option>
                          <option >Guernessey</option>
                          <option >Ile de Man</option>
                          <option >Iles FEROE</option>
                          <option >Israël</option>
                          <option >Jersey</option>
                          <option >Nouvelle-Zélande</option>
                          <option >Suisse</option>
                          <option >Uruguay</option>
                          <option >Autre pays sans accord RGPD</option>
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Type de garantie </label>
                        <select [(ngModel)]="traitementf.typedegarantie" formControlName="typedegarantie" id="typedegarantie" name="pays" class="selectpicker form-control" data-style="py-0" >
                          <option value="">Choisissez une option</option>
                          <option >Clauses contractuelles types (CCT)</option>
                          <option >Régles d'entreprise contraignates(BCR)</option>
                          <option >Pays adéquat</option>
                          <option >Privacy shield</option>
                          <option >Code de conduite</option>
                          <option >Certification</option>
                          <option >Dérogations (art 49)</option>
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Lien vers la documentation </label>
                        <input [(ngModel)]="traitementf.lienversladocumentation" formControlName="lienversladocumentation" id="lienversladocumentation" type="text" name="dureeConservation" placeholder="https://" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['lienversladocumentation'].invalid">
                          <div *ngIf="f['lienversladocumentation'].errors && f['lienversladocumentation'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['lienversladocumentation'].errors && f['lienversladocumentation'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Données concernées(hors UE) </label>
                        <input [(ngModel)]="traitementf.lesdonneesconcernee" formControlName="lesdonneesconcernee" id="lesdonneesconcernee" type="text" name="dureeConservation" class="form-control" >
                        <div style="color: rgba(246, 4, 85, 0.574);font-weight: bold; margin-top: 10px;" *ngIf="f['lesdonneesconcernee'].invalid">
                          <div *ngIf="f['lesdonneesconcernee'].errors && f['lesdonneesconcernee'].errors['minlength']"><i class="fas fa-exclamation-circle"></i> Doit avoir au moins 3 caractères !</div>
                          <div *ngIf="f['lesdonneesconcernee'].errors && f['lesdonneesconcernee'].errors['maxlength']"><i class="fas fa-exclamation-circle"></i> Ne doit pas dépasser 255 caractères !</div>
                      </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
           <button type="button" (click)="submitModalDestinataireenUE()" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-plus"></i>Enregistrer</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>Fermer</button>
        </div>
     </div>
  </div>
</div>
</div>