<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            <div style="display: flex; flex-direction: column;">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Ajouter un document</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form [formGroup]="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-12">                      
                              <div class="form-group">
                                  <label>Nom </label>
                                  <input [(ngModel)]="documentutilef.nom" type="text" formControlName="nom" class="form-control" data-errors="Please Enter Name." id="nom" >
                               </div>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-md-12">                      
                            <div class="form-group">
                                <label>Typologie </label>
                                <input [(ngModel)]="documentutilef.typologie" type="text" formControlName="typologie" class="form-control" data-errors="Please Enter Name." id="typologie" >
                             </div>
                         </div>
                         <div class="col-md-12">                      
                          <div class="form-group">
                              <label>Modifié par </label>
                              <input [(ngModel)]="documentutilef.modified_by" type="text" formControlName="modified_by" class="form-control" data-errors="Please Enter Name." id="modified_by" >
                           </div>
                       </div>
                       <div class="col-md-12">
                        <div class="form-group">
                            <input type="file" class="form-control image-file" [(ngModel)]="documentutilef.document" (change)="uploadFile($event)"formControlName="document">
                            <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                              <p *ngIf="droppedFile">{{ droppedFile.name }}</p>
                              <p *ngIf="!droppedFile">Glissez-déposez le fichier ici</p>
                            </div>
                            
                            
                        </div>
                       </div>
                             </div>
                             </form>
                             <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-center">
                                <button style="margin-bottom: 1%;" [disabled]="form.invalid" (click)="createDocumentutile()" type="submit"  class="btn btn-primary mr-2 mb-2 mb-sm-0"><i class="fas fa-plus"></i> Enregistrer</button>
                                <button style="margin-bottom: 1%;" type="reset" routerLink="/documents-utiles-list" class="btn btn-danger mb-2 mb-sm-0"><i class="fas fa-times"></i>Annuler</button>
                              </div>
                             </div>
                             </div>
                             <!-- Modal  -->
                             <ng-template #successModal>
                                <div class="modal-header">
                                  <h4 class="modal-title">Succès</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Le document a été ajoutée avec succès.
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
                                </div>
                              </ng-template>