<div class="content-page custom-background">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-headers d-flex justify-content-between">
                        <div class="header-title">
                            <h4>Ajouter Plan alimentaire</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="page-list-returns.html" data-toggle="validator" [formGroup]="planALimentaireForm"
                            (ngSubmit)="onSubmit()">


                            <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill"
                                        href="#pills-home-fill" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Informations générales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill"
                                        href="#pills-profile-fill" role="tab" aria-controls="pills-profile"
                                        aria-selected="false">Evaluation diététique</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel"
                                    aria-labelledby="pills-home-tab-fill">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Client</label>
                                                <input type="text" class="form-control" placeholder="nom(s) + prénoms"
                                                    id="client" name="client" formControlName="client">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Site </label>
                                                <select id="site" name="site" formControlName="site"
                                                    class="custom-select" data-style="py-0">
                                                    <option *ngFor="let site of site$ | async" [value]="site.id">
                                                        {{ site.site_nom }}</option>
                                                </select>
                                            </div>
                                        </div>





                                    </div>

                                    <div class="row">



                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Localisation repas</label>

                                                <select id="localisation_repas" name="localisation_repas"
                                                    formControlName="localisation_repas" class="custom-select"
                                                    data-style="py-0">
                                                    <option value="restaurant">Restaurant</option>
                                                    <option value="secteur fermé">Secteur fermé</option>
                                                    <option value="foyer">Foyer</option>
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>ALcool</label>
                                                <select id="alcool" name="alcool" formControlName="alcool"
                                                    class="custom-select" data-style="py-0">
                                                    <option [ngValue]="true">
                                                        Oui</option>
                                                    <option [ngValue]="false">
                                                        Non</option>
                                                </select>
                                            </div>
                                        </div>




                                    </div>



                                    <div class="row">



                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Allérgie / Intolérance</label>
                                                <input type="text" class="form-control"
                                                    placeholder=" Allérgie / Intolérance" id="allergie_intolerance"
                                                    name="allergie_intolerance" formControlName="allergie_intolerance">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Texture</label>
                                            <div class="checkbox-list">
                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'Risque de fausse route'"
                                                            (change)="toggleCheckbox('Risque de fausse route', 'texture')">
                                                        Risque de fausse route
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox"
                                                            [value]="'Vinue coupée / IDDSI 6 (Petits morceaux tendres, taille d une'"
                                                            (change)="toggleCheckbox('                                                        bouchée)', 'texture')">
                                                        Vinue coupée / IDDSI 6 (Petits morceaux tendres, taille d'une
                                                        bouchée)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox"
                                                            [value]="'    Tout coupé / IDDSI 6 (Petits morceaux tendres, taille d une'"
                                                            (change)="toggleCheckbox('                                                        bouchée)', 'texture')">
                                                        Tout coupé / IDDSI 6 (Petits morceaux tendres, taille d'une
                                                        bouchée)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'                                                        Viande hachée fine / IDDSI 5 (finement haché, lubrifié)
'" (change)="toggleCheckbox('                                                        Viande hachée fine / IDDSI 5 (finement haché, lubrifié)
', 'texture')">
                                                        Viande hachée fine / IDDSI 5 (finement haché, lubrifié)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox"
                                                            [value]="'  Tout haché fin / IDDSI 5 (finement haché, lubrifié)'"
                                                            (change)="toggleCheckbox('  Tout haché fin / IDDSI 5 (finement haché, lubrifié)', 'texture')">
                                                        Tout haché fin / IDDSI 5 (finement haché, lubrifié)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'                                                        Viande/poisson velours / IDDSI 4 (mixé lisse)
'" (change)="toggleCheckbox('                                                        Viande/poisson velours / IDDSI 4 (mixé lisse)
', 'texture')">
                                                        Viande/poisson velours / IDDSI 4 (mixé lisse)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'                                                        Tout velours / IDDSI 4 (mixé lisse)
'" (change)="toggleCheckbox('                                                        Tout velours / IDDSI 4 (mixé lisse)
', 'texture')">
                                                        Tout velours / IDDSI 4 (mixé lisse)
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'                                                        Liquide / IDDSI 3
'" (change)="toggleCheckbox('                                                        Liquide / IDDSI 3
', 'texture')">
                                                        Liquide / IDDSI 3
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <input type="checkbox" [value]="'                                                        Finger food
'" (change)="toggleCheckbox('                                                        Finger food
', 'texture')">
                                                        Finger food
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">





                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Autres info utiles</label>
                                                <textarea formControlName="autres_infos_utiles" class="form-control"
                                                    id="autres_infos_utiles" name="autres_infos_utiles"
                                                    rows="4"></textarea>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel"
                                    aria-labelledby="pills-profile-tab-fill">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Dessert</label>
                                                <input type="text" class="form-control" placeholder="Entrer le dessert"
                                                    id="dessert" name="dessert" formControlName="dessert">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Menu velours matin</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'menu_velours_matin'"
                                                            (change)="toggleMenuVeloursMatin($event)">
                                                        {{ planALimentaireForm.get('menu_velours_matin')?.value ? 'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Régime</label>
                                                <div class="checkbox-list">
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Riche en fibres (35g/j)"
                                                                (change)="toggleCheckbox('Riche en fibres (35g/j)', 'regime')">
                                                            Riche en fibres (35g/j)
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox"
                                                                value="Pauvre en fibres stricte (10-14g/j)"
                                                                (change)="toggleCheckbox('Pauvre en fibres stricte (10-14g/j)', 'regime')">
                                                            Pauvre en fibres stricte (10-14g/j)
                                                        </label>
                                                    </div>

                                                    <!-- Add the remaining checkboxes with their respective labels and values -->
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Sans gluten"
                                                                (change)="toggleCheckbox('Sans gluten', 'regime')">
                                                            Sans gluten
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Sans lactose"
                                                                (change)="toggleCheckbox('Sans lactose', 'regime')">
                                                            Sans lactose
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Sans fructose"
                                                                (change)="toggleCheckbox('Sans fructose', 'regime')">
                                                            Sans fructose
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Pauvre en fibres (15-20g/j)"
                                                                (change)="toggleCheckbox('Pauvre en fibres (15-20g/j)', 'regime')">
                                                            Pauvre en fibres (15-20g/j)
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="IRC"
                                                                (change)="toggleCheckbox('IRC', 'regime')">
                                                            IRC
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Hyposodé"
                                                                (change)="toggleCheckbox('Hyposodé', 'regime')">
                                                            Hyposodé
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Enrichi"
                                                                (change)="toggleCheckbox('Enrichi', 'regime')">
                                                            Enrichi
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Diabétique"
                                                                (change)="toggleCheckbox('Diabétique', 'regime')">
                                                            Diabétique
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Alimentation plaisir"
                                                                (change)="toggleCheckbox('Alimentation plaisir', 'regime')">
                                                            Alimentation plaisir
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Dialyse"
                                                                (change)="toggleCheckbox('Dialyse', 'regime')">
                                                            Dialyse
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Personnalisé"
                                                                (change)="toggleCheckbox('Personnalisé', 'regime')">
                                                            Personnalisé
                                                        </label>
                                                    </div>
                                                </div>



                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Dessert</label>

                                                <input type="text" class="form-control"
                                                    placeholder="Spécificité Dessert" id="specificite_dessert"
                                                    name="specificite_dessert" formControlName="specificite_dessert">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Resto matin<label
                                                        style="color: red;">*</label></label>

                                                <input type="text" class="form-control"
                                                    placeholder="Spécificité Resto matin" id="specifite_resto_matin"
                                                    name="specifite_resto_matin"
                                                    formControlName="specifite_resto_matin">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Gouter</label>

                                                <input type="text" class="form-control" placeholder="Spécificité Gouter"
                                                    id="specifite_gouter" name="specifite_gouter"
                                                    formControlName="specifite_gouter">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombre des mesurettes de Nutilis ou texture IDDSI<label
                                                        style="color: red;">*</label></label>
                                                <input type="text" class="form-control"
                                                    placeholder=" Nombre des mesurettes de Nutilis ou texture IDDSI"
                                                    id="nbr_mesurettes" name="nbr_mesurettes"
                                                    formControlName="nbr_mesurettes">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>température des liquides / boissons<label
                                                        style="color: red;">*</label></label>
                                                <input type="text" class="form-control"
                                                    placeholder=" température des liquides / boissons"
                                                    id="temp_liquide_boisson" name="temp_liquide_boisson"
                                                    formControlName="temp_liquide_boisson">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Convictions alimentaires<label
                                                        style="color: red;">*</label></label>
                                                <div class="checkbox-list">
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="Sans viande"
                                                                (change)="toggleCheckbox('Sans viande', 'convictions_alimentaires')">
                                                            Sans viande
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="sans poisson"
                                                                (change)="toggleCheckbox('sans poisson', 'convictions_alimentaires')">
                                                            Sans poisson
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="sans porc"
                                                                (change)="toggleCheckbox('sans porc', 'convictions_alimentaires')">
                                                            Sans porc
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="végétarien"
                                                                (change)="toggleCheckbox('végétarien', 'convictions_alimentaires')">
                                                            Végétarien
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Soir</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'matin'"
                                                            (change)="togglematin($event)">
                                                        {{ planALimentaireForm.get('matin')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Soupe midi</label>
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe ENrichie"
                                                                    (change)="toggleCheckbox('Soupe ENrichie', 'soupe_midi')">
                                                                Soupe ENrichie
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Sans soupe"
                                                                    (change)="toggleCheckbox('Sans soupe', 'soupe_midi')">
                                                                Sans soupe
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe enrichie X2"
                                                                    (change)="toggleCheckbox('Soupe enrichie X2', 'soupe_midi')">
                                                                Soupe enrichie X2
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe mixée lisse"
                                                                    (change)="toggleCheckbox('Soupe mixée lisse', 'soupe_midi')">
                                                                Soupe mixée lisse
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe épaisse"
                                                                    (change)="toggleCheckbox('Soupe épaisse', 'soupe_midi')">
                                                                Soupe épaisse
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Menu velours soir</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'menu_velours_soir'"
                                                            (change)="toggleMenuVeloursSoir($event)">
                                                        {{ planALimentaireForm.get('menu_velours_soir')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Resto soir<label
                                                        style="color: red;">*</label></label>

                                                <input type="text" class="form-control"
                                                    placeholder="Spécificité Resto soir" id="specificite_resto_soir"
                                                    name="specificite_resto_soir"
                                                    formControlName="specificite_resto_soir">

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Diet soir</label>

                                                <input type="text" class="form-control"
                                                    placeholder="Spécificité Diet soir" id="specificite_diet_soir"
                                                    name="specificite_diet_soir"
                                                    formControlName="specificite_diet_soir">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Soupe soir</label>
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe enrichie"
                                                                    (change)="toggleCheckbox('Soupe enrichie', 'soupe_soir')">
                                                                Soupe enrichie
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Sans soupe"
                                                                    (change)="toggleCheckbox('Sans soupe', 'soupe_soir')">
                                                                Sans soupe
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe enrichie X2"
                                                                    (change)="toggleCheckbox('Soupe enrichie X2', 'soupe_soir')">
                                                                Soupe enrichie X2
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe mixée lisse"
                                                                    (change)="toggleCheckbox('Soupe mixée lisse', 'soupe_soir')">
                                                                Soupe mixée lisse
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="Soupe épaisse"
                                                                    (change)="toggleCheckbox('Soupe épaisse', 'soupe_soir')">
                                                                Soupe épaisse
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Taille portion</label>
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="1/2"
                                                                    (change)="toggleCheckbox('1/2', 'taille_portion')">
                                                                1/2
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="XL"
                                                                    (change)="toggleCheckbox('XL', 'taille_portion')">
                                                                XL
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="+ de légumes"
                                                                    (change)="toggleCheckbox('+ de légumes', 'taille_portion')">
                                                                + de légumes
                                                            </label>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" value="- de féculents"
                                                                    (change)="toggleCheckbox('- de féculents', 'taille_portion')">
                                                                - de féculents
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Statut</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'statut'"
                                                            (change)="togglestatut($event)">
                                                        {{ planALimentaireForm.get('statut')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Midi</label>

                                                <input type="text" class="form-control" placeholder="Spécificité midi"
                                                    id="specificites_midi" name="specificites_midi"
                                                    formControlName="specificites_midi">

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Gouter</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'gouter'"
                                                            (change)="togglegouter($event)">
                                                        {{ planALimentaireForm.get('gouter')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Soir</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'soir'"
                                                            (change)="togglesoir($event)">
                                                        {{ planALimentaireForm.get('soir')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spécificité Diet Matin</label>

                                                <input type="text" class="form-control"
                                                    placeholder="Spécificité Diet matin" id="specificite_diet_matin"
                                                    name="specificite_diet_matin"
                                                    formControlName="specificite_diet_matin">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Midi</label>
                                                <div>
                                                    <label>
                                                        <input type="checkbox" [formControlName]="'midi'"
                                                            (change)="togglemidi($event)">
                                                        {{ planALimentaireForm.get('midi')?.value ?
                                                        'Oui'
                                                        : 'Non' }}

                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Texture des liquides / boissons</label>
                                                <div class="checkbox-list">
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" [value]="'texture_liquides_boissons'"
                                                                (change)="toggleCheckbox('texture_liquides_boissons' , 'texture_liquides_boissons')">
                                                            Eau / boisson plate
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" [value]="'texture_liquides_boissons'"
                                                                (change)="toggleCheckbox('texture_liquides_boissons', 'texture_liquides_boissons')">
                                                            Eau / boisson gazeuse
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" [value]="'texture_liquides_boissons'"
                                                                (change)="toggleCheckbox('texture_liquides_boissons', 'texture_liquides_boissons')">
                                                            Boisson stimulante , avec du gout
                                                        </label>
                                                    </div>

                                                    <!-- Add the remaining checkboxes with their respective labels -->
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" [value]="'texture_liquides_boissons'"
                                                                (change)="toggleCheckbox('texture_liquides_boissons', 'texture_liquides_boissons')">
                                                            Epaissie
                                                        </label>
                                                    </div>


                                                </div>

                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div style="margin-bottom: 2rem; margin-bottom: +5px;"
                                    class="d-flex flex-wrap justify-content-end">

                                    <button [disabled]="planALimentaireForm.invalid" type="submit"
                                        class="btn btn-primary mr-2" (click)="openModal()"><i
                                            class="fas fa-plus"></i>Enregistrer</button>
                                    <button type="reset" class="btn btn-warning" routerLink="/plan-alimentaire-list"><i
                                            class="fas fa-times"></i>Annuler</button>

                                </div>

                            </div>




                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>
<ng-template #successModal>
    <div class="modal-header">
        <h4 class="modal-title">Succès</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Le constat d'audit a été ajoutée avec succès.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
    </div>
</ng-template>