#update .modal-dialog {
    max-width: 950px;
  }
  
#update .modal-content {
    width: 110%;
    height: 100%;
  }
  .btn-primary {
    background-color: #FF731D;
    border-color: #FF731D;
  }
  

  .btn-primary  {
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff;
  }
  
  button + button {
    margin-left: 10px;
  }
  thead {
    background-color: #17469d;
    color:#fff;
  }
  th {
  color: rgb(255, 255, 255);
  min-width: 200px;
  
  }
  #user-list-table {
    width: 100%;
  }
  .badge{
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff; 
  
  }
  .btn-danger{
    background-color: #e56b6f;
    border-color: #e56b6f;
    color: #fff; 
  }
  .btn-primary {
    background-color: #ffd140;
    border-color: #ffd140;
    color: #fff;  /* ajustez la valeur selon vos préférences */
  }  
  .btn-secondary {
    background-color: #089bd7;
    border-color: #089bd7;
  }
  .page-number.selected {
    background-color: #089bd7;
    color: #ffffff; 
  }
  .dropdown-item.selected {
    cursor: pointer;
    font-weight: bold; 
  }
  