<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            <div style="display: flex; flex-direction: column;">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Ajouter une tâche</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form [formGroup]="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Source <span style="color: red;">*</span></label>
                                    <select [(ngModel)]="tachef.source" id="source" name="source" formControlName="source" class="form-control" class="custom-select" required>
                                     <option *ngFor="let source of sources" [value]="source.id">{{ source.nom }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">                      
                                <div class="form-group">
                                    <label>Assigné à <span style="color: red;">*</span></label>
                                    <select id="realisation_associee" [(ngModel)]="tachef.assigne_a" name="assigne_a" formControlName="assigne_a"  class="custom-select">
                                        <option *ngFor="let assigne_a of utilisateurs" [value]="assigne_a.id">{{ assigne_a.nom }}</option>
                                       </select>
                                </div>
                            </div>
                        <div class="col-md-4">                      
                             <div class="form-group">
                                <label>Nom de la tâche <span style="color: red;">*</span></label>
                                <input [(ngModel)]="tachef.nom_tache" type="text" formControlName="nom_tache" class="form-control" data-errors="Please Enter Name." id="nom_tache" >
                                <div class="help-block with-errors"></div>
                            </div>
                            </div>
                            <div class="col-md-4">                      
                                <div class="form-group">
                                   <label>Date de début <span style="color: red;">*</span></label>
                                   <input [(ngModel)]="tachef.date_debut" formControlName="date_debut" type="date" class="form-control" id="date_debut" name="date_debut" />
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-4">                      
                                <div class="form-group">
                                   <label>Échéance <span style="color: red;">*</span></label>
                                   <input [(ngModel)]="tachef.echeance" formControlName="echeance" type="date" class="form-control" id="echeance" name="echeance" />
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-6">                      
                                <div class="form-group">
                                   <label>Description</label>
                                   <textarea [(ngModel)]="tachef.description" formControlName="description" class="form-control" id="description" name="description" rows="3"></textarea>
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-6">                      
                                <div class="form-group">
                                   <label>Commentaires</label>
                                   <textarea [(ngModel)]="tachef.commentaire" type="text" formControlName="commentaire" class="form-control" data-errors="Please Enter Name." id="commentaire" rows="3"></textarea>
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-4">                      
                                <div class="form-group">
                                    <label for="etat">Etat :</label>
                                    <select id="etat" [(ngModel)]="tachef.etat" name="etat" formControlName="etat" class="custom-select" data-style="py-0" >
                                    <option value="Non commencé"  selected>Non commencé</option>
                                    <option value="En cours" >En cours</option>
                                    <option value="Terminé" >Terminé</option>
                                    </select>
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-4">                      
                                <div class="form-group">
                                   <label>Priorité</label>
                                   <select id="etat" [(ngModel)]="tachef.priorite" name="priorite" formControlName="priorite" class="custom-select" data-style="py-0" >
                                    <option value="Basse"  selected>Basse</option>
                                    <option value="Normal" >Normal</option>
                                    <option value="Haute" >Haute</option>
                                    </select>                                   
                                    <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-4">                      
                                <div class="form-group">
                                   <label>Date de réalisation <span style="color: red;">*</span></label>
                                   <input [(ngModel)]="tachef.date_realisation" formControlName="date_realisation" type="date" class="form-control" id="date_realisation" name="date_realisation" />
                                   <div class="help-block with-errors"></div>
                               </div>
                               </div>
                               <div class="col-md-12">
                                <div class="form-group">
                                    <label for="piece_jointe">Piece jointe:</label>
                                    <div class="drop-zone" style="position: relative;cursor: pointer"
                                    (dragover)="onDragOver($event)"
                                    (dragleave)="onDragLeave($event)"
                                    (drop)="onDrop($event)"
                                    (click)="fileInput.click()">
                                 <input style="position: absolute;top: -9999px;left: -9999px;opacity: 0;" #fileInput type="file" class="form-control image-file" (change)="uploadFile($event)">
                                 <p *ngIf="droppedFile">{{ droppedFile.name }}</p>
                                 <p *ngIf="!droppedFile">Glissez-déposez le fichier ici ou cliquez pour sélectionner un fichier</p>
                               </div>
                                </div>
                            </div>
                            </div>
                                    </form>
       <div style="margin-bottom: 2rem; margin-top: +15px;" class="d-flex flex-wrap justify-content-center">
        <button style="margin-bottom: 1%;" [disabled]="form.invalid" (click)="createTache()" type="submit" class="btn btn-primary mr-2 mb-2 mb-sm-0"><i class="fas fa-plus"></i>Enregistrer</button>
        <button style="margin-bottom: 1%;" type="reset" routerLink="/tache-list" class="btn btn-danger mb-2 mb-sm-0"><i class="fas fa-times"></i>Annuler</button>
      </div>
      
       </div>
       </div>
<!-- Page end  -->
<ng-template #successModal>
    <div class="modal-header">
      <h4 class="modal-title">Succès</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      La tâche a été ajoutée avec succès.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
    </div>
  </ng-template>





