<div class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
           
            <div class="card">
               <div class="card-header d-flex justify-content-between" style="background-color:#17469d; color:white;">
                  <div class="header-title">
                     <h4 class="card-title">Registre des actions</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="iq-example-row">
                     <div class="container-fluid">
                        <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#description" role="tab" aria-controls="pills-home" aria-selected="true">DESCRIPTION</a>
                           </li>
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#realisation" role="tab" aria-controls="pills-profile" aria-selected="false">REALISATION</a>
                           </li>
                           <li class="nav-item col-6 col-md-4">
                              <a class="nav-link" id="pills-contact-tab-fill" data-toggle="pill" href="#mesure_efficacite" role="tab" aria-controls="pills-contact" aria-selected="false">MESURE D'EFFICACITE</a>
                           </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent-1">
                           <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                               <div class="card-body">
                                   <div id="table" class="table-editable">
                                      <span class="table-add float-left mb-3 mr-2">
                                      <h5>Description de l'action</h5>
                                      </span>
                                      <table class="table table-bordered table-responsive-md table-striped text-center">
                                         <tbody>
                                            <tr>
                                               <td style="width:50%">Intitulé action</td>
                                               <td style="width:50%">{{ action.intitule }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%; background-color:#8de2ff">Type d'action</td>
                                               <td style="width:50%; background-color:#8de2ff">{{ action.type_action }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%">Origine de l'action</td>
                                               <td style="width:50%">{{ action.origine_action }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%; background-color:#8de2ff">Référence action</td>
                                               <td style="width:50%; background-color:#8de2ff">{{ action.reference }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%">Domaine</td>
                                               <td style="width:50%">{{ action.domaine }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%; background-color:#8de2ff">Site</td>
                                               <td style="width:50%; background-color:#8de2ff">{{ action.Site_name }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%">Processus concerné par l'action</td>
                                               <td style="width:50%">{{ action.Proccesus_name }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%; background-color:#8de2ff">Analyse causes(AC) / risques (AP)</td>
                                               <td style="width:50%; background-color:#8de2ff">{{ action.analyse_cause }}</td>
                                            </tr>
                                            <tr>
                                               <td style="width:50%">Plan d'actions</td>
                                               <td style="width:50%">{{ action.plan_action }}</td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                   <div id="table" class="table-editable">
                                       <span class="table-add float-left mb-3 mr-2">
                                       <h5>Prise en charge de l'action</h5>
                                       </span>
                                       <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <tbody>
                                             <tr>
                                                <td style="width:50%">Délai mise en oeuvre</td>
                                                <td style="width:50%">{{ action.delai_mise_en_oeuvre }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Assigné à</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ action.assigne_a }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Priorité</td>
                                                <td style="width:50%">{{ action.priorite }}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                    <div id="table" class="table-editable">
                                       <span class="table-add float-left mb-3 mr-2">
                                       <h5>Prise en charge de la mesure d'efficacité</h5>
                                       </span>
                                       <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <tbody>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Délai mesure efficacité</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ action.delai_mesure_eff }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Type de critère d'efficacité</td>
                                                <td style="width:50%">{{ action.type_critere_eff }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%; background-color:#8de2ff">Detail sur le critère d'efficacité</td>
                                                <td style="width:50%; background-color:#8de2ff">{{ action.detail_critere_eff }}</td>
                                             </tr>
                                             <tr>
                                                <td style="width:50%">Pièce jointe</td>
                                                <td style="width:50%"><a href="{{ action.piece_jointe }}" target="_blank">{{ action.piece_jointe.split('/').pop().replace('.pdf', '') }}</a></td>
                                             </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                 </div>
                            </div>
                            <div class="tab-pane fade" id="realisation" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
                              <div id="table" class="table-editable">
                                 <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <tr *ngIf="( realisation$ | async)?.length === 0">
                                       <td>Réalisation</td>
                                       <td colspan="5">Aucune réalisation enregistré pour cette action <a  class="badge bg-warning mr-2" data-toggle="modal" data-target="#realisationModalCenteredScrollable" data-placement="top"><i class="ri-add-line"></i>Nouvelle entrée</a></td>
                                     </tr>
                                    <tbody *ngFor="let realisation of realisation$ | async">
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Origine</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ action.origine_action }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%">Tache(s) associées(s) <a class="badge bg-warning mx-2" data-toggle="modal" data-target="#tacheModalCenteredScrollable" data-placement="top"><i class="ri-add-line"></i>Nouvelle entrée</a></td>
                                          <td style="width:50%">
                                             <ul>
                                                <li *ngFor="let tache of tache$ | async" style="list-style-type: none;"><a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="color:#ffd140;" data-toggle="modal" data-target="#infostachesModal" (click)="ouvrirModal(tache)">{{ tache.nom_tache }}</a></li>
                                             </ul>
                                             <div class="modal" tabindex="-1" role="dialog"
                                                id="infostachesModal">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                   <div class="modal-content">
                                                      <div class="modal-header" style="background-color: #089bd7;">
                                                         <h5 class="modal-title" style="color:white">Description de la tache</h5>
                                                         <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true" style="color:black">&times;</span>
                                                         </button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <table class="table table-responsive-md borderless text-center">                                
                                                            <tbody>
                                                               <tr>
                                                                  <td style="width:50%">Source</td>
                                                                  <td style="width:50%">{{ tacheSelectionnee ? tacheSelectionnee.source : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%; background-color:#8de2ff">Nom de la tache</td>
                                                                  <td style="width:50%; background-color:#8de2ff">{{ tacheSelectionnee ? tacheSelectionnee.nom_tache : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%">Date de debut</td>
                                                                  <td style="width:50%">{{ tacheSelectionnee ? tacheSelectionnee.date_debut : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%; background-color:#8de2ff">Echéance</td>
                                                                  <td style="width:50%; background-color:#8de2ff">{{ tacheSelectionnee ? tacheSelectionnee.echeance : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%">Description</td>
                                                                  <td style="width:50%">{{ tacheSelectionnee ? tacheSelectionnee.description : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%; background-color:#8de2ff">Priorité</td>
                                                                  <td style="width:50%; background-color:#8de2ff">{{ tacheSelectionnee ? tacheSelectionnee.priorite : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%">Assigné à</td>
                                                                  <td style="width:50%">{{ tacheSelectionnee ? tacheSelectionnee.assigne_a : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%; background-color:#8de2ff">Date de réalisation</td>
                                                                  <td style="width:50%; background-color:#8de2ff">{{ tacheSelectionnee ? tacheSelectionnee.date_realisation : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%">Etat</td>
                                                                  <td style="width:50%">{{ tacheSelectionnee ? tacheSelectionnee.etat : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%; background-color:#8de2ff">Commentaires</td>
                                                                  <td style="width:50%; background-color:#8de2ff">{{ tacheSelectionnee ? tacheSelectionnee.commentaire : '' }}</td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="width:50%">Pièce jointe</td>
                                                                  <td style="width:50%"><a href="{{ tacheSelectionnee ? tacheSelectionnee.piece_jointe : '' }}" target="_blank">
                                                                     {{ tacheSelectionnee ? tacheSelectionnee.piece_jointe.split('/').pop().split('.pdf')[0] : '' }}
                                                                   </a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn bg-warning"
                                                            data-dismiss="modal">Fermer</button>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Action réalisée</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ realisation.action_realise }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%">Date de réalisations</td>
                                          <td style="width:50%">{{ realisation.date_realisation }}</td>
                                       </tr>
                                       <tr>
                                          <td style="width:50%; background-color:#8de2ff">Etat</td>
                                          <td style="width:50%; background-color:#8de2ff">{{ realisation.etat }}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div class="d-flex align-items-end flex-column" style="height: 80px;" *ngFor="let realisation of realisation$ | async">
                                    <div class="mt-auto p-2">
                                       <a class="btn add-list" style="background-color: #ffd140; color:white;" data-toggle="modal" data-target="#update_realisation" (click)="openUpdateModalRealisation(realisation)"><i class="ri-pencil-line mr-0"></i>Modifier</a>
                                       <a class="btn bg-warning add-list mx-2" data-toggle="modal" data-target="#delete_realisation" (click)="openDeleteModalRealisation(realisation.id)"><i class="ri-delete-bin-line mr-0"></i>Supprimer</a>
                                    </div>
                                 </div>
                                 <div class="modal fade" id="delete_realisation" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="popup text-left">
                                                    <h4 class="mb-3">Confirmer la suppression</h4>
                                                    <div class="content create-workform bg-body">
                                                        <div class="pb-3">
                                                            <label class="mb-2">Est ce que vous voulez supprimer cette realisation définitivement !!</label>
                                                        </div>
                                                        <div class="col-lg-12 mt-4">
                                                            <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                                <div class="btn bg-warning mr-4" data-dismiss="modal" (click)="deleteRealisation()">Supprimer</div>
                                                                <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>                                                                 
                                 <div id="realisationModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="realisationModalCenteredScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                          <div class="modal-header" style="background-color: #089bd7;">
                                             <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Ajout réalisation</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                             </button>
                                          </div>
                                          <div class="modal-body">
                                             <form [formGroup]="realisationForm" (ngSubmit)="addRealisation()"  class="needs-validation" novalidate>                                            
                                                <div class="form-group">
                                                   <label for="action_realise">Action réaliser </label>
                                                   <textarea class="form-control" formControlName="action_realise"></textarea>
                                                 </div>
                                                <div class="form-group">
                                                   <label for="date_realisation">Date de réalisation </label>
                                                   <input type="date" class="form-control" formControlName="date_realisation" required/>
                                                 </div>
                                                <div class="form-group">
                                                  <label for="etat">Etat </label>
                                                  <select id="etat" name="etat"  class="custom-select" formControlName="etat" data-style="py-0" required>
                                                   <option value="Non commencé"  selected>Non commencé</option>
                                                   <option value="En cours" >En cours</option>
                                                   <option value="Terminé" >Terminé</option>
                                                  </select>
                                                </div>               
                                                <div class="d-flex align-items-end flex-column" >
                                                   <button type="submit" class="btn" style="background-color:#ffd140;" [disabled]="actionForm.invalid">Ajouter</button>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="modal fade" id="update_realisation" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header" style="background-color: #089bd7;">
                                             <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Modifier Réalisation</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" style="color:black">×</span>
                                             </button>
                                          </div>
                                            <div class="modal-body">
                                             <form [formGroup]="realisationForm" (ngSubmit)="updateRealisation()"  class="needs-validation" novalidate>                                            
                                                <div class="form-group">
                                                   <label for="action_realise">Action réaliser </label>
                                                   <textarea class="form-control" id="action_realise" formControlName="action_realise"></textarea>
                                                 </div>
                                                <div class="form-group">
                                                   <label for="date_realisation">Date de réalisation </label>
                                                   <input type="date" class="form-control" id="date_realisation" formControlName="date_realisation" required/>
                                                 </div>
                                                <div class="form-group">
                                                  <label for="etat">Etat </label>
                                                  <select id="etat" name="etat"  class="custom-select" formControlName="etat" data-style="py-0" required>
                                                   <option value="Non commencé"  selected>Non commencé</option>
                                                   <option value="En cours" >En cours</option>
                                                   <option value="Terminé" >Terminé</option>
                                                  </select>
                                                </div>               
                                                <div class="d-flex align-items-end flex-column" >
                                                   <button type="submit" class="btn" style="background-color:#ffd140;" [disabled]="actionForm.invalid">Modifier</button>
                                                </div>
                                             </form>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div id="tacheModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tacheModalCenteredScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                          <div class="modal-header" style="background-color: #089bd7;">
                                             <h5 class="modal-title" id="tacheModalCenteredScrollableTitle" style="color:white">AJOUT D'UNE TACHE</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                             </button>
                                          </div>
                                          <div class="modal-body">
                                             <form [formGroup]="tacheForm" (ngSubmit)="addTache()"  class="needs-validation" enctype="multipart/form-data" novalidate>                                            
                                                <div class="form-group">
                                                   <label>Source <span style="color: red;">*</span></label>
                                                   <select [(ngModel)]="source" id="source" name="source" formControlName="source" class="form-control" class="custom-select" required>
                                                    <option *ngFor="let source of sources" [value]="source.id">{{ source.nom }}</option>
                                                   </select>
                                                </div>
                                                <div class="form-group">
                                                   <label for="nom_tache">Nom de la tâche *</label>
                                                   <input type="text" class="form-control" formControlName="nom_tache" required/>
                                                </div>
                                                <div class="form-group">
                                                   <label for="date_debut">Date de debut *</label>
                                                   <input type="date" class="form-control" formControlName="date_debut" required/>
                                                </div>
                                                <div class="form-group">
                                                   <label for="echeance">Echéance</label>
                                                   <input type="date" class="form-control" formControlName="echeance"/>
                                                </div>
                                                <div class="form-group">
                                                   <label for="description">Description</label>
                                                   <textarea class="form-control" formControlName="description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                  <label for="priorite">Priorité </label>
                                                  <select id="priorite" name="priorite"  class="custom-select" formControlName="priorite" data-style="py-0">
                                                   <option value="Haute"  selected>Haute</option>
                                                   <option value="Normale" >Normale</option>
                                                   <option value="Faible" >Faible</option>
                                                  </select>
                                                </div>
                                                <div class="form-group">
                                                   <label>Assigné à <span style="color: red;">*</span></label>
                                                   <select id="realisation_associee" [(ngModel)]="assigne_a" name="assigne_a" formControlName="assigne_a"  class="custom-select">
                                                       <option *ngFor="let assigne_a of utilisateurs" [value]="assigne_a.id">{{ assigne_a.nom }}</option>
                                                      </select>
                                                </div>
                                                <div class="form-group">
                                                   <label for="date_realisation">Date de réalisation </label>
                                                   <input type="date" class="form-control" formControlName="date_realisation"/>
                                                </div>
                                                <div class="form-group">
                                                   <label for="etat">Etat </label>
                                                   <select id="etat" name="état"  class="custom-select" formControlName="etat" data-style="py-0">
                                                    <option value="Non commencé"  selected>Non commencé</option>
                                                    <option value="commencer" >commencer</option>
                                                    <option value="Terminer" >Terminer</option>
                                                   </select>
                                                </div>
                                                <div class="form-group">
                                                   <label for="commentaire">Commentaires </label>
                                                   <textarea class="form-control" formControlName="commentaire"></textarea>
                                                </div>
                                                <div class="form-group">
                                                   <label for="piece_jointe">Pièce jointe </label>
                                                   <input type="file" class="form-control" style="padding-bottom: 8%;" id="piece_jointe" name="piece_jointe" formControlName="piece_jointe" (change)="onFileSelected($event)">
                                                </div>                                                                             
                                                <div class="d-flex align-items-end flex-column" >
                                                   <button type="submit" class="btn" style="background-color:#ffd140;" [disabled]="tacheForm.invalid">Ajouter</button>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>                               
                              </div>
                            </div>
                           <div class="tab-pane fade" id="mesure_efficacite" role="tabpanel" aria-labelledby="pills-contact-tab-fill">
                             <div id="table" class="table-editable table-responsive">
                               <table class="table table-bordered table-responsive-md table-striped text-center">
                                   <tr *ngIf="( mesure$ | async)?.length === 0">
                                      <td>Mesure d'éfficacité</td>
                                      <td colspan="4">Aucune mesure n'est enregistré pour cette action <a  class="badge bg-warning mr-2" data-toggle="modal" data-target="#exampleModalCenteredScrollable" data-placement="top"><i class="ri-add-line"></i>Nouvelle entrée</a></td>
                                    </tr>
                                   <tbody *ngFor="let mesure of mesure$ | async">
                                      <tr>
                                         <td style="width:50%">Date cloture</td>
                                         <td style="width:50%">{{ mesure.date_cloture }}</td>
                                      </tr>
                                      <tr>
                                         <td style="width:50%; background-color:#8de2ff">Résultat mesure efficacité</td>
                                         <td style="width:50%; background-color:#8de2ff">{{ mesure.resultat_mesure_eff }}</td>
                                      </tr>
                                      <tr>
                                         <td style="width:50%">Mesure de l'efficacité</td>
                                         <td style="width:50%">{{ mesure.mesure_eff }}</td>
                                      </tr>
                                      <tr>
                                         <td style="width:50%; background-color:#8de2ff">Cout</td>
                                         <td style="width:50%; background-color:#8de2ff">{{ mesure.cout }}</td>
                                      </tr>
                                   </tbody>
                                </table>
                                <div class="d-flex align-items-end flex-column" style="height: 80px;" *ngFor="let mesure of mesure$ | async">
                                   <div class="mt-auto p-2"><a class="btn add-list" style="background-color: #ffd140; color:white;" data-toggle="modal" data-target="#update_mesure" (click)="openUpdateModal(mesure)"><i class="ri-pencil-line mr-0"></i>Modifier</a>
                                      <a class="btn bg-warning add-list mx-2" data-toggle="modal" data-target="#delete_mesure" (click)="openDeleteModal(mesure.id)"><i class="ri-delete-bin-line mr-0"></i>Supprimer</a></div>
                                 </div>
                                 <div class="modal fade" id="delete_mesure" tabindex="-1" role="dialog" aria-hidden="true">
                                   <div class="modal-dialog modal-dialog-centered" role="document">
                                       <div class="modal-content">
                                           <div class="modal-body">
                                               <div class="popup text-left">
                                                   <h4 class="mb-3">Confirmer la suppression</h4>
                                                   <div class="content create-workform bg-body">
                                                       <div class="pb-3">
                                                           <label class="mb-2">Est ce que vous voulez supprimer cette mesure définitivement !!</label>
                                                       </div>
                                                       <div class="col-lg-12 mt-4">
                                                           <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                               <div class="btn bg-warning mr-4" data-dismiss="modal" (click)="deleteMesure()">Supprimer</div>
                                                               <div class="btn btn-outline-primary" data-dismiss="modal">Annuler</div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                 </div> 
                               <div class="modal fade" id="update_mesure" tabindex="-1" role="dialog" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                     <div class="modal-content">
                                       <div class="modal-header" style="background-color: #089bd7;">
                                          <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Modifier Mesure efficacité</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                          </button>
                                       </div>
                                         <div class="modal-body">
                                          <form [formGroup]="mesureForm" (ngSubmit)="updateMesure()"  class="needs-validation" novalidate>                                            
                                             <div class="form-group">
                                                <label for="delai_mesure_eff">Date cloture :</label>
                                                <input type="date" class="form-control" formControlName="date_cloture" required/>
                                              </div>
                                             <div class="form-group">
                                               <label for="delai_mise_en_oeuvre">Résultat mesure efficacité :</label>
                                               <div class="custom-control custom-radio custom-control-inline ml-2">
                                                <input type="radio" id="customRadio6" name="resultat_mesure_eff" class="custom-control-input" value="Efficace" formControlName="resultat_mesure_eff" required>
                                                <label class="custom-control-label" for="customRadio6"> Efficace </label>
                                             </div>
                                             <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio7" name="resultat_mesure_eff" class="custom-control-input" value="Non efficace" formControlName="resultat_mesure_eff" required>
                                                <label class="custom-control-label" for="customRadio7"> Non efficace </label>
                                             </div>
                                             </div>
                                             <div class="form-group">
                                               <label for="assigne_a">Mesure de l'efficacité :</label>
                                               <textarea class="form-control" formControlName="mesure_eff" required></textarea>
                                             </div>
                                             <div class="form-group">
                                                <label for="type_critere_eff">Cout :</label>
                                                <input type="number" class="form-control" formControlName="cout" min="0" required/>
                                              </div>
                                             <div class="d-flex align-items-end flex-column" >
                                                <button type="submit" class="btn" style="background-color:#ffd140;" [disabled]="mesureForm.invalid">Modifier</button>
                                             </div>                                   
                                           </form>
                                         </div>
                                     </div>
                                 </div>
                              </div>         
                           <div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                       <div class="modal-header" style="background-color: #089bd7;">
                                          <h5 class="modal-title" id="exampleModalCenteredScrollableTitle" style="color:white">Ajout Mesure efficacité</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true" style="color:black">×</span>
                                          </button>
                                       </div>
                                    <div class="modal-body">
                                       <form [formGroup]="mesureForm" (ngSubmit)="onSubmit()"  class="needs-validation" novalidate>                                            
                                          <div class="form-group">
                                             <label for="delai_mesure_eff">Date cloture :</label>
                                             <input type="date" class="form-control" formControlName="date_cloture" required/>
                                          </div>
                                          <div class="form-group">
                                             <label for="delai_mise_en_oeuvre">Résultat mesure efficacité :</label>
                                             <div class="custom-control custom-radio custom-radio-color-checked custom-control-inline ml-2">
                                                <input type="radio" id="customRadio-1" name="customRadio-10" class="custom-control-input" value="Efficace" formControlName="resultat_mesure_eff" required>
                                                <label class="custom-control-label" for="customRadio-1"> Efficace </label>
                                             </div>
                                             <div class="custom-control custom-radio custom-radio-color-checked custom-control-inline">
                                                <input type="radio" id="customRadio-2" name="customRadio-10" class="custom-control-input" value="Non efficace" formControlName="resultat_mesure_eff" required>
                                                <label class="custom-control-label" for="customRadio-2"> Non efficace </label>
                                             </div>
                                          </div>                                               
                                          <div class="form-group">
                                             <label for="assigne_a">Mesure de l'efficacité :</label>
                                             <textarea class="form-control" formControlName="mesure_eff" required></textarea>
                                          </div>
                                          <div class="form-group">
                                             <label for="type_critere_eff">Cout :</label>
                                             <input type="number" class="form-control" formControlName="cout" min="0" required/>
                                          </div>
                                          <div class="d-flex align-items-end flex-column" >
                                             <button type="submit" class="btn" style="background-color:#ffd140;" [disabled]="mesureForm.invalid">Ajouter</button>
                                          </div>                                   
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>                                                        
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>