<div class="content-page custom-background">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">Liste des processus </h4>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <div class="user-list-files d-flex align-items-center">
                      <a routerLink="/addProcessus" class="bg1" href="javascript:void();"><i class="fas fa-plus"></i>
                       Nouvel élément
                      </a>
                    </div>
                  </div>
               
               </div>
               <div class="card-body">
                     <div class="row justify-content-between">
                      
                       
                      <div class="col-4">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search" style="font-size: 1rem;"></i>
                                </span>
                            </div>
                            <input style="height: 45px;" type="text" class="form-control form-control-sm"
                                placeholder="Chercher" [(ngModel)]="searchQuery">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" (click)="resetSearchQuery()">Effacer
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="itemsPerPageDropdown" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Afficher {{ itemsPerPage }} résultats par page
                        </button>
                        <div class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
                          <a class="dropdown-item" style="cursor: pointer;" *ngFor="let option of itemsPerPageOptions" (click)="onItemsPerPageChange(option)"
                            [ngClass]="{'selected': option === itemsPerPage}">
                            <span>{{ option }}</span>
                            <i style="margin-left: 1%;" class="fas fa-check" *ngIf="option === itemsPerPage"></i>
                          </a>
                        </div>
                      </div>
                     
                    </div>
                    <div class="table-responsive">

                     <table  class="table   mt-4" 
                        aria-describedby="user-list-page-info">
                        <thead >
                           <tr>
                              <th >Intitulé</th>
                              <th >Typologie</th>
                              <th >Sigle</th>
                              <th >Finalité</th>
                              <th >Pilote</th>
                              <th >Acteurs</th>
                              <th >Donnée entrée </th>
                              <th >Activités</th>
                              <th >Donnée Sortie</th>
                              <th >Ressources Tech Org</th>
                              <th >Objectifs ind</th>
                              <th >Outils surveil </th>
                              
                              
                              <th >Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let pro of displayedProcessus | filter: searchQuery">
                            
                             
                             <td><a routerLink="/detailProcessus/{{ pro.id }}">{{pro.intitule}}</a></td>
                             <td>{{pro.typologie}}</td>
                             <td>{{pro.sigle}}</td>
                             <td>{{pro.finalite}}</td>
                             <td><span class="badge" (click)="openUserModal(pro)">{{pro.pilote_name }}</span></td>
                             <td>{{pro.acteurs}}</td>
                             <td>{{pro.donnee_entree}}</td>
                             <td>{{pro.activites}}</td>
                             <td>{{pro.donnee_sortie}}</td>
                             <td>{{pro.ressources_tech_org}}</td>
                             <td>{{pro.objectifs_ind}}</td>
                             <td>{{pro.outils_surveil}}</td>
                             
                             <td>
                               <div class="flex align-items-center list-user-action">
                                 <a class="badge bg-primary mr-2" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Edit" [routerLink]="['/updateProcessus', pro.id]"><i class="ri-pencil-line mr-0"></i></a>
                                 <a class="badge btn-danger mr-2" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Delete" (click)="ProIdToDelete = pro.id; modalRef = modalService.show(deleteModal);"><i
                                     class="ri-delete-bin-line mr-0"></i></a>
                               </div>
                             </td>
                           </tr>
                         </tbody>
                         
                     </table>
                  </div>
                  <div class="pagination-container" style="display: flex; justify-content: space-between;">
                    <div>
                      <span class="entry-info">
                        {{ getDisplayedRange() }}
                      </span>
                    </div>
                    <div style="display: flex;justify-content: flex-end;">
                      <button class="btn" [disabled]="p === 1" (click)="p = p - 1">Précedent</button>
                      <div class="page-info">
                        <span class="page-numbers">
                          <button class="btn page-number" *ngFor="let page of getPageNumbers()" [disabled]="p === page" (click)="p = page" [ngClass]="{'selected': p === page}">{{ page }}</button>
                        </span>
                      </div>
                      <button class="btn" [disabled]="p === totalPages" (click)="p = p + 1">Suivant</button>
                    </div>
                  </div>  
               </div>
            </div>
         </div>
      </div>
   </div>
         </div>
         <!-- Confirmation modal for command deletion -->
         <ng-template #deleteModal>
            <div class="modal-header">
              <h4 class="modal-title">Confirmation de la suppression</h4>
              <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer ce processus ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Annuler</button>
              <button type="button" class="btn bg" (click)="confirmDelete()">Supprimer</button>
            </div>
          </ng-template>
<!-- userModal component -->
<ng-template #userModal>
   <div class="modal-header">
     <h5 class="modal-title">Détails du personnel</h5>
     <button type="button" class="close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <dl>
       <div class="row">
         <dt class="col-sm-5">Compte :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.compte }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Nom :</dt>
         <dd class="col-sm-4">{{ personnelDetails.personnel?.nom }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Courrier :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.courrier }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Numéro de téléphone :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.numero_tel }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Présentez-vous :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.presente_vous }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Fonction :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.fonction }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Adresse SIP :
         </dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.adresse_sip }}</dd>
       </div>
       <div class="row">
         <dt class="col-sm-5">Adresse email secondaire :</dt>
         <dd class="col-sm-3">{{ personnelDetails.personnel?.othermail }}</dd>
       </div>
       <!-- Ajoutez d'autres propriétés si nécessaire -->
     </dl>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Fermer</button>
   </div>
</ng-template>
