
<div class="content-page custom-background">
  <div class="container-fluid add-form-list">
     <div class="row">
         <div class="col-sm-12">
             <div class="card">
                 <div class="card-headers d-flex justify-content-between">
                     <div class="header-title">
                         <h4>Ajouter un Utilisateur</h4>
                     </div>
                 </div>
                 <div class="card">
                  <div class="card-body">
                    <form [formGroup]="userForm" data-toggle="validator">
                      <div class="form-group">
                        <div class="crm-profile-img-edit position-relative">
                          <img class="crm-profile-pic rounded avatar-100" src="../assets/images/user/11.png" alt="profile-pic" id="profile-pic">
                          <div class="crm-p-image bg-primary">
                            <i class="las la-pen upload-button" onclick="document.getElementById('file-upload').click()"></i>
                            <input id="file-upload" class="file-upload" type="file" accept=".jpg, .jpeg, .png"
                                   onchange="document.getElementById('profile-pic').src = window.URL.createObjectURL(this.files[0])"
                                   (change)="onFileSelected($event)" formControlName="image">
                          </div>
                        </div>
                      </div>
                
                      <!-- Display image validation error -->
                      <div class="help-block with-errors"
                           *ngIf="userForm.get('image')?.errors && (userForm.get('image')?.dirty || userForm.get('image')?.touched)">
                        <p *ngIf="userForm.get('image')?.hasError('required')" class="text-danger">
                          Veuillez sélectionner une image.
                        </p>
                        <p *ngIf="userForm.get('image')?.hasError('invalidImageFormat')" class="text-danger">
                          Veuillez sélectionner une image au format jpg, jpeg ou png.
                        </p>
                      </div>
                
                      <!-- Add other form controls here... -->
                    </form>
                  </div>
                </div>
                
                 <div class="card-body">
                     <form action="page-list-returns.html" data-toggle="validator" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                         <div class="row">                                  
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Nom de l'utilisateur <label style="color: red;">*</label></label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Entrer le nom de l'utilisateur"
                                required
                                id="nom_user"
                                name="nom_user"
                                formControlName="nom_user"
                              >
                              <div
                                class="help-block with-errors"
                                *ngIf="userForm.get('nom_user')?.errors && (userForm.get('nom_user')?.dirty || userForm.get('nom_user')?.touched)"
                              >
                                <p *ngIf="userForm.get('nom_user')?.hasError('required')" class="text-danger">
                                  Veuillez entrer le nom de l'utilisateur.
                                </p>
                                <p *ngIf="userForm.get('nom_user')?.hasError('minlength')" class="text-danger">
                                  Le nom de l'utilisateur doit contenir au moins 3 caractères.
                                </p>
                                <p *ngIf="userForm.get('nom_user')?.hasError('maxlength')" class="text-danger">
                                  Le nom de l'utilisateur ne peut pas dépasser 25 caractères.
                                </p>
                                <p *ngIf="userForm.get('nom_user')?.hasError('pattern')" class="text-danger">
                                  Le nom de l'utilisateur ne peut contenir que des lettres et espaces.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Nom Complet <label style="color: red;">*</label></label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Entrer le nom complet"
                                required
                                id="nom"
                                name="nom"
                                formControlName="nom"
                              >
                              <div
                                class="help-block with-errors"
                                *ngIf="userForm.get('nom')?.errors && (userForm.get('nom')?.dirty || userForm.get('nom')?.touched)"
                              >
                                <p *ngIf="userForm.get('nom')?.hasError('required')" class="text-danger">
                                  Veuillez entrer le nom complet.
                                </p>
                                <p *ngIf="userForm.get('nom')?.hasError('minlength')" class="text-danger">
                                  Le nom de l'utilisateur doit contenir au moins 3 caractères.
                                </p>
                                <p *ngIf="userForm.get('nom')?.hasError('maxlength')" class="text-danger">
                                  Le nom de l'utilisateur ne peut pas dépasser 25 caractères.
                                </p>
                                <p *ngIf="userForm.get('nom')?.hasError('pattern')" class="text-danger">
                                  Le nom de l'utilisateur ne peut contenir que des lettres et espaces.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Mot de passe <label style="color: red;">*</label></label>
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Entrer le mot de passe" required id="password" name="password" formControlName="password" #passwordInput>
                              </div>

                              <div *ngIf="userForm.get('password')?.errors && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">
                                <p *ngIf="userForm.get('password')?.hasError('pattern')"><label class="text-danger">Le mot de passe doit contenir au moins 8 caractères, incluant une majuscule, une minuscule, un chiffre et un caractère spécial*</label></p>
                                <p *ngIf="userForm.get('password')?.valid">Mot de passe valide.</p>
                              </div>
                              <div
                                class="help-block with-errors"
                                *ngIf="userForm.get('password')?.errors && (userForm.get('password')?.dirty || userForm.get('password')?.touched)"
                              >
                                <p *ngIf="userForm.get('password')?.hasError('required')" class="text-danger">
                                  Veuillez entrer le mot de passe.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Adresse Email <label style="color: red;">*</label></label>
                              <input type="text" class="form-control" placeholder="Entrer l'adresse email" required id="email" name="email" formControlName="email">
                              <div >
                                <p *ngIf="userForm.get('email')?.errors?.['required']"><label class="text-danger">*L'adresse email est requise.</label></p>
                                <p *ngIf="userForm.get('email')?.errors?.['email']"><label style="color: red;">*L'adresse email doit être valide.</label></p>

                              </div>
                              <div
                                class="help-block with-errors"
                                *ngIf="userForm.get('email')?.errors && (userForm.get('email')?.dirty || userForm.get('email')?.touched)"
                              >
                                <p *ngIf="userForm.get('email')?.hasError('required')" class="text-danger">
                                  Veuillez entrer l'adresse email.
                                </p>
                              </div>
                              <div *ngIf="emailExistsError" class="text-danger">
                                Adresse email existe déjà
                              </div>
                            </div>
                          </div>
                        
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>
                              
                              <input type="checkbox" id="actif" name="actif" formControlName="actif">Actif</label>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Groupes/Rôles <label style="color: red;">*</label> </label>
                                <select id="groupes_roles" name="groupes_roles" formControlName="groupes_roles"  class="custom-select" data-style="py-0" required multiple>
                                    <option *ngFor="let group of group$ | async" [value]="group.id">{{ group.nom }}</option>
                                   </select>   
                                   <div class="help-block with-errors"></div>

                            </div> 
                        </div>
                            <div class="col-md-6" >
                            <div class="form-group">
                              <label>
                                <input type="checkbox" formControlName="send_email"> Envoyer un e-mail
                              </label>
                            </div>
                          </div>
                         </div>       
                         <div style="margin-bottom: 2rem; margin-bottom: +5px;" class="d-flex flex-wrap justify-content-end">                    
                         <button type="submit" class="btn btn-primary mr-2" [disabled]="!userForm.valid"><i class="fas fa-plus"></i>Ajouter</button>
                         <button type="reset" class="btn btn-danger" routerLink="/listuserapp">  <i class="fas fa-times"></i>Annuler</button>
                        </div> 
                     </form>
                 </div>
             </div>
         </div>
     </div>
     <!-- Page end  -->
 </div>
   </div>
<ng-template #successModal>
      <div class="modal-header success-header ">
        <h4 class="modal-title">Succès</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        L'utilisateur a été ajouté avec succès.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal()">Fermer</button>
      </div>
    </ng-template>